
.ui-tabs-panel {
	padding: 0;
	border-bottom: 1px #cccccc solid;
}

.ace_editor, .CodeMirror {
	height: 65vh;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.action {
	text-align: center;
	padding: 15px;
	background: var(--javlo-ui-bg-secondary);
}

.tabloading .ui-tabs-hide {
	display: block !important;
}

.add-component {
	margin: 15px 0 0 15px;
}

.select-group {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	 a {
		--btn-height: 28px;
		--btn-vertical-padding: 3px;
		padding: var(--btn-vertical-padding) 1em;
		line-height: calc(var(--btn-height) - var(--btn-vertical-padding) * 2);
		height: auto;
		background-color: #ddd;
		background-image: none;
		text-shadow: none;
		border: 1px #ddd solid;
		color: #555;
		border-radius: 3px;
		font-weight: bold;
		&.active {
			background-color: var(--javlo-ui-btn-toggle-bg-active) !important;
			color: #fff !important;
		}
	}
}

#form-add-component {
	.input {
		margin-right: .5rem;
		input {
			width: auto;
		}
	}
}

.editor-wrapper {
	display: flex;
	.editor {
		flex-grow: 3;
		margin-right: 1rem;
		max-width: 80%;
	}
	.help {
		ul {
			margin-left: 3rem;
		}
	}
}

.detected-fields {
	ul {
		padding:0;
		li {
			color: #333;
			&.last {
				padding-bottom: .5rem;
				border-bottom: 1px rgba(0,0,0,.2) solid;
				margin-bottom: .5rem;
			}
		}
	}
}
