.dropboxUrl, .running {
	display: block;
	margin: 50px auto;
	width: 200px;
	border: 1px #1081de solid;
	padding: 10px 10px 10px 10px;
}

.dropboxUrl span, .running span {	
	display: block;
	background-image: url("dropbox.png");
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 1.2em;
	padding: 20px 20px 20px 80px;
	text-align: center;	
}

#tools .special input {    
    float: right;
}

#tools p {    
    color: #656565;
    display: block;    
    font-size: 1em;
    font-weight: normal;    
    padding: 5px 20px 5px 0;
}