[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#preview_command .hidden {
	display: none;
}

#preview_command .current a {
	font-weight: bold;
}

#preview_command.edit table {
	width: 100%;
}

#preview_command table caption {
	display: none;
}

#preview_command .placeholder {
	font-style: italic;
}

#one-component-edit {
	font-size: 11px;
}

#one-component-edit div,#one-component-edit dl,#one-component-edit dt,#one-component-edit dd,#one-component-edit ul,#one-component-edit ol,#one-component-edit li,#one-component-edit h1,#one-component-edit h2,#one-component-edit h3,#one-component-edit h4,#one-component-edit h5,#one-component-edit h6,#one-component-edit pre,#one-component-edit code,#one-component-edit form,#one-component-edit fieldset,#one-component-edit legend,#one-component-edit input
	{
	margin: 0;
	padding: 0;
	border: 0 none;
}

#one-component-edit textarea,#one-component-edit p,#one-component-edit blockquote,#one-component-edit th,#one-component-edit td,#one-component-edit img
	{
	margin: 0;
	padding: 0;
	border: 0 none;
}

#one-component-edit table {
	border-collapse: collapse;
	border-spacing: 0;
}

#one-component-edit address,#one-component-edit caption,#one-component-edit cite,#one-component-edit code,#one-component-edit dfn,#one-component-edit em,#one-component-edit strong,#one-component-edit th,#one-component-edit var
	{
	font-style: normal;
	font-weight: normal;
}

#one-component-edit li {
	list-style: none;
}

#one-component-edit caption,#one-component-edit th {
	text-align: left;
}

#one-component-edit h1,#one-component-edit h2,#one-component-edit h3,#one-component-edit h4,#one-component-edit h5,#one-component-edit h6
	{
	font-size: 100%;
	font-weight: normal;
}

#one-component-edit q:before,#one-component-edit q:after {
	content: '';
}

#one-component-edit abbr,#one-component-edit acronym {
	border: 0;
	font-variant: normal;
}

#one-component-edit sup,#one-component-edit sub {
	line-height: -1px;
	vertical-align: text-top;
}

#one-component-edit sub {
	vertical-align: text-bottom;
}

#one-component-edit input,#one-component-edit textarea,#one-component-edit select
	{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#preview_command a.central-button {
	margin: 2px 0;
	border: 1px solid #CCCCCC;
	padding: 2px;		
	display: block;	
}

.edit-zone {
	border: 1px #E4A826 solid;
	background-color: #ffffff;
	z-index: 10000;
	overflow: visible;
	position: absolute;
	right: 60px;
	left: 60px;
	padding: 10px;
	margin: 1px;
	text-align: left;
	max-height: 400px;
}

.edit-one-component-header {
	background-color: #FC8E2F;
	text-align: left;
	margin-top: -3px;
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: 5px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 18px;
}

.edit-one-component-header span {
	margin: 2px;
	color: #ffffff;
	font-weight: bold;
	background-image: none;
	font-size: 10px;
}

.edit-one-component-header a {
	margin: 2px;
	padding: 0px;
	width: auto;
	height: auto;
	color: #ffffff;
	font-weight: bold;
	background-image: none;
	font-size: 10px;
	float: right;
}

.edit-one-component-header a img {
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
}

.edit-one-action {
	padding: 1px;
	text-align: right;
}

#one-component-edit input,#one-component-edit textarea {
	margin: 0px;
	border: 1px #7A7A7A solid;
	padding: 0px;
	background-color: #DDDDDD;
}

#one-component-edit textarea {
	width: 100%;
	-moz-box-sizing: border-box;
}

#one-component-edit input {
	width: auto;
}

#one-component-edit {
	color: #000000;
}

#one-component-edit a img {
	border: 0px none;
}

/* copy part of edit css */
#one-component-edit .component {
	border: 1px #bbbbbb solid;
	padding: 0px;
	font-size: 10px;
}

.component.fly {
	border: 2px red solid;
}

#one-component-edit .component .header {
	background-color: #bbbbbb;
	margin: 0px;
	border-top: 0px none;
	border-bottom: 1px #bbbbbb solid;
	font-weight: bold;
	height: 18px;
}

#one-component-edit .component .header .text {
	padding-top: 2px;
	padding-right: 3px;
	padding-left: 3px;
	float: left;
}

#one-component-edit .component .header .extract {
	padding-top: 2px;
	padding-right: 2px;
	float: right;
}

#one-component-edit .component .header input {
	font-size: 9px;
}

#one-component-edit .component .message {
	padding: 2px;
	border-top: 1px #BBBBBB solid;
	height: 16px;
	background-color: #EEEEEE;
}

#one-component-edit .component .message p {
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#one-component-edit .component .message .error {
	color: #ff0000;
}

#one-component-edit .component .message img {
	float: left;
	margin-right: 3px;
}

#one-component-edit .insert {
	text-align: center;
	margin: 5px;
}

#one-component-edit .component .header a {
	padding-left: 5px;
	color: #ffffff;
	font-weight: normal;
}

#one-component-edit .component .header a:hover {
	border: 0px none;
	text-decoration: underline;
}

#one-component-edit .component .header .delete {
	padding-top: 2px;
	padding-right: 2px;
	float: right;
}

#one-component-edit .component .specific {
	padding: 3px;
}

#one-component-edit .component .container {
	margin: 4px;
	border: 4px #e4a826 solid;
	padding: 4px;
}

#one-component-edit .component .select-style {
	padding-left: 3px;
	padding-right: 3px;
}

#one-component-edit .component .select-style label {
	padding-right: 2px;
}

#one-component-edit .list-container .selected img {
	border: 3px #fc8e2f solid;
}

#one-component-edit .list-container .name {
	margin-top: 1px;
	margin-bottom: 9px;
	font-size: 0.9em;
}

#one-component-edit a {
	color: #FC8E2F;
}

#one-component-edit .header a {
	display: none;
}

#one-component-edit .file-command {
	padding-left: 15px;
}

.reverselink-info {
	position: absolute;
	border: 2px yellow solid;
	background-color: #000000;
	color: #ffffff;
	display: none;
	text-align: center;
}

.reverselink-info a {
	display: block;
	padding: 6px;
}

.reverselink-info .title {
	padding: 3px;
	background-color: yellow;
	color: #000000;
	font-weight: bold;
}

.reverselink-info a {
	color: #ffffff;
}

/************************
**** preview_command ****
*************************/

/*** RESETER ***/
#preview_command figure, #preview_command .version, #preview_command .content, #preview_command .description, #preview_command,#preview_command h1, #preview_command h2, #preview_command h3, #preview_command h4, #preview_command li, #preview_command ul,#preview_command label,#preview_command img,#preview_command div,#preview_command a,#preview_command span,#preview_command input,#preview_command fieldset,#preview_command legend,#preview_command form,#preview_command select,#preview_command option,#preview_command .navigation
	{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-color: transparent;
	background-image: none;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #000000;
	display: block;
	list-style: none;
	font-weight: normal;
	width: auto;
	height: auto;
	text-shadow: none;
	line-height: normal; 
	text-align: left;
}

#message-container .notification {
	display: block;
	padding: 7px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	background-color: #ddd;
	border-bottom: 1px #777 solid;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0px 0px 7px #999;
	-moz-box-shadow: 0px 0px 7px #999;
	-webkit-box-shadow: 0px 0px 7px #999;
	z-index: 1000;
	vertical-align: middle;
	opacity: .95;
}

#message-container .error , #message-container .msgerror {	
	padding-left: 18px;
	background-image: url('../../images/icons/error.png') no-repeat left;
	color: #aa1111;
}

#message-container .info {	
	padding-left: 18px;
	background-image: url('../../images/icons/info.png') no-repeat left;
	color: #638EBD;
}

.pc_edit_action {
	display: none;
}

.pc_empty-component {
	margin: 2px;
	font-size: 1.1em;
	font-weight: bold;
}

#preview_command fieldset {
	border: 1px #aaaaaa solid;
	padding: 3px;
}

#preview_command .navigation a {
	color: #3333aa;
	text-decoration: none;
	max-width: 220px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pc_login label {
	display: block;
	margin-bottom: 2px;
	text-align: left;
}

#preview_command {
	position: fixed;
	background-color: #eeeeee;
	z-index: 999;
	text-align: center;
	box-shadow: 0px 0px 7px #999;
	-moz-box-shadow: 0px 0px 7px #999;
	-webkit-box-shadow: 0px 0px 7px #999;
	opacity: .90;	
}

.floating-preview #preview_command {
	top: 50px;
	right: 50px;
	width: 180px;	
}

body.fix-preview {
	margin-left: 260px;
} 

.fix-preview #preview_command {
	top: 0;
	left: 0;
	width: 260px;
}

#preview_command .component-list {	
	padding-left: 6px;
	margin-bottom: 6px;
}

#preview_command .component-list .component {
	line-height: 13px;
}

.fix-preview #preview_command .one_half {
	float: left;
	width: 46%;
	margin-right: 5px;
}

.fix-preview #preview_command input[type="text"] {
    width: 234px;
}

.fix-preview #preview_command .add-page input[type="text"] {
	width: 187px;
	display: inline;
}

#preview_command fieldset.closable {
	position: relative;
}		

#preview_command fieldset.closable .closable_action {
	position: absolute;
	display: block;			
	right: 12px;
	top: 3px;
	font-size: 0;
	background-color: #EEEEEE;
}

#preview_command .navigation li {
	margin-left: 6px;
}

#preview_command .navigation li.parent {
	margin: 0;
}

#preview_command .navigation .current {
	font-weight: bold;	
}

#preview_command .navigation .have-children a:after {
	content: "...";
} 

#preview_command fieldset.closable .closable_action.open {
	border: 2px #B1B1B1 solid;
	height: 6px;
	width: 6px;
	top: 2px;		
}

#preview_command .sortable-target {
	margin-left: -32px;
	background-color: #EEEEEE;
    border-bottom: 1px solid #A6C0DE;
    border-right: 0 none;
    border-top: 1px solid #A6C0DE;
    color: #333333;
    height: 20px;
}

#preview_command fieldset.closable .closable_action.close {
	border: 2px #B1B1B1 solid;
	height: 3px;
	width: 6px;
}

#preview_command h4 {
	margin: 12px 0 6px; 0;
	font-size: 12px;
	font-weight: bold;
}

#preview_command.pc_dragging {
	box-shadow: 0px 0px 14px #999;
	-moz-box-shadow: 0px 0px 14px #999;
	-webkit-box-shadow: 0px 0px 14px #999;
}

#preview_command .pc_body {
	padding: 5px;
}

#preview_command .pc_header {
	background-color: #aaaaaa;
	border-bottom: 1px #777777 solid;
	padding: 5px 19px 0 3px;
	vertical-align: middle;
	height: 16px;	
}

.floating-preview #preview_command {
	cursor: move;
}

#preview_command .pc_parent_link {
	margin-left: 4px;
}

#preview_command .pc_header img {
	margin-top: -2px;
	float: left;
	vertical-align: middle;
}

#preview_command .pc_line,.pc_command .pc_line {
	margin: 3px 0;
}

#preview_command .pc_line img {
	padding-left: 3px;
	vertical-align: middle;
}

#preview_command .pc_command .pc_form_line form {
	height: 23px;
}

#preview_command .pc_form_line .pc_line {
	padding: 0 2px;
	float: left;
}

#preview_command .pc_command form {
	margin: 0 6px 3px 6px;
	padding: 0;	
	width: 16px;
	height: 16px;
}

#preview_command .pc_command .pc_form_line input, #preview_command .pc_command .pc_form_line input:hover {
	#text-indent: -10000px; /* remove text on firefox */
	font-size: 0px;
	border: 0 none;
	background-repeat: none;
	width: 16px;
	height: 16px;
	background-repeat : no-repeat;
	background-position: center center;
}

#preview_command .pc_command #pc_edit_button {
	background-image: url('../../images/icons/edit_preview.png');
}

#preview_command .pc_command #pc_edit_button.pc_edit_true {
	background-image: url('../../images/icons/page_preview.png');
}

#preview_command .pc_command #pc_publish_button {
	background-image: url('../../images/icons/publish.png');
}

#preview_command .pc_command #pc_del_page_button {
	background-image: url('../../images/icons/del_page.png');
}

#preview_command #pc_edit_mode_button {
	background-image: url('../../images/icons/edit.png');
	float: right;
	margin 2px 2px 0 0;
	font-size: 0;
	font-size: 0px;
	border: 0 none;
	background-repeat: none;
	width: 16px;
	height: 16px;
}

#preview_command .pc_command #tc_replace_current_page_button {
	background-image: url('../../images/icons/copy.png');
}

#preview_command .pc_command #tc_replace_current_page_and_children_button {
	background-image: url('../../images/icons/add_page.png');
}

#preview_command fieldset {
	margin-top: 2px;
	text-align: left;
}

#preview_command legend {
	vertical-align: middle;
	padding: 0 3px 0 0;
}

#preview_command legend img {
	padding: 0 4px;
	vertical-align: middle;
}

#preview_command .pc_dragging {
	border: 1px red solid;
}

#preview_command input,#preview_command select {
	border-top: 1px #999999 solid;
	border-right: 1px #444444 solid;
	border-bottom: 1px #444444 solid;
	border-left: 1px #999999 solid;
	background-color: #cccccc;
}

#preview_command input[type="text"] {
	width: 156px;
}

#preview_command .button-right {
	float: right;
}

#preview_command .macro {
	padding-top: 3px;
	padding-bottom: 3px;
}

#pc_macro input {
	width: 99%;
	overflow: hidden;
}

#preview_command #pc_login input {
	width: 160px;
}

#children_list {
	text-align: left;
}

#preview_command .pc_menu ul {
	margin: 10px 0 0 0;
	padding: 0px;
	list-style: none;
}

#preview_command .pc_form_line input {
	margin: 2px;
	border: 0px none;
	background-color: transparent;
	color: #4747B2;
	cursor: pointer;
	text-align: left;
	width: 70px;
}

#preview_command .pc_menu li {
	margin: 0 0 0 2px;
	padding: 4px 0 4px 2px;
	border-bottom: 1px #bbbbbb solid;
}

#preview_command .pc_menu .page-selected {
	margin: 0 0 0 18px;
}

#preview_command .pc_menu li.first {
	border-top: 1px #bbbbbb solid;
}

#preview_command .pc_menu li img {
	float: left;
}

#preview_command .pc_menu li input {
	vertical-align: middle;
	margin-right: 2px;
}

#preview_command .pc_menu li input[type="radio"] {
	padding: 0px;
	border: 0px none;
	background-color: transparent;
}

#preview_command .pc_menu .insert-here {
	margin-top: -13px;
	margin-left: 0px;
	border: 0px none;
	float: left;
}

#preview_command .pc_menu .insert-here.first {
	margin-top: -11px;
}

#preview_command .pc_menu .insert-here input {
	margin: 0px;
	border: 0px none;
	padding: 0px;
	height: 16px;
	width: 16px;
	font-size: 0px;
	background-image: url('../../images/icons/go.png');
	background-repeat: no-repeat;
	background-color: transparent;
}

#preview_command .page-not-selected.insert-here {
	display: none;
}

#preview_command .pc_menu .insert-here.page-selected {
	display: inherit;
}

#insert_page input[type="text"] {
	margin-bottom: 3px;
}

.pc_command legend {
	color: #000000;
}

#preview-layer, #droppable-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;	
	font-size: 0;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 0px 7px #999;
	z-index: 100000;	
}

#preview-layer.ui-draggable-dragging {
	/*border: 4px #E3364A solid;*/
	width: 40px;
	height: 40px;
	opacity: .60;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -khtml-opacity: 0.60;
    -moz-opacity: 0.60;
}

#preview-layer.ui-draggable-dragging span {
	background-color: transparent;
}

#preview-layer span, #droppable-layer span {
	display: block;	
	height: 9999px;
	opacity: .30;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -khtml-opacity: 0.30;
    -moz-opacity: 0.30;
}

#preview-layer span {
	background-color: #E3364A;
}

#droppable-layer span {	
	background-color: #36E34A;	
	border: none;	
}

.free-edit-zone {
	display: none;
}

.free-edit-zone.droppable {
	padding: 4px;
	display: block;
	border-radius: 3px 3px 3px 3px;
	background-color: #aaaaaa;
	opacity: .30;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -khtml-opacity: 0.30;
    -moz-opacity: 0.30;
    margin-bottom: 4px;
}

.free-edit-zone.droppable span {
   display: block;
   border: 2px #777777 dashed;
   border-radius: 3px 3px 3px 3px;
}

.drop-zone {
	margin-bottom: 4px;
	padding: 2px;
	display: block;
	border-radius: 3px 3px 3px 3px;
	background-color: #aaaaaa;
	opacity: .30;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -khtml-opacity: 0.30;
    -moz-opacity: 0.30; 
    overflow: hidden;
}

.drop-zone span, .free-edit-zone.drop-selected span {
   display: block;
   border: 2px #eeeeee dashed;	
   border-radius: 3px 3px 3px 3px;
}


#pc_upload #upload-zone {
	text-align: center;	
}

#pc_upload #upload-zone.dragover span {
	color: #333333;
	border-color: #333333;
}

#pc_upload #upload-zone span {
	margin: 6px 0;
	border: 1px #bbbbbb solid;
	padding: 6px;
	display: block;	
	font-size: 16px;
	color: #bbbbbb;
	text-shadow: gray;
}

/**************/
/** jcreator **/
/**************/

/*** RESETER ***/
.jcreator,.jcreator a, .jcreator img, .jcreator .avatar, .jcreator .date, .jcreator .username, .jcreator .email, .jcreator div
	{
	margin: 0;
	border: 0 none;
	padding: 0;
	background-color: transparent;
	background-image: none;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #000000;
	display: block;
	list-style: none;
	font-weight: normal;
	height: auto;
	text-shadow: none;
	line-height: normal; 
	float: none;
}

.jcreator.notfound {
	display: none;
}

.jcreator {
	width: 220px;
	padding: 3px;
	border: 1px #999999 solid;
	margin: 3px 3px 3px -6px;
	box-shadow: 0 0 5px #999999;
	overflow: hidden;
}

.jcreator.title, .jcreator.subtitle, .jcreator.description, .jcreator.date, .jcreator.location, .jcreator.page-reference {
	display: none;
}

.jcreator a {
	color: #0000ff;
}

.jcreator.previous-same {
	display: none;
}

.jcreator .avatar {
	float: left;
	margin-right: 3px;
}

.jcreator img {
	width: 50px;
	height: 50px;
}

#preview_command .shared-content {
	overflow: auto;
	max-height: 600px;
}

#preview_command #shared-content-search-form input {
	display: inline;
}

#preview_command #shared-content-search-form input[type=text] {
	width: 210px;
	text-transform: none;
}

#preview_command #shared-content-search-form input[type=submit] {
	float: right;
	padding: 2px;
}

#preview_command .shared-content .content-wrapper {
	margin: 5px 0;
	border-bottom: 1px solid #AAAAAA;
	padding: 5px;	
	overflow: hidden;
	display: block;
}

#preview_command .shared-content.image .content-wrapper {
	width: 43%;
	float: left;
	overflow: hidden;
}

#preview_command .shared-content .content {
	display: block;	
	overflow: hidden;
	width: 100%;	
}

#preview_command .shared-content h4 {
	font-size: 12px;
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	height: 14px;
	overflow: hidden;
	width: 100px;
}

#preview_command .shared-content .content figure {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 5px;	
}

#preview_command .shared-content .content .description {
	height: 75px;
	overflow: hidden;
}

#preview_command .shared-content .without-description {
	text-align: center;
}

#preview_command .shared-content .without-description img {
	width: 100%;
	display: inline;
} 