<html dir="ltr" class="edit-preview">
<head>
<style type="text/css">

body {
    color: #16212c;
    font-family: arial,freeSans,sans-serif;       
}

h1,h2,h3,h4,h5,h6 {
	color: #f61851;
}

.global-image figure {
	width: 100%;
	margin: 0;
	padding: 0;
}

.global-image img {
	width: 100%;
}

</style>
</head>
<body>
	<table id="main" style="font-family: arial,freeSans,sans-serif; color: #16212c; width: 100%;">
		<tr>
			<td align="center">
				<table width="717" style="width: 717px;">
					<tr><td id="content">[content]</td></tr>
				</table>
			</td>
		</tr>
	</table>
</body>