<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login Page | Mandy Lane - Premium Admin Template</title>
<link rel="stylesheet" media="screen" href="css/style.css" />
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/ie9.css"/>
<![endif]-->

<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/ie8.css"/>
<![endif]-->

<!--[if IE 7]>
    <link rel="stylesheet" media="screen" href="css/ie7.css"/>
<![endif]-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/custom/general.js"></script>
</head>

<body>

<div class="loginlogo">
	<img src="images/logo.png" alt="Logo" />
</div><!--loginlogo-->

<div class="notification notifyError loginNotify">Invalid username or password. (Type anything)</div>

<form id="loginform" action="dashboard.html" method="post">
<div class="loginbox">
	<div class="loginbox_inner">
    	<div class="loginbox_content">
            <input type="text" name="username" class="username" />
            <input type="password" name="password" class="password" />
            <button name="submit" class="submit">Login</button>
        </div><!--loginbox_content-->
    </div><!--loginbox_inner-->
</div><!--loginbox-->

<div class="loginoption">
	<a href="" class="cant">Can't access your account?</a>
    <input type="checkbox" name="remember" /> Remember me on this computer.
</div><!--loginoption-->
</form>

</body>
</html>
