<div class="content help">
<h2>Define field in HTML : </h2>
${field.#type#.#name#.#data#}
<h3>#data# could be : </h3>
<ul>
	<li><strong>html :</strong> field as HTML</li>
	<li><strong>value :</strong> brut value</li>
	<li><strong>Text :</strong> value without html tag</li>
	<li><strong>displayValue :</strong> value with link and replace jstl</li>
	<li><strong>link :</strong> link (file, url, image...)</li>
	<li><strong>previewURL :</strong> url to filtered image</li>
</ul>
<h2>Field type : </h2>
<ul>
<li> <strong> h1..h6 <span class = "sep">: </span> </strong> a title from level 1 to 6 </li>
<li> <strong> text <span class = "sep">: </span> </strong> a simple text. </li>
<li> <strong> large-text <span class = "sep">: </span> </strong> a bigger text </li>
<li> <strong> wysiwyg-text <span class = "sep">: </span> </strong> a text with formatting. </li>
<li> <strong> file <span class = "sep">: </span> </strong> static resource </li>
<li> <strong> image <span class = "sep">: </span> </strong> an image (image.filter option) </li>
<li> <strong> boolean <span class = "sep">: </span> </strong> value true / false, editing a checkbox (example: full to prevent an event from occurring) full) </li>
<li> <strong> open-list <span class = "sep">: </span> </strong> an open list, that is to say it will propose a list with the contents of the site, but it will still be possible to add an element. </li>
<li> <strong> open-multi-list <span class = "sep">: </span> </strong> as the open list, but you can select multiple elements. </li>
<li> <strong> external-link <span class = "sep">: </span> </strong> external link. (URL: url, title: link label) </li>
<li> <strong> internal-link <span class = "sep">: </span> </strong> link to a site page. (link, linkLabel) </li>
<li> <strong> list-one <span class = "sep">: </span> </strong> simple picklist </li>
<li> <strong> size.small <span class = "sep">: </span> </strong> sets the size under which the content will be marked as 'small' </li>
<li> <strong> size.large <span class = "sep">: </span> </strong> defines the size beyond which the content will be marked as 'wide' </li>
<li> <strong> number <span class = "sep">: </span> </strong> a number</li>
<li></li>
</ul></div>