/* BTN */



/* ----- Btn ----- */
.btn {
	display:inline-block;
	position:relative;
	margin:0 8px 0 0;
	padding:6px 10px;
	font-family:inherit;
	font-size:1em;
	line-height:1em;
	background:#c4c4c6;
	color:#fff;
	border:0;
	border-bottom:2px solid rgba(0,0,0, .1);
	border-radius:2px;
}
.btn:before,
.btn:after {
	display:inline-block;
	vertical-align:middle;
	width:14px;
	height:14px;
	content:"";
	background:url(../../img/bg/icon-btn-large.png) no-repeat 0 0;
	display:none;
}
.btn:before {
	margin:-4px 5px -2px 0;
}
.btn:after {
	margin:-4px 0 -2px 5px;
}
/* ----- Btn (Hover, Focus) ----- */
.btn:hover,
.btn:focus {
	background:#b5b5b7;
	border-bottom:2px solid rgba(0,0,0, .3);
	text-decoration:none;
	color:#fff;
}



/* ----- Btn-Large ----- */
.btn-large {
	font-size:1.2em;
	padding:8px 16px;
}
.btn-large:before,
.btn-large:after {
	display:inline-block;
	vertical-align:middle;
	width:20px;
	height:20px;
	content:"";
	background:url(../../img/bg/icon-btn-large.png) no-repeat 0 0;
	display:none;
}
.btn-large:before {
	margin:-4px 5px -3px -5px;
}
.btn-large:after {
	margin:-4px -5px -3px 5px;
}





/* ----- Btn-Group ----- */
.btn-group {
	overflow:hidden; 
}
.btn-group:after {
	display:table;
	clear:both;
	content:"";
}
.btn-group-center {
	text-align:center !important;
}
.btn-group-center .btn,
.btn-group-center .btn {
	float:none !important;
	margin:0 4px !important;
}





/* ----- Btn (Float) ----- */
.btn-left {
	float:left;
	margin:0 8px 0 0;
}
.btn-right {
	float:right;
	margin:0 0 0 8px;
}





/* ----- Btn (Color) ----- */
.btn-color {
	background:#128bf3;
}
.btn-color:hover,
.btn-color:focus {
	background:#007ce7;
}






/* ----- Btn (Icon) ----- */
.btn.btn-next:after { display:inline-block; background-position:-14px -40px;}
.btn.btn-prev:before { display:inline-block; background-position:0 -40px;}

.btn.btn-preview:before { display:inline-block; background-position:-28px -40px;}
.btn.btn-send:before,
.btn.btn-export:before,
.btn.btn-save:before { display:inline-block; background-position:-42px -40px;}

.btn.btn-cancel:before { display:inline-block; background-position:-56px -40px;}
.btn.btn-info:before { display:inline-block; background-position:-70px -40px;}

.btn.btn-creat-new:before { display:inline-block; background-position:-84px -40px;}
.btn.btn-edit:before { display:inline-block; background-position:-98px -40px;}

.btn.btn-plus:before { display:inline-block; background-position:-112px -40px;}
.btn.btn-minus:before { display:inline-block; background-position:-126px -40px;}







/* ----- Btn-Large (Icon) ----- */
.btn-large.btn-next:after { display:inline-block; background-position:-20px 0;}
.btn-large.btn-prev:before { display:inline-block; background-position:0 0;}

.btn-large.btn-preview:before { display:inline-block; background-position:-40px 0;}
.btn-large.btn-send:before,
.btn-large.btn-export:before,
.btn-large.btn-save:before { display:inline-block; background-position:-60px 0;}

.btn-large.btn-cancel:before { display:inline-block; background-position:-80px 0;}
.btn-large.btn-info:before { display:inline-block; background-position:-100px 0;}

.btn-large.btn-creat-new:before { display:inline-block; background-position:-120px 0;}
.btn-large.btn-edit:before { display:inline-block; background-position:-140px 0;}

.btn-large.btn-plus:before { display:inline-block; background-position:-160px 0;}
.btn-large.btn-minus:before { display:inline-block; background-position:-180px 0;}



