<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Invoice | Mandy Lane - Premium Admin Template</title>
<link rel="stylesheet" media="screen" href="css/style.css" />
<link rel="stylesheet" href="css/plugins/elfinder.css" type="text/css"/>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/ie9.css"/>
<![endif]-->

<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/ie8.css"/>
<![endif]-->

<!--[if IE 7]>
    <link rel="stylesheet" media="screen" href="css/ie7.css"/>
<![endif]-->

<script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/custom/general.js"></script>
<script type="text/javascript" src="js/plugins/elfinder.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('#fileManager').elfinder({
		url : 'php/connector.php',
	})
});
</script>

</head>

<body class="bodygrey">

<div class="headerspace"></div>

<div class="header">
	
    <form id="search" action="" method="post">
    	<input type="text" name="keyword" /> <button class="searchbutton"></button>
    </form>
    
    <div class="topheader">
        <ul>
            <li class="note">
                <a href="pages/message.html" class="messagenotify">
                    <span class="wrap">
                        <span class="thicon msgicon"></span>
                        <span class="count">1</span>
                    </span>
                </a>
            </li>
            <li class="note">
            	<a href="pages/info.html" class="alertnotify">
                	<span class="wrap">
                    	<span class="thicon infoicon"></span>
                        <span class="count">5</span>
                    </span>
                </a>
            </li>
        </ul><!--horMenu-->
    </div><!--topheader-->


    <!--logo-->
	<a href=""><img src="images/logo2.png" alt="Logo" /></a>
    
    <div class="tabmenu">
    	<ul>
        	<li><a href="dashboard.html" class="dashboard"><span>Dashboard</span></a></li>
            <li><a href="elements.html" class="elements"><span>Elements</span></a>
            	<ul class="subnav">
                	<li><a href=""><span>Sub Menu One</span></a></li>
                    <li><a href=""><span>Sub Menu Two</span></a></li>
                    <li><a href=""><span>Sub Menu Three</span></a></li>
                </ul>
            </li>
            <li><a href="reports.html" class="reports"><span>Reports</span></a></li>
            <li><a href="users.html" class="users"><span>Users</span></a></li>
        </ul>
    </div><!--tabmenu-->
    
    <div class="accountinfo">
    	<img src="images/avatar.png" alt="Avatar" />
        <div class="info">
        	<h3>John Doe</h3>
            <small>youremail@domain.com</small>
            <p>
            	<a href="">Account Settings</a> <a href="index.html">Logout</a>
            </p>
        </div><!--info-->
    </div><!--accountinfo-->
</div><!--header-->


<div class="sidebar">
	<div id="accordion">
        <h3 class="open">Main Navigation</h3>
        <div class="content" style="display: block;">
        	<ul class="leftmenu">
            	<li><a href="dashboard.html" class="home">General</a></li>
                <li><a href="forms.html" class="form">Form Styling</a></li>
                <li><a href="tables.html" class="table">Table Styling</a></li>
                <li><a href="gallery.html" class="gallery">Image Gallery</a></li>
                <li><a href="grid.html" class="grid">Grid Styling</a></li>
                <li><a href="calendar.html" class="calendar">Calendar</a></li>
                <li><a href="buttons.html" class="buttons">Buttons &amp; Icons</a></li>
                <li><a href="editor.html" class="editor">WYSIWYG Editor</a></li>
                <li><a href="filemanager.html" class="file">File Manager</a></li>
                <li class="current"><a href="invoice.html" class="form">Invoice</a></li>
                <li><a href="404.html" class="error">404 Page</a></li>
            </ul>
        </div>
        <h3 class="open">Custom Text</h3>
        <div class="content" style="display: block;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
	</div>
    
    <br clear="all" />
	
</div><!--leftmenu-->


<div class="maincontent">

    <div class="breadcrumbs">
    	<a href="dashboard.html">Dashboard</a>
        <span>Invoice</span>
    </div><!-- breadcrumbs -->
	
    <div class="left">
    	
        <h1 class="pageTitle">Invoice</h1>
        
        <div class="invoice three_fourth last">
        	<div class="invoice_inner">
            
            	<span>[Logo here]</span>
                
                <h2 class="title">Invoice</h2>
                
                <br clear="all" /><br />
                
                <div class="one_half">
                	John Doe <br />
                    Company Name <br />
                    Attn: Accounts Receivable MS 22 <br />
                    20121 Owen Business Park <br />
                    Mountain View, CA 32423
                </div><!--one_half -->
                
                <div class="one_half last">
                	<div class="one_half">
                    	<strong>
                        	Number: <br />
                            Date: <br />
                            Job Number: <br />
                            PO # <br />
                            Charge # </strong>
                    </div><!-- one_half -->
                    
                    <div class="one_half last alignright">
                    	2323 <br />
                        December 5, 2011 <br />
                        54-GH-23D6-L23 <br />
                        43344 <br />
                        1-232-456-354654-6
                    </div><!-- one_half last -->
                </div><!-- one_half last -->
                
                <br clear="all" /><br />
                
                <div class="one_fourth">
                	<strong>
                    	Job Name: <br />
                        Agency Contact: <br />
                        Description: </strong>
                </div><!-- one_third -->
                
                <div class="three_fourth last">
                	Web Development <br />
                    Justin Miller <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed tristique diam. Suspendisse tempus nibh ac velit interdum rutrum. Aliquam ullamcorper bibendum elit eget egestas. Pellentesque sodales, justo at feugiat sagittis, quam massa luctus leo, et facilisis tortor nibh mollis nulla. Nulla facilisis sem et dolor congue nec porta enim varius. Quisque ac dolor felis, in laoreet est. Sed a urna est. Phasellus sed elementum ipsum.
                </div><!-- three_fourth last -->
                
                <br clear="all" /><br />
                
                <table cellpadding="0" cellspacing="0" class="invoicetable" width="100%">
                	<thead>
                    	<tr>
                        	<td width="40%">Description</td>
                            <td width="30%" align="right">Hours Billed</td>
                            <td width="30%" align="right">Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                    	<tr>
                        	<td>Logo Design</td> 
                            <td align="right">12.5</td>
                            <td align="right">$ 500.00</td>
                        </tr>
                        <tr>
                        	<td>PSD Layout</td> 
                            <td align="right">22.5</td>
                            <td align="right">$ 980.00</td>
                        </tr>
                        <tr class="subtotal">
                        	<td>Design Subtotal</td> 
                            <td align="right">122.5</td>
                            <td align="right">$ 1 675.00</td>
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr>
                        	<td>HTML/CSS</td> 
                            <td align="right">40</td>
                            <td align="right">$ 3 000.00</td>
                        </tr>
                        <tr>
                        	<td>Backend Integration</td> 
                            <td align="right">55</td>
                            <td align="right">$ 4 980.00</td>
                        </tr>
                        <tr>
                        	<td>Database Design</td> 
                            <td align="right">18</td>
                            <td align="right">$ 1 480.00</td>
                        </tr>
                        <tr class="subtotal">
                        	<td>Coding Subtotal</td> 
                            <td align="right">233</td>
                            <td align="right">$ 6 175.00</td>
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr>
                        	<td>Domain</td> 
                            <td align="right">2 years</td>
                            <td align="right">$ 22.00</td>
                        </tr>
                        <tr>
                        	<td>Hosting</td> 
                            <td align="right">3 years</td>
                            <td align="right">$ 300.00</td>
                        </tr>
                        <tr class="subtotal">
                        	<td>Server Subtotal</td> 
                            <td align="right">n/a</td>
                            <td align="right">$ 322.00</td>
                        </tr>
                        <tr>
                        	<td colspan="3" class="line">&nbsp;</td> 
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr class="subtotal">
                        	<td>SUB-TOTAL</td> 
                            <td align="right">32</td>
                            <td align="right">$ 8 322.00</td>
                        </tr>
                        <tr>
                        	<td><em>*4.5% Sales Tax</em></td> 
                            <td align="right">&nbsp;</td>
                            <td align="right"><em>$ 122.00</em></td>
                        </tr>
                        <tr>
                        	<td colspan="3">&nbsp;</td> 
                        </tr>
                        <tr class="subtotal">
                        	<td>TOTAL</td> 
                            <td align="right">&nbsp;</td>
                            <td align="right" class="bordertop">$ 8 622.00</td>
                        </tr>
                    </tbody>
                </table>
                
                <br />
                
                <div class="one_third">
                	<div class="one_half">
                    	<strong>DUE DATE <br />
                        PAYMENT TERMS </strong>
                    </div><!-- one_half -->
                    <div class="one_half last">
                    	January 01, 2011 <br />
                        NET
                    </div><!-- one_half -->	
                </div><!-- one_third -->
                
                <div class="two_third last alignright">
                	<a href="" class="iconlink">Process Payment</a>
                </div><!-- two_third last -->
            </div><!-- invoice_inner -->
        
        </div><!-- invoice three_fourth last -->
        
             
    </div><!--left-->
    
    <br clear="all" />
    
</div><!--maincontent-->

<br />
<div class="footer footer_float">
	<div class="footerinner">
    	&copy; 2011. Mandy Lane Premium Template. All Rights Reserved.
    </div><!-- footerinner -->
</div><!-- footer -->

</body>
</html>
