/* FOR-MENU */



/* ----- For-Menu ----- */
.for-menu {}
.for-menu > .container {}

/* ----- Menu ----- */
#menu {
	background:#400d0d;
	height:40px;
}

#menu ul {
	margin:0;
	margin-left:200px;
	padding:0;
	list-style:none;
}
#menu ul li {
	display:block;
	float:left;
	margin:0;
	font-weight:700;
}
#menu ul li a {
	display:block;
	float:left;
	height:40px;
	line-height:40px;
	color:white;
	padding:0 10px;
	border-bottom:2px solid #000;
}
#menu ul li a:hover {
	text-decoration:none;
}




/* ----- Menu-Colors ----- */
#menu ul li.welcome a { border-bottom-color:#6CF;}
#menu ul li.welcome a:hover,
#menu ul li.welcome.active a { background:#6CF;}

#menu ul li.administration a { border-bottom-color:#b90000;}
#menu ul li.administration a:hover,
#menu ul li.administration.active a { background:#b90000;}

#menu ul li.eu a { border-bottom-color:#00C;}
#menu ul li.eu a:hover,
#menu ul li.eu.active a { background:#00C;}

#menu ul li.events a { border-bottom-color:#F90;}
#menu ul li.events a:hover,
#menu ul li.events.active a { background:#F90;}

#menu ul li.multimedia a { border-bottom-color:#90C;}
#menu ul li.multimedia a:hover,
#menu ul li.multimedia.active a { background:#90C;}


#menu ul li.archive a { border-bottom-color:#090;}
#menu ul li.archive a:hover,
#menu ul li.archive.active a { background:#090;}




















