/* LISTING */



/* ----- Listing ----- */
.listing {
	position:relative;
	margin-left:-20px;
}




/* ----- Thumb ----- */
.thumb {
	display:block;
	float:left;
	width:33.3333%;
	height:200px;
	margin-bottom:20px; 
}
.thumb-wrap {
	display:block;
	margin:0 0 0 20px;
	overflow:hidden;
}
/* ----- Th-Image ----- */
.thumb .th-image {
	margin:0 0 10px 0;
}
.thumb .th-image img {
	display:block;
	width:100%;
}
/* ----- Th-Description ----- */
.thumb .th-description {}
.thumb h1 {}
.thumb h2 {}
.thumb h3 {
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
	font-size:1.1em;
}
.thumb h3 a { color:#400d0d;}
.thumb h3 a:hover { color:#b90000;}
.thumb h4 {}
.thumb p {
	font-size:.9em;
	display:none;
}






/* ----- Thumb Big ----- */
.thumb-big {
	float:none;
	width:100%;
	height:auto;
	margin-bottom:30px;
}
.thumb-big .thumb-wrap {
	border-bottom:2px solid #eee;
	padding-bottom:30px;
}
.thumb-big .th-image {
	float:left;
	width:50%;
	margin:0;
}
.thumb-big .th-description {
	float:right;
	width:50%;
	padding-left:20px;
}
.thumb-big h3 {
	font-size:2.1em;
}
.thumb-big p {
	display:block;
	margin:0;
}


