<!DOCTYPE html>
<html dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<title>${info.template.name}</title>
<style type="text/css">
<jsp:include page="css/style.css" />
<jsp:include page="css/web.css" />
<jsp:include page="css/integration.css" />
<c:set var="template" value="${info.template.style}" scope="request" />
body .association-wrapper, body .page-wrapper {    
	<jsp:include page="css/styles.jsp" />
	margin-left: auto;
	margin-right: auto;
}
<jsp:include page="css/dynamic_css.jsp" />
@media screen and (max-width: ${info.template.style.width}) {
	.responsive-true table.association-wrapper {width: 100%;}
}
</style>
</head><c:set var="outerBackgroundColor" value="" /><c:if test="${not empty info.template.style.outerBackgroundColor}"><c:set var="outerBackgroundColor" value="background-color: ${info.template.style.outerBackgroundColor}" /></c:if>
<body id="body" style="-webkit-font-smoothing: antialiased; width: 100% !important; -webkit-text-size-adjust: none;${outerBackgroundColor}" class="${pageClass} responsive-${info.template.style.responsive}">
<div class="style_wrapper" style="color: ${info.template.style.finalTextColor};	font-size: ${info.template.style.finalTextSize}; font-family: ${info.template.style.finalFont};">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%" align="center" valign="top">		
			<table class="${not param.pageAssociation?'page-wrapper':'inside-wrapper'}" border="0" align="center" cellpadding="0" cellspacing="0">
				<c:if test="${empty param.lastRowFooter}">
				<tr id="header-container">
					<td align="center">
						<jsp:include page="/jsp/view/template/dynamic.jsp" />							
					</td>
				</tr>
				</c:if>
				<c:if test="${not empty param.lastRowFooter}">
					<tr id="header-container">
						<td align="center">
							<jsp:include page="/jsp/view/template/dynamic.jsp?lastRow=false" />							
						</td>
					</tr>
					<tr id="footer-row">
						<td style="vertical-align: bottom;"><jsp:include page="/jsp/view/template/dynamic.jsp?lastRow=true" /></td>
					</tr>
				</c:if>
			</table>			
		</td>
	</tr>
</table>
</div>
</body>
</html>