._page_associate {
	page-break-after:always;
}

._page_associate.last {
	page-break-after:auto;
}

body {	
	margin: 0;
	padding: 0;
}

img, figure {
    margin: 0;
    padding: 0;
	display: block;
	border: 0 none;
}

.date {
	text-align: right;
	font-style: italic;
}

.image-left img, .image-right img {
	width: 200px;
}

#zonea .image-left img, #zonea .image-right img,#zoneb .image-left img, #zoneb .image-right img {
	width: 100px;
}


p, ul, .internal-link, .unsubscribe-link, .date, .external-link, .pdf-link, .image-left, .image-right {
	margin: 15px;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;		
	margin: 15px;	
	line-height: normal;
}

table {
    border-collapse: collapse;
    font-size: inherit;
    font-style: inherit;
}

table td, table th {
	border-collapse: collapse;
	margin: 0;
	border: 0 none;
	padding: 0;
	vertical-align: top;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 13px;
}

h4,h5,h6 {
	font-size: 12px;
}


h1, h2, h1 a,h2 a {
    color: #f7941d;
}

h3, h4, h5, h6, h3 a,h4 a,h5 a,h6 a {
    color: #416bb3;
}

#header h1,#header h2,#header h3,#header h4,#header h5,#header h6,#footer h1,#footer h2,#footer h3,#footer h4,#footer h5,#footer h6 {    
	color: white;	
	margin: 0;
	padding: 0;
}

#header img {
	display: block;
}

h1 a:active,h2 a:active,h3 a:active,h4 a:active,h5 a:active,h6 a:active
	{
	color: black !important;
}

h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited
	{
	color: black !important;
}

table td {
	border-collapse: collapse;
}

#footer a, #header a {
	color: #ffffff;
}

.full img, .banner img {
	display: block;
    width: 100%;
    border: 0 none;
}

ul {
	padding-left: 12px;	
}

.float-image {
	margin: 0 15px 5px 15px;
}

.full .float-image img, .banner .float-image img {
	width: 100%;		
}

.float-image p {
	padding: 0;
	margin: 0;	
}

.full .float-image .image-wrapper, .banner .float-image .image-wrapper {
	width: 50%;	
	margin: 0 0 5px 0;	
}

.float-image.left .image-wrapper {
	margin-right: 5px;
}

.float-image.right .image-wrapper  {
	margin-left: 5px;
}

.pdf-head {
	margin: 5px 0;
}
