.jcreator {
	display: none;
}

.pdf-head {
	margin-bottom: 10px;
}

.colored-wrapper {
	margin-bottom: 15px;
}
	
.colored-wrapper {	
	padding: 15px;	
}

.ExternalClass {
	width: 100%;
}

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font,
	.ExternalClass td, .ExternalClass div {
	line-height: 100%;
}

span.yshortcuts {
	color: #000;
	background-color: none;
	border: none;
}

body {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

ul, ol, .table-ul, .table-ol {
	margin-left: 12px;
	padding: 0;
}

ul, ol {
	margin-left: 24px;
}

li, .table-li {
	padding-right: 12px;
}

p, ul, .table-list-wrapper, .global-image, .external-link, .internal-link,
	.unsubscribe-link, .file {
	margin-bottom: 10px;
}

ul ul {
	margin-bottom: 0;
}

.ReadMsgBody {
	width: 100%;
}

.ExternalClass {
	width: 100%;
}

body {
	width: 100% !important;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	color: #000000;
	margin: 0;
	padding: 0;
}

img, figure {
	margin: 0;
	padding: 0;
	display: block;
	border: 0 none;
}

.date {
	text-align: right;
	font-style: italic;
}

.zone1 p {
	margin-bottom: 0;
}

.zone2 p {
	margin-top: 0;
}

.file .file, .external-link .external-link {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0 0 10px 0;
}

table {
	border-collapse: collapse;
	font-size: inherit;
	font-style: inherit;
}

table td, table th {
	border-collapse: collapse;
	vertical-align: top;
}

#body table.table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#body table.table th {
	color: #000000;
	background-color: #dddddd;
	text-align: center;
}

table.table td, table.table th {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #bbbbbb;
	vertical-align: top;
}

.global-image.full img, .global-image.banner img, .global-image.full-flip img, .global-image.banner-flip img {
	border: 0 none;
	display: block;
	width: 100%;
}

.float-image.right {
	width: 100%;
}

.float-image img {
	display: inline-block;
}

.float-image.right .image-wrapper {
	text-align: right;
}

.full .float-image .image-wrapper, .banner .float-image .image-wrapper {
	width: 50%;
	margin: 0 0 5px 0;
}

.float-image p, .float-image-width p {
	padding: 0;
	margin: 0;
}

.file .info {
    font-style: italic;
    padding-left: 3px;
}

.file .size {
    display: inline-block;
    padding-left: 2px;
}

table.float-image, table.float-image  td, table.float-image  th {
	border-collapse: separate;
}

.end-area {
	font-size: 0;
	height: 0;
	border: 0 none;
	margin: 0;
	padding: 0;
}

._page_associate, .style_wrapper {
	width: 100%;
}

.global-image .center img, .global-image .center figure {
	display: block;	
	margin: 0 auto;
	
}

table.float-image-width {
	width: 100%;
}

.important {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.text.small {
	font-size: 0.8em;
}

.text.big {
	font-size: 1.2em;
}

.inside-wrapper {
	width: 100%;
}