<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"
%>@font-face {
    font-family: Myriad Pro Regular;
    src: url("fonts/myriad-web-pro.ttf");
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

