html {
	margin-top: 162px !important;
}

#preview_command {
	.sidebar {
		.tab-content {
			padding: 20px 0 0;
		}
		button .glyphicon {
			display: none;
		}
	}

	.pages {
		ul.navigation , ul.navigation ul {
			display: block;
		}

		ul.navigation li {
			margin: 0;
			padding: 0;
		}
		
		ul.navigation {
			padding: 0;
		}
		.articles {
			margin-top: 20px;
		}
	}

	.debug {
		border: 1px red solid;
		background-color: green;
		color: #ffffff;
	}
	
	.navbar-right {
		top: 85px;
	}	
	
	.navbar-right .user {		
		position: fixed;
		top: 0;
		right: 0;
	}
	
	.header .action-title .inwrapper {
		color: #128bf3;
	}
	
}

#preview_command {
	@import "for-header.less";
	@import "for-asside.less";
	@import "btn.less";
	@import "actions.less";
}

