#preview_command {
	background-color: #eeeeef;
	color: #AFAFAF;
	box-shadow: 0 0 7px #fcfcfc;
	height: 100%;
	margin-top: 27px;
}

#preview_command figure, #preview_command .content, #preview_command .description, #preview_command, #preview_command h1, #preview_command h2, #preview_command h3, #preview_command h4, #preview_command li, #preview_command ul, #preview_command label, #preview_command img, #preview_command div, #preview_command a, #preview_command span, #preview_command input, #preview_command fieldset, #preview_command legend, #preview_command form, #preview_command select, #preview_command option, #preview_command .navigation {
	color: #AFAFAF;
}

#preview_command .pc_body {
	padding: 0;
}

#preview_command a.central-button {	
	padding: 0;
	border: 0px none;
	margin: 0;
	
	position: absolute;
}
 

body.preview-only {
    margin-left: 0;
}

#preview_command  #formlogout {
	display: none;
}

.fix-preview #preview_command .one_half {
	width: 48%;
}

.fix-preview #preview_command input[type="text"] {
 	width:242px;
 	display: block;
}

#preview_command div,#preview_command div legend,#preview_command div a
	{
	/* default color, user div for overwrite escape from default preview css file */
	color: #afafaf;
}

#preview_command .pc_body fieldset.closable legend {
	padding-left: 14px;
}

#preview_command .pc_body fieldset.closable .closable_action {
	font-size: 0;
	height: 7px;
	width: 7px;
	top: 6px;
	left: 4px;
	right: auto;
	border: 0 none;
	background-color: transparent;
}

#preview_command fieldset.closable .closable_action.open {
	background-image: url('../images/preview/open.png')
}

#preview_command fieldset.closable .closable_action.close {
	background-image: url('../images/preview/close.png')
}

#preview_command fieldset {
	padding: 0;
	margin: 0;
	border: 0 none;
}

#preview_command fieldset legend {
	padding: 3px;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	width: 244px;
	background-color: #3a3a3a;
}

#preview_command fieldset legend a {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
}

#preview_command .component,#preview_command .navigation li span,#preview_command input[type=submit],#preview_command .macro-list a, #preview_command .shared .content-wrapper, #preview_command .message 
	{
	margin: 0 4px 4px 0;
	padding: 3px;
	color: #afafaf;
	background-color: #eeeeee;
	border: 1px #cccccc solid;
	border-radius: 3px;	
}

#pc_upload #upload-zone {	
	padding: 3px;
	color: #afafaf;
	background-color: #fcfcfc;
}

/** NOTIFICATION MESSAGES (login.html, dashboard.html) **/

#preview_command .message {
	padding: 6px 6px 6px 42px;
	margin: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;	
	color: #333333;
}

#preview_command .msgalert {
	border: 1px solid #eac572; 
	background: #ffe9ad url(../images/icons/warning.png) no-repeat 10px	center;
}

#preview_command .msginfo {
	border: 1px solid #99c4ea;
	background: #d1e4f3 url(../images/icons/info.png) no-repeat 10px center;
}

#preview_command .msgsuccess {
	border: 1px solid #c1d779;
	background: #effeb9 url(../images/icons/success.png) no-repeat 10px
		center;
}

#preview_command .msgerror {
	border: 1px solid #e18b7c;
	background: #fad5cf url(../images/icons/error.png) no-repeat 10px center;
}

#pc_upload #upload-zone span, #preview_command #preview-delete-zone {
	background-color: #eeeeee;
	border: 1px #5b5b5b dashed;
	border-radius: 3px;
	font-size: 0;
	background-image: url("../images/preview/drop-a-file.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	display: block;	
	float: none;
}

 #preview_command #preview-delete-zone {
	height: 140px;
}

 #preview_command #preview-delete-zone.hidden {
 	display: none;
 }

#preview_command #preview-delete-zone  {
	background-image: url("../images/preview/big_trash.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#preview_command #ajax-loader {  
	margin: 12px 0;
	font-size: 16px;
    background-image: url("../images/loaders/loader3.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    height: 16px;        
}

#preview_command #ajax-loader.active {
	display: block;
}

#preview_command .component span {
	color: #505050;
	text-transform: uppercase;
	text-shadow: 1px -1px 0 #fcfcfc;
}

#preview_command input[type=text] {
	margin: 4px 4px 4px 0;
	padding: 3px;
	color: #000000;
	background-color: #efefef;
	border: 1px #cccccc solid;
	border-radius: 3px;
	box-shadow: 0 0 0 #ffffff;
	text-transform: uppercase;
}

.fix-preview #preview_command .add-page input[type="text"] {
	width: 204px;
	text-transform: none;
}

.add-page {
	overflow: hidden;
}

.add-page input {
	float: left;
}

#preview_command .navigation li span a {
	color: #afafaf;
}

#preview_command .navigation li:hover #breadcrumb {
	display: block;
}

#preview_command .navigation li #breadcrumb {
	display: none;
}

#preview_command #breadcrumb {
	position: absolute;
	width: 100%;
}

#preview_command .breadcrumb-wrapper {
	position: relative;
}

#preview_command .breadcrumb {
	background-color: #fcfcfc;
	padding: 1px;
	border: 1px #3A3A3A solid;
	border-radius: 3px;		
	margin-bottom: -28px;
	margin-left: -3px;	
	width: 248px;	
	position: absolute;
	bottom: 0;
	left: 1px;
}

#preview_command .navigation li .breadcrumb span {
	margin: 4px 0 4px 0;
}

#preview_command .breadcrumb li {
	margin-left: 4px;
}

#preview_command .breadcrumb a {
	color: #cccccc;
}

#preview_command .navigation span:hover,#preview_command .macro-list a:hover,#preview_command .pc_command .pc_line:hover, #preview_command .macro-list input:hover
	{
	background-color: #f5f5f5;
	text-decoration: none;
}

#preview_command .navigation span:hover a,#preview_command .macro-list a:hover,#preview_command .pc_command .pc_line:hover label,#preview_command .macro-list input:hover
	{
	color: #333333;
}

#preview_command .navigation .current span {
	background-color: #3076d4;
}

#preview_command .navigation .current span {
	border: 1px #4a8be1 solid;
}

#preview_command .navigation .current a {
	color: #fcfcfc;
}

#preview_command .component-list,#preview_command .navigation,#preview_command .macro-list, #preview_command .shared-wrapper 
	{
	border-top: #1f1f1f 1px solid;
	padding-left: 0;
	background-color: #fcfcfc;
	padding: 3px;
	overflow: hidden;		
}

#preview_command .component-list h4 {
	margin-right: 4px;
	font-style: italic;
	border-bottom: 1px #cccccc solid;
}

#preview_command h4 span {
	padding-bottom: 2px;
	color: #afafaf !important;
}

#preview_command .component span,#preview_command .navigation .sortable li a {
	background-image: url("../images/preview/drag_light.png");
	background-position: center right;
	background-repeat: no-repeat;
	margin-left: 3px;
	padding-right: 10px;
	display: block;
}

#preview_command .navigation .sortable li.current a {
	background-image: url("../images/preview/drag-active-preview.png");
}

#preview-layer span {
	background-color: #6f6f6f;
}

#preview_command .msgerror {
	border: 1px solid #e18b7c;
	background: #fad5cf url(../images/icons/error.png) no-repeat 10px center;
}

.free-edit-zone.droppable span,.drop-zone span {
	height: 40px;
	background-image: url('../images/icons/droppable.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.drop-zone span,.free-edit-zone.drop-selected span {
	background-image: url('../images/icons/drop.png');
}

.drop-zone span,.free-edit-zone.drop-selected span {
	background-image: url('../images/icons/drop.png');
}

#preview-layer.ui-draggable-dragging {
	/*border: 4px #777777 solid;*/
	height: 50px;
	width: 50px;
	display: block;
	background-image: url('../images/icons/box_close.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#preview-layer.ui-draggable-dragging.drop-up {
	background-image: url('../images/icons/box_open.png');
}

#preview-layer.ui-draggable-dragging {
	border-color: 4px #777777 solid;
}

/** top bar **/
body.edit-preview {
	margin-top: 27px;
}

#preview_command .pc_header {
	padding: 0;
	margin: 0;
	border: 0 none;
	height: 27px;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #1a5ab0;
	z-index: 1;
}

.preview-notlogged #preview_command .pc_header {
	display: none;
}

.preview-notlogged #preview_command, .preview-only #preview_command {
    width: 0;
}

#preview_command .pc_header .title {
	display: none;
}

#preview_command .pc_command {	
	padding: 0;
	margin: 0;
	height: 27px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #1a5ab0;
}

#preview_command .pc_command ul {
	margin: 0 30px 0 0;
}

.preview-only #preview_command .pc_command {
	width: auto;
	padding-left: 2px;
}

#preview_command .pc_line,#preview_command  .pc_command .pc_line {
	padding: 0 4px;
	margin: 0;
	background-color: #3076d4;
}

#preview_command .pc_command li.preview {
	float: right;
	margin-right: 4px;
}

#preview_command .pc_command legend {
	display: none;
}

#preview_command .pc_command form {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	height: auto;
}

#preview_command .pc_command li {
	padding: 0;
	height: 21px;
	margin: 2px 1px 3px 1px;
	vertical-align: middle;
	border: 1px #4a8be1 solid;
	display: inline-block;	*
}

#preview_command #pc_command.pc_command input {
	background-color: transparent;
	height: 13px;
	width: 13px;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
	margin-top: 5px;
}

#preview_command .pc_command label,#preview_command .pc_command input {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	color: #fcfcfc;
	line-height: 21px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: 1px -1px 0 #4a8be1;
}

/** icones **/

#preview_command #pc_command.pc_command input {
	background-image: url("../images/preview/ico_little_light.png");
	background-position: 0 -3077px;
	background-repeat: no-repeat;
}

#preview_command .pc_command #pc_edit_button.pc_edit_true {
   	background-image: url("../images/preview/ico_little_light.png");
	background-position: 0 -1511px;
	background-repeat: no-repeat;	
}

#preview_command #pc_command.pc_command #pc_publish_button {
    background-position: 0 -2142px;
}

#preview_command #pc_command.pc_command #pc_mailing {
    background-position: 0 -71px;
}

#preview_command #pc_command.pc_command #pc_del_page_button {
    background-position: 0 -2897px;
}

#preview_command #pc_command.pc_command #pc_user_info {
    background-position: 0 -233px;
}

#preview_command #pc_command.pc_command #export_pdf_button {
    background-position: 0 -3058px;
}

#preview_command #pc_command.pc_command #pc_change_template {
    background-position: 0 -2735px;
}

#preview_command #pc_command.pc_command #pc_page_properties {
    background-position: 0 -755px;
}

#preview_command #pc_command.pc_command #home_button {
    background-position: 0 -611px;
    height: 16px;
}

#preview_command #home_form label {
	display: none;
}

#preview_command #pc_edit_mode_button {
   	background-image: url("../images/preview/ico.png");
	background-position: 0 -3236px;
	background-repeat: no-repeat;	  
    width: 23px;
    height: auto;
    margin: 0 0 0 7px;
	padding: 0;	
	display: inline;
	color: #afafaf;
	line-height: 27px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: 1px -1px 0 #fcfcfc;
}

.preview-notlogged #preview_command .login span {
	
	display: block;
	
	background-image: url("../images/preview/ico.png");
	background-position: 5px -1993px;	
	background-repeat: no-repeat;
	
	height: 23px;
	width: 23px;

	padding: 4px 0 4px 4px;
	margin: 0;
	border: 0 none;
	font-size: 0;
	position: fixed;
	top: 0;
	right: 0;
	
	background-color: #fcfcfc;
	
	box-shadow: 0 0 7px #fcfcfc;
}

/** footer **/

.preview-only #preview_command .pc_footer {
	display: none;
}

#preview_command .pc_footer {
	position: fixed;
	bottom: 0;
	color: #ffffff;
	background-color: #3076d4;
    border-top: 1px solid #4a8be1;
    overflow: hidden;
    padding: 3px;
    display: block;
    width: 254px;
}

#preview_command .pc_footer a {
	float: left;
}

#preview_command .pc_footer .version {
	float: right;
	color: #ffffff;
	text-align: right;
}