.log-js-only {
	display: none;
}

.log-content {
	margin-top: 20px;
	height: 500px;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	overflow: auto;
	padding: 0 5px;
}

.log-text {
	white-space: pre-wrap;
}

#log-wait {
	text-align: center; 
}

#log-wait span {
	display: inline-block;
	position: relative;
}