<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<meta charset="UTF-8" />
<title>Javlo 2</title>
<style type="text/css">
	body {
		font-family: sans-serif;
		color: #013F34;				
	}
	#main {
		margin-top: 200px;		
		text-align: center;
		font-weight: bold;
	}
	h1 {
		font-size: 18px;
	}
	p {
	    font-size: 12px;
	}
	a img {
		border: 0 none;
	}
</style>
</head>
<body>	
	<div id="main">
	<a href="http://www.javlo.org">
		<img src="javlo_logo.png" alt="javlo logo" />
	</a>
	<h1>Default template.</h1>
	<p>Don't use directly this template.  Extend it in another template.</p>
	</div>
</body>
</html>