<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" href="css/font.css" type="text/css" />
<style type="text/css">
<jsp:include page="css/style.css" />
<jsp:include page="css/pdf.css" />
<jsp:include page="css/integration.css" />
<jsp:include page="css/pagination.jsp" />

<c:set var="template" value="${info.template.style}" scope="request" />
body .wrapper {
	<jsp:include page="css/styles.jsp" />
}
<jsp:include page="css/dynamic_css.jsp" />

</style>
</head>
<body class="pdf" style="-webkit-font-smoothing: antialiased; width: 100% !important; -webkit-text-size-adjust: none; background-color: #ffffff;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%" align="center" valign="top">
			<div class="wrapper" style="width: 686px;">
			<table width="100%" style="width: 100%" class="main-table" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr id="header-container">
					<td align="center">
						<jsp:include page="/jsp/view/template/dynamic.jsp" />							
					</td>
				</tr>
			</table>
			</div>
		</td>
	</tr>
</table>
</body>
</html>

