@import url("elfinder/smoothness/jquery-ui-1.8.19.custom.css");
@import url("elfinder/elfinder.min.css");
@import url("elfinder/theme.css");

/** break elfinder **/

#tools {
	margin-bottom: 10px;
}

.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {
	width: 118px;
	height: 118px;	
}

.elfinder-cwd-view-icons .elfinder-cwd-icon {
	margin: 34px 0 0 34px;
	background-size: 100% auto !important;
}

.elfinder-cwd-view-icons .elfinder-cwd-icon-image {
	margin: 0;
	width: 118px;	
	height: 118px;
	background-color: #f7f7f7 !important;
	background-image: none;
	background-position: 0 0;
}

.elfinder-cwd-view-icons .elfinder-cwd-file {
	border: 1px #ffffff solid;
}

.elfinder-cwd-view-icons .elfinder-cwd-file {
    height: 140px;
    width: 160px;
}

.elfinder .ui-dialog.ui-widget.ui-widget-content {
	position: absolute;
}

.elfinder-cwd-view-icons .elfinder-cwd-file {
	border: 1px #efefef solid;
}

.elfinder-cwd-icon::before {
	left: auto !important;
	right: -5px !important;
	opacity: 0.7 !important;
}

.elfinder-touch .elfinder-toolbar-button-separator {
	height: 28px;
}

.elfinder-touch .elfinder-button {
	width: 20px;
}

.elfinder-touch .elfinder-button.elfinder-button-search {
	width: auto;
}

body .elfinder-cwd-file .elfinder-cwd-select {
	width: auto;
	height: auto;
	top: 5px;
	left: 5px;
}

.elfinder-cwd-view-icons .elfinder-cwd-filename {
	max-height: 4em;
	line-height: 1em;
}

.maincontent.file .left {
	padding: 20px 15px 20px 15px;
}

.elfinder-cwd-icon-jsp {
	background-position: 0 -550px;
}

#fileManager .elfinder-dialog-edit .ui-dialog-content {
	height: 60vh !important;
	font-size: 0.9em;
}

.elfinder-dialog-confirm .ui-dialog-content, .elfinder-dialog-error .ui-dialog-content {
	min-height: 15px;
}

/* .elfinder-dialog-icon { */
/* 	width: 16px; */
/* 	height: 16px; */
/* 	background-size: 16px auto; */
/* 	top: 0; */
/* 	margin-top: 4px; */
/* } */

/* body .ui-dialog .ui-dialog-content { */
/* 	padding-left: 32px;	 */
/* } */

.form-list .title span.delete {
	float: right;
	color: #333333;
	background-image: none;
	padding: 6px;
}

.form-list .title span.size {
	padding: 6px 0 6px 6px;
}

.widgetbox2 .content #form-meta label {
	/* Override box style to make it compatible with meta list*/
	float: none;
	margin-right: 0;
}

#fill-all-form input, .filter-field {
	width: 80px;
	-webkit-transition: width 200ms ease-in-out;
    -moz-transition: width 200ms ease-in-out;
    -o-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}

#fill-all-form input:FOCUS, .filter-field:FOCUS {
	width: 160px;
}

.unlock .lock {
	display: hidden;
}

.unlock .lock {
	display: none;
}

.lock .unlock {
	display: none;
}

.item.one {
	margin: 0 auto;
	display: block;
	float: none;
}

.item .alert {
	margin: 5px;
	padding: 5px;
}

.item .link-list {
	margin: 0;
	padding: 0;
}

.item .link-list li {
	margin: 0 0 0 15px;
	border: 0 none;
	background: none;
	border-radius: 0;
	box-shadow: none;
}

#main-renderer .btn-edit, #main-renderer .btn-jpg {
	display: inline-block;
	width: auto;
	margin: 10px 0;
	line-height: normal;	
	vertical-align: center;
}

#main-renderer .btn-jpg {
	font-size: 0.9em;	
}

/** reset jquery ui **/

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background-image: none;
}

body .el-finder {
	width:100%; 
	min-width:400px;
	background-color:#eee;
	font-size: 10px;
	font-family: inherit;
}

.ui-widget-content .ui-state-hover {
	background-color: #eeeeee;
}

.download .label {
	height: 42px;
	vertical-align: middle;
}

.maincontent .left {
	overflow: visible;
}

.form-list .taxonomy li {
	border-radius: 0px;
	border: 0 none;
	box-shadow: none;
	width: auto;
	background-color: transparent;
}

.row.stat .line {
	margin: 0;
}
	
.row.stat .line label {
	width: auto !important;
}