/* MEDIA */



/* ----- Media 1024 ----- */
@media (max-width: 1564px) {
	
	
	
	
	/* ----- Page-Title (Edit-Zone) ----- */
	body.edit-zone .page-title {
		padding-bottom:10px;
	}
	body.edit-zone .page-title-title {
		display:block;
		float:none !important;
		max-width:60%;
		padding-right:40px;
	}
	body.edit-zone .page-title-actions {
		display:block;
		float:none !important;
		border-left:0;
		padding:0 15px 0 0;
	}
	body.edit-zone .page-title-btn {
		margin-top:25px;
	}
	
}





















