#main-renderer {
	margin-top: 20px;
}

a.unread {
	font-weight: bold;
}

.status,.share {
	padding: 3x;	
	box-shadow: 1px 1px 2px #EEEEEE;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px 3px 3px 3px;        
    text-align: center;
    display: block;
}

#main-renderer .deleted td {
	font-style: italic;
	background-color: #FFA8A8;
}

.status.new {
	background-color: #474747;
}

.status.refuse, .share {
	background-color: #EF3513;
}

.status.onold, .share.allsites {
	background-color: #5C75A1;	
}

.status.working, .share.public {
	background-color: #7BB529;
}

.status.archived {
	background-color: #8F7556;
}

.status.done, .share.site {
	background-color: #FEA00D;
}

