.main-template, .remote-template {
	margin-top: 20px;
}

.main-template .thumbview .info {
	height: 230px;
}

#form-edit-template {
	margin-right: 290px;
}

.main-template .unvalid .thumb {
	border: 1px solid #CC0000;
	opacity : 0.8;
}

.main-template .unvalid .thumb img {
	opacity : 0.8;
}

.template-preview {
	text-align: center;
}

.template-preview .actions {
	margin-top: 10px;
}

.template .properties {
	overflow: hidden;
}

table {
	margin-top: 15px;
}

table th, table td {
	border: 0 none;
}

.template table thead th {
	background: none repeat scroll 0 0 #555555;	
	border-right: 1px solid #777777;
    color: #CCCCCC;
    font-size: 12px;    
    text-shadow: none;
    text-transform: uppercase;
    text-align: center;
}

table th {
	background: none;
	padding: 8px 10px;
	vertical-align: middle;	
	border-right: 1px solid #DDDDDD;
}

table td {
	text-align: center;
	vertical-align: middle;
}

table td.input {
	vertical-align: middle;
}

#image-preview {	
	text-align: center;
	overflow: auto;
}

#image-preview figure {
	max-width: 1000px;
	display: inline-block;		
}

input[readonly] {
	opacity:0.4;
}

.css textarea {
	height: 500px;
}

#form-properties-template .default {
	margin-left: 12px;
	box-shadow: 1px 1px 3px #CCCCCC inset;
	border: 1px solid #CCCCCC;
    padding: 5px;
    display: inline-block;
    vertical-align: text-top;
    height: 18px;
    width: 36px;
} 

