@import url('bootstrap/bootstrap.min.css');

body {
	overflow: hidden;
}

.main {
	position: absolute;
	width: 400px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px #cccccc solid;
	padding: 30px;
	background-color: #ffffff;
	opacity: 0.85;
    filter: alpha(opacity=85);
}

.main h1 {
	text-align: center;
	color: #D31996;
    font-size: 80px;
    margin-top: 0;
    font-family: javloFont, Verdana;
}

.wmsg h1 {
	font-size: 32px;
}

.main h1 .version {
	color: #708D91;
	font-size: 0.4em;
	display: block;
	margin: 3px 0;
	vertical-align: bottom;
	font-size: 12px;
}

.alert {
  padding: 7px;
  text-align: center;
}


.bg1 {	
	background-image: url("../images/bg/bg1.png");
}

.bg2 {
	background-image: url("../images/bg/bg2.png");
}

.bg3 {
	background-image: url("../images/bg/bg3.png");
}

.bg4 {
	background-image: url("../images/bg/bg4.png");
}

.bg5 {
	background-image: url("../images/bg/bg5.png");
}

.bg6 {
	background-image: url("../images/bg/bg6.png");
}

.bg7 {
	background-image: url("../images/bg/bg7.png");		
}

.bg8 {
	background-image: url("../images/bg/bg8.png");		
}

.bg9 {
	background-image: url("../images/bg/bg9.png");		
}

.bg10 {
	background-image: url("../images/bg/bg10.png");		
}

.btn-google {
	margin-right: 5px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.g-signin2 {
	float: right;
	margin-right: 5px;	
}

.g-signin2 .abcRioButton {
	height: 35px !important;
	display: inline-block;
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    box-shadow: 0 0 0 transparent;
}