body #preview_command {
	.component-list .component {
		width: 50%;
		.wrapper-in {
			margin: 3px;
			padding: 3px;
			text-align: left;
			.figure, .text {
				display: inline-block;
				margin: 0;
				width: 30px;
				height: 30px;
			}
			.text {
				padding-left: 3px;
				height: auto;
				width: 88px;
				height: 18px;
				overflow: hidden;
				span {
					line-height: 9px;
				}
			}
			.figure {
				font-size: 18px;
				padding: 2px 5px
			}
		}	
	}
	.display-1 .component {
		display: block;
	}
	.components-group {
		display: none;
	}

	.component-list .complexity-1 .wrapper-in {
		border-bottom-color: #00A0B0;
		color: #00A0B0;
		i {
			color: #00A0B0;
		}
	}

	.component-list .complexity-2 .wrapper-in {
		border-bottom-color: #EB6841;
		color: #EB6841;
		i {
			color: #EB6841;
		}
	}

	.component-list .complexity-3 .wrapper-in {
		border-bottom-color: #CC333F;
		color: #CC333F;
		i {
			color: #CC333F;
		}
	}

	.component-list .complexity-3 .wrapper-in {
		border-bottom-color: #EDC951;
		color: #EDC951;
		i {
			color: #EDC951;
		}
	}
}