.current {
	font-weight: bold;
}

ul.menu {
	margin-left: 16px;
}

.children {
	margin-left: 32px;
}

.navigation li a.editor {
    background-image: url("images/page.png");
    background-position: 7px center;
    background-repeat: no-repeat;
}