/* ----- Flexslider ----- */
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin:0;
	padding:0;
	list-style:none;
}
.flexslider {
	margin:0;
	padding:0;
	position:relative;
	height:100%;
	zoom:1;
	overflow:hidden;
}
.flexslider .slides > li {
	display:none;
	-webkit-backface-visibility:hidden;
} 
.flexslider .slides img {
	width:100%;
	display:block;
}
/* ----- Clearfix ----- */
.slides:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
html[xmlns] .slides { display:block;}
* html .slides { height:1%;}

/* ----- No-Js ----- */
.no-js .slides > li:first-child { display:block;}

.flex-viewport {
	height:100%;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}

.flexslider .slides {
	height:100%;
	zoom:1;
}
.flexslider .slides li {
	display:block;
	float:left;
	width:100%;
	height:100%;
}






/* ----- Direction Nav ----- */
.flex-direction-nav { *height: 0;}
.flex-direction-nav a  {
	display:block;
	position:absolute;
	top:50%;
	z-index:10;
	overflow:hidden;
	text-indent:-999px;
	cursor:pointer;
}
.flex-direction-nav .flex-prev {
	left:0px;
}
.flex-direction-nav .flex-next {
	right:0px;
}






/* ----- Control Nav ----- */
.flex-control-nav {
	width:100%;
	position:absolute;
	bottom:10px;
	text-align:center;
	z-index:100;
}
.flex-control-nav li {
	margin:0 5px;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.flex-control-paging li a {
	width:14px;
	height:14px;
	display:block;
	background:rgba(255,255,255, .0);
	cursor:pointer;
	text-indent:-9999px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	border:2px solid rgba(255,255,255, .5);
}
.flex-control-paging li a:hover {
	background:rgba(255,255,255, .1);
}
.flex-control-paging li a.flex-active {
	background:rgba(255,255,255, .5);
	border-color:white;
	cursor:default;
}
.flex-control-thumbs {
	margin:5px 0 0;
	position:static;
	overflow:hidden;
}
.flex-control-thumbs li {
	width:25%;
	float:left;
	margin:0;
}
.flex-control-thumbs img {
	width:100%;
	display:block;
	opacity:.7;
	cursor:pointer;
}
.flex-control-thumbs img:hover {
	opacity:1;
}
.flex-control-thumbs .flex-active {
	opacity:1;
	cursor:default;
}





