/* FOR-FANCYBOX */



/* ----- Fancybox-Skin ----- */
.fancybox-skin {
	background:white !important;
	padding:0 0 0 0 !important;
	border-radius:2px !important;
	background:#eee !important;
}



/* ----- For-Fancy ----- */
.for-fancy {
	width:800px;
}

/* ----- For-Fancy (Box) ----- */
.for-fancy .box {
	margin:0;
	margin-top:0;
	box-shadow:none;
	background:transparent;
}
.for-fancy .box .box-head {} 
.for-fancy .box .box-content {
	padding:20px 50px 30px 50px;
}
.for-fancy .box .box-foot {
	border-radius:0 0 3px 3px;
}



/* ----- For-Fancy (Tabs) ----- */
.for-fancy .box .tabs {
	background:#eee;
	padding:0 50px;
	margin:0;
	border-bottom:none;
}

.for-fancy .box .tabs ul li a {
	background:#f9f9f9;
	border-radius:2px 2px 0 0;
	text-decoration:none;
	padding:0 15px;
}
.for-fancy .box .tabs ul li.active a,
.for-fancy .box .tabs ul li.ui-tabs-active a {
	background:#fff;
	color:#3b3b3b;
	font-weight:700;
}



/* ----- For-Fancy (Page-Title) ----- */
.for-fancy .page-title {
	margin:0;
	padding:25px 0 0 0;
	border:0 !important;
}
.for-fancy .page-title:after {
	display:none;
}
body.edit-zone .for-fancy .page-title {
	padding-top:25px !important;
}




/* ----- For-Fancy (Page-Title-Icons) ----- */
.for-fancy .page-title h1.icon {
	color:#128bf3;
}
.for-fancy .page-title h1.icon.icon-add:before {
	background:url(../../img/bg/icon-page-title.png) no-repeat -64px -34px;
}




.for-fancy .page-title h3.icon {
	padding-left:40px !important;
}



























