/* GLOBALS */



/* ----- Html Body ----- */
html,
body {
	height:100%;
}

body {
	margin:0;
	padding:0;
	background:#eeeeee;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#3b3b3b;
	padding-top:100px !important;
}

/* ----- Border Box ----- */
*,
*:after,
*:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* ----- Clear ----- */
.clear {
	display:block;
	height:0;
	font-size:1px;
	clear:both;
}
.clear-left { clear:left;}
.clear-right { clear:right;}
.clearfix:after {
	display:table;
	content:"";
	clear:both;
}

/* ----- Float ----- */
.f-left { float:left;}
.f-right { float:right;}

/* ----- Text-Align ----- */
.text-left { text-align:left;}
.text-right { text-align:right;}
.text-center { text-align:center;}

/* ----- Typo ----- */
h1, h2, h3, h4, h5, h6 {
	line-height:1.2em;
	margin:0 0 15px 0;
	padding:0;
	font-weight:400;
}
h1 {
	font-size:2.5em;
	font-weight:300;
}
h2 {
	font-size:1.6em;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1em;
}
p {
	font-size:1em;
	line-height:1.5em;
	margin:0 0 20px 0;
	color:#999b98;
}
p b,
p strong,
p bold {
	color:#3b3b3b;
}

/* ----- Liste ----- */
ul, ol {
	margin:15px 0;
	padding:0 0 0 30px;
	color:#646464;
}
ul li,
ol li {}
ul li a {}

hr {
	display:block;
	margin:15px 0;
	height:0px;
	line-height:0px;
	border:0;
	background:transparent;
	border-bottom:1px solid #ddd;
}


/* ----- Link ----- */
a {
	outline:none !important;
	color:#128bf3;
	text-decoration:none;
}
a:hover,
a:focus {
	color:#128bf3;
	text-decoration:underline;
}
a:visited {}


img {
	border:0;
}

/* ----- Elements ----- */
.overflow {
	overflow:hidden;
}
.animate {
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;                  
    -moz-transition:all 0.3s ease;                 
    -o-transition:all 0.3s ease;   
    -ms-transition:all 0.3s ease;
}