/* TOP */



/* ----- For-Top ----- */
.for-top {
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:white;
	z-index:1000;
}
.for-top:after,
.for-top:before {
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:-5px;
	height:5px;
	content:"";
	background:rgba(0,0,0, .03);
}
.for-top:before {
	bottom:-1px;
	height:1px;
	background:rgba(0,0,0, .1);
}
.for-top > .container {}




/* ----- Top ----- */
#top {
	padding:10px 0;
	overflow:hidden;
}




/* ----- Nav (Top) ----- */
#top ul.nav {
	float:left;
}
#top ul.nav li {
	line-height:26px;
	border-right:1px solid #eee;
	padding-right:10px;
	color:#400d0d;
	font-size:.9em;
}
#top ul.nav li a {
	display:block;
	float:left;
	height:26px;
	line-height:26px;
	color:#400d0d;
	text-decoration:underline;
}



/* ----- Admin ----- */
#top ul#admin {
	float:right;
}





/* ----- Edition ----- */
#top ul#edition {
	float:right;
}
#top ul#edition li {}
#top ul#edition li:last-child {
	border:0;
	padding-right:0;
}




/* ----- Nav Icon ----- */
#top ul.nav li.icon {
	position:relative;
	padding-left:30px;
}
#top ul.nav li.icon:before {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:26px;
	height:26px;
	content:"";
	border-radius:50%;
}
#top ul.nav li.icon.icon-info:before {
	background:#c5b2b0 url(../../img/bg/icon.png) no-repeat 0 0;
}
#top ul.nav li.icon.icon-user:before {
	background:#fff url(../../img/bg/icon.png) no-repeat -26px -26px;
}














