@import url("../../content/css/content.css");

#macro li {
	margin: 10px;
	display:inline-block;
}

.mainBox {
    margin-top: 0;
}	

.cancel {
	margin-top: 10px;
	float: right;
}

.macro-interface fieldset {
	margin: 0;
}
	
.dyntable td.action {
	text-align: left;	
}

.create-content-children .line label {
	display: block;
	float: none;
}

.create-content-children textarea {
	height: 160px;
}

textarea.form-control {
	width: 98%;
}

.macro-interface {
	overflow: hidden;
}