$toggle-indicator-size: 18px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size+6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;

$speed: 1;

$dark: #555;
$mid: #aaa;
$light: #bbb;

$track-border: $dark;
$track-background: $mid;
$focus-ring: 0px 0px 0px 2px $light;

#cookies-message {
    color: #777;
	font-family: Helvetica;

    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: left;
    transition: bottom 1s;
    -webkit-transition: bottom 1s;
    min-height: 90px;
	z-index: 1;
	
	#cookies-message-inside-wrapper {
		text-align: center;
	}

	.btn_cookies {
		border: 1px #999 solid;
		border-radius: 3px;
		padding: 5px 15px ;
		margin-left: 15px;
		color: #999;
		text-decoration: none;
		background-color: transparent;
		text-transform: lowercase;
	}

	.btn_cookies:hover {
		border: 1px #026b9c solid;
	}

	.btn_primary {
		background-color: #026b9c;
		border: 1px #026b9c solid;
		color: #fff;
	}

	.btn_primary:hover {
		border: 1px #ddd solid;
	}


	// Toggle specific styles
	.toggle {
		align-items: center;
		border-radius: 100px;
		display: flex;
		font-weight: 700;
		margin-bottom: 16px;

		&:last-of-type {
			margin: 0;
		}
	}

	// Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.
	.toggle__input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;

		// This style sets the focus ring. The ":not([disabled])" prevents the focus ring from creating a flash when the element is clicked.
		&:not([disabled]):active+.toggle-track,
		&:not([disabled]):focus+.toggle-track {
			border: 1px solid transparent;
			box-shadow: $focus-ring;
		}

		&:disabled+.toggle-track {
			cursor: not-allowed;
			opacity: 0.7;
		}
	}

	.toggle-track {
		background: $track-background;
		border: 1px solid $track-border;
		border-radius: 100px;
		cursor: pointer;
		display: flex;
		height: $track-height;
		margin-right: 12px;
		position: relative;
		width: $track-width;
	}

	.toggle-indicator {
		align-items: center;
		background: $dark;
		border-radius: $toggle-indicator-size;
		bottom: 2px;
		display: flex;
		height: $toggle-indicator-size;
		justify-content: center;
		left: 2px;
		outline: $highContrastModeSupport;
		position: absolute;
		transition: $speed;
		width: $toggle-indicator-size;
	}

	// The check mark is optional
	.checkMark {
		fill: #fff;
		height: $toggle-indicator-size - 4;
		width: $toggle-indicator-size - 4;
		opacity: 0;
		transition: opacity $speed ease-in-out;
	}

	.toggle__input:checked+.toggle-track .toggle-indicator {
		background: $dark;
		transform: translateX($track-width - $track-height);

		.checkMark {
			opacity: 1;
			transition: opacity $speed ease-in-out;
		}
	}

	@media screen and (-ms-high-contrast: active) {
		.toggle-track {
			border-radius: 0;
		}
	}
}