.flex-line {
	display : flex !important;
	justify-content: space-between;
	align-items: center;
	.btn, .form-control {
		padding-top: 3px;
		padding-bottom: 3px;
		line-height: 1.5em;
		font-size: 1em;
		margin-bottom: 0.5em;
	}
	.btn {
		margin: 0;
	}
}

.btn-no {
	border: 0 none;
}