._jv_main-box, #preview_command ._jv_main-box  {
	margin: var(--javlo-main-sep);
}

body._jv_modal-open {
	overflow: hidden; // remove scrollbar
}

._jv_header_sm, #preview_command ._jv_header_sm {
	display: flex;
	justify-content: space-between;
	padding: 1px 1px 1px calc( var(--javlo-main-sep) / 2) !important;
	border: 0px !important;
	background-color: var(--light-black) !important;
	font-size: 1rem !important;
	text-transform: uppercase;
	color: white !important;
	a {
		color: white !important;
	}
	box-shadow: none !important;
	width: 100%;
}

._jv_hidden {
	display: none !important;
}

._jv_show {
	display: block !important;
}
._jv_collapse-container {
	position: relative;
}

._jv_collapse-target {
	position: absolute;
	top: 40px;
	
}

#macro-list {
	left: -127px;
}

._jv_check_line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	label {
		min-width: 0;
		margin-right: 0 !important;
	}
	._jv_btn-check {
		margin: 0;
	}
}

._jv_btn-check {
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	input {
		position: absolute;
		left: -9999px;
	}
	input:checked + label {
		background-color: var(--blue-100);
		color: #fff;
	}
	input:checked + label, label:hover {
		border: 1px solid var(--blue-100);
	}
	label {
	    display: inline-block;
	    position: relative;
	    max-width: 100%;
	    width: fit-content;
	    border: 1px solid var(--grey-3);
	    padding: 1px 10px 0 10px;
	    line-height: 3em;
	    color: black;
	    cursor: pointer;
	    border-radius: 4px;
		margin-right:5px;
	}
}

.btn-group {
	display: flex;
	._jv_btn-check {
		margin-right: 0;
		margin-left: -1px;
		display: block;
		border-radius: 0;
		label {
			margin-right: 0 !important;
			border-radius: 0;
		}
	}
	._jv_btn-check:first-child {
		border-radius: 5px 0 0 5px;
		margin-left: 0;
		label {
			border-radius: 5px 0 0 5px;
		}
	}
	._jv_btn-check:last-child {
		border-radius: 0 5px 5px 0;
		label {
			border-radius: 0 5px 5px 0;
		}
	}
}

fieldset.collapsable {
	legend {
		cursor: pointer;
	}
	legend:before {
		display: inline-block;
		margin-right: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .4em solid;
		border-left: .4em solid transparent;
		border-bottom: 0;
		border-right: .4em solid transparent;
		margin-bottom: -2px;
	}
}

fieldset.collapsable.collapsed {	
	legend:before {
		border-left: .4em solid;
		border-bottom: .4em solid transparent;
		border-right: 0;
		border-top: .4em solid transparent;
		margin-bottom: -3px;
		margin-left: 0;
		margin-left: 5px;
	}
}

fieldset.collapsable.collapsed {
	height: 1em;
	padding-bottom: 0;
	overflow: hidden;
}