/** version 2.2 **/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

#preview_command,
body#main-body,
:root {
	/*OLD*/
	--action-color: #fff;
	--action-color-darken: #058;
	--action-color-lighten: #17A;
	--action-text: #fff;

	/// Colors
	/* Gris - Du plus clair au plus foncé */
	--javlo-ui-color-1: hsl(210, 12%, 97%);
	--javlo-ui-color-2: hsl(210, 13%, 91%);
	--javlo-ui-color-3: hsl(210, 13%, 82%);
	--javlo-ui-color-4: hsl(208, 14%, 76%);
	--javlo-ui-color-5: hsl(211, 14%, 68%);
	--javlo-ui-color-6: hsl(211, 11%, 59%);
	--javlo-ui-color-7: hsl(209, 9%, 50%);
	--javlo-ui-color-8: hsl(209, 11%, 41%);
	--javlo-ui-color-9: hsl(209, 14%, 30%);
	--javlo-ui-color-10: hsl(210, 22%, 20%);

	/* Couleurs d'accentuation -  Du plus clair au plus foncé */
	--javlo-ui-primary-accent-color-1: hsl(209, 84%, 81%);
	--javlo-ui-primary-accent-color-2: hsl(209, 82%, 71%);
	--javlo-ui-primary-accent-color-3: hsl(209, 83%, 51%);
	--javlo-ui-secondary-accent-color-1: hsl(324, 100%, 91%);
	--javlo-ui-secondary-accent-color-2: hsl(324, 100%, 71%);
	--javlo-ui-secondary-accent-color-3: hsl(324, 100%, 51%);

	--javlo-layer-color: hsl(209, 83%, 51%);

	--javlo-layer-color-bg: hsl(209, 83%, 51%, .2);
	--javlo-flash-color: hsl(343, 58%, 53%);


	/// colors schema

	/*Header*/
	--javlo-ui-bg-primary: var(--javlo-ui-color-8);
	--javlo-ui-bg-secondary: var(--javlo-ui-color-9);
	--javlo-ui-border: var(--javlo-ui-color-10);
	--javlo-ui-text: #ccc;

	--javlo-ui-btn-toggle-inactive-text: #333;

	/*BTNS*/
	--javlo-ui-btn-bg-active: transparent;
	--javlo-ui-btn-toggle-bg-active: var(--javlo-ui-primary-accent-color-3);
	--javlo-ui-btn-toggle-bg-inactive: var(--javlo-ui-bg-secondary);

	--javlo-ui-btn-border: var(--javlo-ui-border);

	--javlo-ui-btn-text-active: white;
	--javlo-ui-btn-text-inactive: var(--javlo-ui-color-6);

	--javlo-ui-btn-separator: var(--javlo-ui-color-9);

	--javlo-ui-clipboard-bg: hsla(var(--javlo-ui-primary-accent-color-3), 0.1);
	--javlo-ui-clipboard-border: var(--javlo-ui-primary-accent-color-1);
	--javlo-ui-clipboard-text: var(--javlo-ui-primary-accent-color-1);

	--javlo-ui-special-action-color: var(--javlo-ui-primary-accent-color-2);
	--javlo-ui-special-action-color-bg: hsl(209, 83%, 51%, .1);

	/*Sidebar*/

	--javlo-ui-nav-root-btn-bg: var(--javlo-ui-color-9);
	--javlo-ui-nav-root-btn-border: var(--javlo-ui-color-9);
	--javlo-ui-nav-root-btn-text: white;

	--javlo-ui-nav-btn-bg: transparent;
	--javlo-ui-nav-btn-bg-selected: var(--javlo-ui-color-7);
	--javlo-ui-nav-btn-border: var(--javlo-ui-color-7);

	--javlo-ui-add-nav-btn-bg: transparent;
	--javlo-ui-add-nav-btn-border: var(--javlo-ui-accent-color-1);
	--javlo-ui-add-nav-btn-text: var(--javlo-ui-primary-accent-color-1);

	/*Edit Overlays*/

	--javlo-ui-edit-bg: hsla(var(--javlo-ui-primary-accent-color-1), 0.2);
	--javlo-ui-edit-border: var(--javlo-ui-primary-accent-color-3);
	--javlo-ui-edit-btn: white;
	--javlo-ui-edit-text: var(--javlo-ui-primaryaccent-color-1);

	--javlo-ui-hidden-edit-bg: hsla(var(--javlo-ui-secondary-accent-color-1), 0.2);
	--javlo-ui-hidden-edit-border: var(--javlo-ui-secondary-accent-color-3);
	--javlo-ui-hidden-edit-btn: white;
	--javlo-ui-hidden-edit-text: var(--javlo-ui-secondary-accent-color-1);

	/*General*/
	--javlo-ui-color-text-primary: white;
	--javlo-ui-color-danger: hsl(343, 58%, 53%);
	--javlo-ui-color-success: hsl(134, 67%, 41%);

	/* Spacings and size */
	--javlo-main-separator: 16px;
	--javlo-menu-height: 40px;
	--javlo-sidebar-width: 330px;

	--javlo-modal-maximize-border-multi: 6;

	// Fonts
	--bsicons: "bootstrap-icons";
	--systemfonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;

	@import 'main_javlo.scss';

	.main-box {
		margin: var(--javlo-main-separator);
	}
}

@media (max-width: 1440px) {

	#preview_command,
	body#main-body,
	:root {
		--javlo-modal-maximize-border-multi: 3;
	}
}

@media (max-width: 1000px) {

	#preview_command,
	body#main-body,
	:root {
		--javlo-modal-maximize-border-multi: 0;
	}
}