/** version 2.3 **/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body.edition-mode-sea {
	#preview_command,
	& {
		
		--javlo-ui-bg-primary: #69D2E7;
		--javlo-ui-bg-secondary: #A7DBD8;
		--javlo-ui-bg-tertiary: #E0E4CC;
		--javlo-ui-bg-tools: #F38630;
		--javlo-ui-border: #FA6900;
		
		--javlo-ui-text: #333;
		--javlo-ui-text-secondary: #676767;

		--javlo-ui-btn-text-active: #232323;
		--javlo-ui-btn-text-inactive: #757575;
		
		--javlo-ui-nav-btn-bg-inactive: var(--javlo-ui-bg-tertiary);
		--javlo-ui-special-action-color: var(--action-color-darken);
	}
}

body.edition-mode-pink {
	#preview_command,
	& {
		
		--javlo-ui-bg-primary: #E6D8CB;
		--javlo-ui-bg-secondary: #F1BBBB;
		--javlo-ui-bg-tertiary: #E394A7;
		--javlo-ui-bg-tools: #9A5071;
		--javlo-ui-border: #2F3559;
		
		--javlo-ui-text: #333;
		--javlo-ui-text-secondary: #676767;

		--javlo-ui-btn-text-active: #232323;
		--javlo-ui-btn-text-inactive: #757575;
		
		--javlo-ui-nav-btn-bg-inactive: var(--javlo-ui-bg-tertiary);
		--javlo-ui-special-action-color: var(--action-color-darken);
	}
}

body.edition-mode-light {
	#preview_command,
	& {
		/*--javlo-ui-bg-primary: #E6E8E3;
		--javlo-ui-bg-secondary: #D7DACF;
		--javlo-ui-bg-tertiary: #BEC3BC;
		--javlo-ui-bg-tools: #8F9A9C;
		--javlo-ui-border: #65727A;*/
		
		/*--javlo-ui-bg-primary: #F5F9FA;
		--javlo-ui-bg-secondary: #D7E4EC;
		--javlo-ui-bg-tertiary: #EDF2F7;
		--javlo-ui-bg-tools: #DAD9D4;
		--javlo-ui-border: #C0D6E4;*/
		
		/*--javlo-ui-bg-primary: #F0F4F5;
		--javlo-ui-bg-secondary: #E8ECEC;
		--javlo-ui-bg-tertiary: #DFE5E6;
		--javlo-ui-bg-tools: #CED7D8;
		--javlo-ui-border: #B6C2B5;*/
		
		--javlo-ui-bg-primary: #F7F5F0;
		--javlo-ui-bg-secondary: #F0ECE1;
		--javlo-ui-bg-tertiary: #EBE6D9;
		--javlo-ui-bg-tools: #E4DECD;
		--javlo-ui-border: #DBD3BD;
		
		--javlo-ui-text: #333;
		--javlo-ui-text-secondary: #676767;

		--javlo-ui-btn-text-active: #232323;
		--javlo-ui-btn-text-inactive: #757575;
		
		--javlo-ui-nav-btn-bg-inactive: var(--javlo-ui-bg-tertiary);
		--javlo-ui-special-action-color: var(--action-color-darken);
	}
}

#preview_command,
:root {
	/*OLD*/	
	--action-color-darken: #058;
	--action-color-lighten: #17A;
	--action-color: var(--action-color-lighten);
	--action-color-hover: var(--action-color-darken);
	--action-text: #fff;

	/// Colors
	/* Gris - Du plus clair au plus foncé */
	--javlo-ui-color-1: hsl(210, 12%, 97%);
	--javlo-ui-color-2: hsl(210, 13%, 91%);
	--javlo-ui-color-3: hsl(210, 13%, 82%);
	--javlo-ui-color-4: hsl(208, 14%, 76%);
	--javlo-ui-color-5: hsl(211, 14%, 68%);
	--javlo-ui-color-6: hsl(211, 11%, 59%);
	--javlo-ui-color-7: hsl(209, 9%, 50%);
	--javlo-ui-color-8: hsl(209, 11%, 41%);
	--javlo-ui-color-9: hsl(209, 14%, 30%);
	--javlo-ui-color-10: hsl(210, 22%, 20%);

	/* Couleurs d'accentuation -  Du plus clair au plus foncé */
	--javlo-ui-primary-accent-color-1: hsl(209, 84%, 81%);
	--javlo-ui-primary-accent-color-2: hsl(209, 82%, 71%);
	--javlo-ui-primary-accent-color-3: hsl(209, 83%, 51%);
	--javlo-ui-secondary-accent-color-1: hsl(324, 100%, 91%);
	--javlo-ui-secondary-accent-color-2: hsl(324, 100%, 71%);
	--javlo-ui-secondary-accent-color-3: hsl(324, 100%, 51%);

	--javlo-layer-color: hsl(209, 83%, 51%);
	--javlo-layer-color-bg: hsl(209, 83%, 51%, .2);

	--javlo-flash-color: hsl(343, 58%, 53%);
	--javlo-flash-color-bg: hsl(343deg 58% 97%);

	--javlo-shadow-color: 209deg 18% 16%;
	--javlo-shadow-elevation-medium:
		0.3px 0.5px 0.7px hsl(var(--javlo-shadow-color) / 0.36),
		0.8px 1.6px 2px -0.8px hsl(var(--javlo-shadow-color) / 0.36),
		2.1px 4.1px 5.2px -1.7px hsl(var(--javlo-shadow-color) / 0.36),
		5px 10px 12.6px -2.5px hsl(var(--javlo-shadow-color) / 0.36);

	/*General*/
	--javlo-ui-color-text-primary: white;
	--javlo-ui-color-danger: hsl(343, 58%, 53%);
	--javlo-ui-color-success: hsl(134, 67%, 41%);

	/// colors schema

	--javlo-ui-bg-primary: var(--javlo-ui-color-8);
	--javlo-ui-bg-secondary: var(--javlo-ui-color-9);
	--javlo-ui-bg-tertiary: var(--javlo-ui-color-10);
	--javlo-ui-bg-tools: var(--javlo-ui-color-7);
	--javlo-ui-border: var(--javlo-ui-color-10);
	--javlo-ui-text: #ccc;

	--javlo-ui-btn-toggle-inactive-text: #333;

	/*BTN*/
	--javlo-ui-btn-bg-active: transparent;
	--javlo-ui-btn-bg-hover: hsl(209, 14%, 30%, .2);
	--javlo-ui-btn-toggle-bg-active: var(--javlo-ui-primary-accent-color-3);
	--javlo-ui-btn-toggle-bg-inactive: var(--javlo-ui-bg-secondary);

	--javlo-ui-btn-border: var(--javlo-ui-border);

	--javlo-ui-btn-text-active: white;
	--javlo-ui-btn-text-hover: var(--javlo-ui-color-3);
	--javlo-ui-btn-text-inactive: var(--javlo-ui-color-5);
	--javlo-ui-btn-text-disabled: var(--javlo-ui-color-9);

	--javlo-ui-btn-separator: var(--javlo-ui-color-9);

	--javlo-ui-clipboard-bg: hsl(209, 83%, 51%, 0.1);
	--javlo-ui-clipboard-bg-hover: hsl(209, 83%, 51%, 0.5);
	--javlo-ui-clipboard-border: var(--javlo-ui-primary-accent-color-1);
	--javlo-ui-clipboard-text: var(--javlo-ui-primary-accent-color-1);

	--javlo-ui-special-action-color: var(--javlo-ui-primary-accent-color-2);
	--javlo-ui-special-action-color-bg: hsl(209, 83%, 51%, .1);

	/*Sidebar*/

	--javlo-ui-nav-root-btn-bg: var(--javlo-ui-color-9);
	--javlo-ui-nav-root-btn-border: var(--javlo-ui-color-9);
	--javlo-ui-nav-root-btn-text: white;

	--javlo-ui-nav-btn-bg-active: var(--javlo-ui-color-7);
	--javlo-ui-nav-btn-bg-inactive: transparent;

	--javlo-ui-nav-btn-border-inactive: var(--javlo-ui-color-7);

	--javlo-ui-nav-btn-text-active: white;
	--javlo-ui-nav-btn-text-inactive: var(--javlo-ui-color-3);

	--javlo-ui-add-nav-btn-bg: transparent;
	--javlo-ui-add-nav-btn-border: var(--javlo-ui-accent-color-1);
	--javlo-ui-add-nav-btn-text: var(--javlo-ui-primary-accent-color-1);

	/*Edit Overlays*/

	--javlo-ui-edit-bg: hsla(209, 84%, 81%, 0.2);
	--javlo-ui-edit-border: var(--javlo-ui-primary-accent-color-3);
	--javlo-ui-edit-btn: white;
	--javlo-ui-edit-text: var(--javlo-ui-primary-accent-color-1);


	/* Spacings and size */
	--javlo-main-separator: 16px;
	--javlo-menu-height: 40px;
	--javlo-sidebar-width: 330px;
	--javlo-modal-maximize-border-multi: 6;
	
	--javlo-ui-text-secondary: var(--javlo-ui-color-3);

	// Fonts
	--bsicons: "bootstrap-icons";
	--systemfonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;

	@import 'main_javlo.scss';

	.main-box {
		margin: var(--javlo-main-separator);
	}
}

@media (max-width: 1900px) {

	#preview_command,
	body#main-body,
	:root {
		--javlo-modal-maximize-border-multi: 3;
	}
}

@media (max-width: 1400px) {

	#preview_command,
	body#main-body,
	:root {
		--javlo-modal-maximize-border-multi: 0;
	}
}