#main-renderer {
	margin-top: 20px;
}

#tools {
	margin-bottom: 20px;
}

.valid .valid-cell span {
    background-color: #74AA27;
}

.error .valid-cell span {
    background-color: #E9320F;
}

.valid-cell {
	text-align: center;
}

.valid-cell span {
    border-radius: 8px 8px 8px 8px;
    padding: 2px 12px;
    text-align: center;
    color: #ffffff;
}


.remote-server-tree .server {
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
	background-color: #f7f7f7;
}

.remote-server-tree .server-title {
	display: block;
	padding: 10px;
	font-weight: bolder;
	font-size: 1.1em;
	background-color: #DDDDDD;
	color: #000000;
}

.remote-server-tree .server > ul {
	margin: 10px;
}

.remote-server-tree .server > ul ul li {
	margin-left: 25px;
}

