#preview_command a {
    color: #D31996 !important;;
}

#preview_command .header, #preview_command .sidebar {
	background-color: #464646;
	color: #dddddd !important;
	border: 0 none;
}

#preview_command .action-title {
	display: none;
}

#preview_command .header li .inwrapper {
    color: #cccccc !important;;
}

#preview_command .btn-default, #preview_command .settings .btn, #preview_command .component-list .component .wrapper-in, #preview_command .thumbnail {
    color: #dddddd !important;
    background-color: #555555;
    border-color: #333333;
}

#preview_command .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442 !important;
}

#preview_command .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b !important;
}

#preview_command .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d !important;
}

#preview_command .btn-default:hover {
    color: #dddddd !important;;
    background-color: #555555;
    border-color: #cccccc;
}

#preview_command .component-list .component:HOVER .wrapper-in, #preview_command .thumbnail:HOVER .caption {
	color: #333333 !important;;
}

#preview_command .pages.web .selected a {
    color: #333333 !important;;
}

#preview_command .settings .btn .label, #preview_command .thumbnail .caption {
	color: #dddddd !important;;	
}

#preview_command .settings .btn .value {
	color: #cccccc !important;;	
}

#preview_command .settings .btn:hover .label {
	color: #333333 !important;;	
}

#preview_command .settings .btn:hover .value {
	color: #555555 !important;;	
}

#preview_command .pages ul.navigation li a, #preview_command .pages ul.navigation li h4 {
	color: #dddddd !important;;
    background-color: #555555;	
}

#preview_command .pages ul li.current a {
    background: #eee;
    border-left: 2px solid #007ce7;
    color: #007ce7 !important;;
    font-weight: 700;
}

#preview_command .active, #preview_command .component-list .component .active { 
	color: #999b98 !important;;
}

#preview_command .pulse {  
  background: #D31996;
  box-shadow: 0 0 0 rgba(211,25,150, 0.4);  
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(211,25,150, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(211,25,150, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(211,25,150, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(211,25,150, 0.8);
    box-shadow: 0 0 0 0 rgba(211,25,150, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(211,25,150, 0);
      box-shadow: 0 0 0 10px rgba(211,25,150, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(211,25,150, 0);
      box-shadow: 0 0 0 0 rgba(211,25,150, 0);
  }
}

