@import url("../../content/css/content.css");

$depthColor: #eec342;

#sitemap {
	
	--basic-depth: 50px;

	table form {
		display: inline;
		margin-right: 10px;
	}
	
	td {
		padding: 0 15px;
	}
	
	.action {
		display: table-cell;
	} 
	
	.action.check input {
		margin: 6px auto;
		width: 20px;
		height: 20px;
	}
	
	.action.button input {
		margin-right: 10px;
		margin-top: 2px;
	}
	
	tr.depth-1 td {
		background-color: $depthColor;	 
	}
	
	tr.depth-2 td {
		background-color: lighten($depthColor, 10%);
	}
	
	tr.depth-3 td {
		background-color: lighten($depthColor, 20%);
	}
	
	tr.depth-4 td {
		background-color: lighten($depthColor, 30%);
	}
	
	tr.depth-5 td {
		background-color: lighten($depthColor, 40%);
	}
	
	tr.depth-6 td {
		background-color: lighten($depthColor, 50%);
	}
	
	tr.depth-7 td {
		background-color: lighten($depthColor, 60%);
	}
	
	tr.depth-1 .link {
		padding-left: var(--basic-depth); 
	}
	
	tr.depth-2 .link {
		padding-left: calc(var(--basic-depth) * 2) 
	}
	
	tr.depth-3 .link {
		padding-left: calc(var(--basic-depth) * 3) 
	}
	
	tr.depth-4 .link {
		padding-left: calc(var(--basic-depth) * 4) 
	}
	
	tr.depth-5 .link {
		padding-left: calc(var(--basic-depth) * 5) 
	}
	
	tr.depth-6 .link {
		padding-left: calc(var(--basic-depth) * 6) 
	}

}