#preview_command {
	background-color: #171717;
	color: #AFAFAF;
	box-shadow: 0 0 7px #333333;
	height: 100%;	
}

.edit-preview #preview_command {
	left: auto;
	right: 0;
	margin-top: 27px !important;
}

@media screen and (min-width: 1200px) {
	
	.fix-preview #preview_command .subblock {
		left: 0;
		right: auto;
		top: 0;
		width: 200px;
		position: fixed;
		background-color: #171717;
		box-shadow: 0 0 7px #333333;
		color: #AFAFAF;
		height: 100%;
		margin-top: 27px;
	}
	.fix-preview #preview_command {
		left: auto;
		right: 0;
	}
}

#preview_command li.refresh {
	display: block;
}

#preview_command figure,#preview_command .content,#preview_command .description,#preview_command,#preview_command h1,#preview_command h2,#preview_command h3,#preview_command h4,#preview_command li,#preview_command ul,#preview_command label,#preview_command img,#preview_command div,#preview_command a,#preview_command span,#preview_command input,#preview_command fieldset,#preview_command legend,#preview_command form,#preview_command select,#preview_command option,#preview_command .navigation
	{
	color: #AFAFAF;
}

#preview_command .pc_body {
	padding: 0;
}

#preview_command a.central-button {
	padding: 0;
	border: 0px none;
	margin: 0;
	position: absolute;
}

body.preview-only {
	margin-left: 0;
}

#preview_command  #formlogout {
	display: none;
}

.fix-preview #preview_command .one_half {
	width: 48%;
}

.fix-preview #preview_command input[type="text"] {
	display: block;
}

.fix-preview #preview_command .add-page input[type="submit"] {
	margin: 4px;
	padding: 3px;
}

.fix-preview #preview_command .add-page input[type="text"] {
	width: 133px;
}

#preview_command input[type="text"] {
    width: 140px;
}

#preview_command div,#preview_command div legend,#preview_command div a
	{
	/* default color, user div for overwrite escape from default preview css file */
	color: #afafaf;
}

#preview_command .pc_body fieldset.closable .closable_action {
	font-size: 0;
	height: 7px;
	width: 7px;
	top: 0;
	left: 4px;
	right: auto;
	border: 0 none;
	background-color: transparent;
}

#preview_command fieldset.closable .closable_action.open {
	background-image: url('../images/preview/open.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#preview_command fieldset.closable .closable_action.close {
	background-image: url('../images/preview/close.png');
	background-repeat: no-repeat;
	background-position: left center;
}

#preview_command fieldset {
	padding: 0;
	margin: 0;
	border: 0 none;
	width: 100%;
	overflow: hidden;
}

#preview_command fieldset legend, #preview_command fieldset .legend {
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	border-top: 1px #3a3a3a solid;
	width: 100%;
}

#preview_command fieldset legend a, #preview_command fieldset .legend a {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	margin-left: 4px;
	padding: 4px 3px;
}

#preview_command .component,#preview_command .navigation li span,#preview_command input[type=submit],#preview_command .macro-list a,#preview_command .shared .content-wrapper,#preview_command .message	{
	margin: 0 4px 4px 0;
	padding: 1px;
	color: #afafaf;
	background-color: #494949;
	border: 1px #5b5b5b solid;
	border-radius: 3px;
}

#preview_command .macro-list form {
	margin: 0 6px 4px 0;
}

#preview_command #paste .component {
	padding-left: 15px;
	background-image: url("../images/preview/copy_small.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#preview_command #shared-content-search-form input {
	margin: 4px;
}

#preview_command input[type=submit]:hover {
	background-color: #AFAFAF;
	text-decoration: none;
	color: #ffffff;
}

#pc_upload #upload-zone {
	padding: 3px;
	color: #afafaf;
	background-color: #333333;
}

/** NOTIFICATION MESSAGES (login.html, dashboard.html) **/
#preview_command .message {
	padding: 6px 6px 6px 42px;
	margin: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	color: #333333;
}

#preview_command .msgalert {
	border: 1px solid #eac572;
	background: #ffe9ad url(../images/icons/warning.png) no-repeat 10px
		center;
}

#preview_command .msginfo {
	border: 1px solid #99c4ea;
	background: #d1e4f3 url(../images/icons/info.png) no-repeat 10px center;
}

#preview_command .msgsuccess {
	border: 1px solid #c1d779;
	background: #effeb9 url(../images/icons/success.png) no-repeat 10px
		center;
}

#preview_command .msgerror {
	border: 1px solid #e18b7c;
	background: #fad5cf url(../images/icons/error.png) no-repeat 10px center;
}

#pc_upload #upload-zone span,#preview_command #preview-delete-zone,#preview_command #preview-copy-zone {
	background-color: #2e2e2e;
	border: 1px #5b5b5b dashed;
	border-radius: 3px;
	font-size: 0;
	background-image: url("../images/preview/drop-a-file.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	display: block;
	float: none;
}

#preview_command #preview-delete-zone, #preview_command #preview-copy-zone {
	height: 140px;
}

#preview_command #preview-delete-zone.hidden, #preview_command #preview-copy-zone.hidden {
	display: none;
}

#preview_command #preview-delete-zone {
	background-image: url("../images/preview/big_trash.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#preview_command #preview-copy-zone {
	background-image: url("../images/preview/copy.png");
	background-repeat: no-repeat;
	background-position: center center;
}


#preview_command #ajax-loader {
	margin: 12px 0;
	font-size: 16px;
	background-image: url("../images/loaders/dark-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	height: 16px;
}

#preview_command .ajax-loader.active {
	margin: 12px 0;
	font-size: 16px;
	background-image: url("../images/loaders/grey-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 16px;
}

#preview_command .ajax-loader.active .content-wrapper {
	display: none;
}

#preview_command #ajax-loader.active {
	display: block;
}

#preview_command .component span {
	color: #afafaf;
	text-transform: uppercase;
	text-shadow: 1px -1px 0 #333333;
}

#preview_command input[type=text],#preview_command select {
	margin: 4px 4px 4px 0;
	padding: 3px;
	color: #afafaf;
	background-color: #232323;
	border: 1px #5b5b5b solid;
	border-radius: 3px;
}

.fix-preview #preview_command select {
	width: 100%;
}

#preview_command input[type="text"] {
	color: #ffffff;
	box-shadow: 0 0 0 #ffffff;
	text-transform: uppercase;
}

.fix-preview #preview_command .add-page input[type="text"] {
	text-transform: none;
}

#preview_command .add-page {
	overflow: hidden;
}

#preview_command .add-page input {
	float: left;
}

#preview_command .navigation li span a {
	color: #afafaf;
}

#preview_command .navigation li:hover #breadcrumb {
	display: block;
}

#preview_command .navigation li #breadcrumb {
	display: none;
}

#preview_command #breadcrumb {
	position: absolute;
	width: 100%;
}

#preview_command .breadcrumb-wrapper {
	position: relative;
}

#preview_command .breadcrumb {
	background-color: #333333;
	padding: 1px;
	border: 1px #ffffff solid;
	border-radius: 3px;
	margin-bottom: -28px;
	margin-left: -3px;
	width: 248px;
	position: absolute;
	bottom: 0;
	left: 1px;
}

#preview_command .navigation li .breadcrumb span {
	margin: 4px 0 4px 0;
}

#preview_command .breadcrumb li {
	margin-left: 4px;
}

#preview_command .breadcrumb a {
	color: #ffffff;
}

#preview_command .navigation span:hover,#preview_command .macro-list a:hover,#preview_command .pc_command .pc_line:hover,#preview_command .macro-list input:hover
	{
	background-color: #AFAFAF;
	text-decoration: none;
}

#preview_command .navigation span:hover a,#preview_command .macro-list a:hover,#preview_command .pc_command .pc_line:hover label,#preview_command .macro-list input:hover
	{
	color: #ffffff;
}

#preview_command .navigation .current span {
	background-color: #ff5a00;
}

#preview_command .navigation .current a {
	color: #ffffff;
}

#preview_command .component-list,#preview_command .navigation,#preview_command .macro-list,#preview_command .shared-wrapper
	{
	border-top: #1f1f1f 1px solid;
	padding-left: 0;
	background-color: #333333;
	padding: 3px;
	overflow: hidden;
}

#preview_command .composition .body {
	background-color: #333333;
}

#preview_command .composition .navigation {
	border: 0 none;
}

#preview_command h4 {
	margin-right: 4px;
	font-style: italic;	
	border-bottom: 1px #484848 solid;
}

#preview_command h4 span {
	padding-bottom: 2px;
	color: #afafaf !important;
	border-bottom: 1px #242424 solid;
}

#preview_command h4 .close {
	float: right;	
}

#preview_command .component span,#preview_command .navigation .sortable li a
	{
	background-image: url("../images/preview/drag.png");
	background-position: center right;
	background-repeat: no-repeat;
	margin-left: 3px;
	padding-right: 10px;
	display: block;
}

#preview_command .navigation .sortable li.current a {
	background-image: url("../images/preview/drag-active.png");
}

#preview-layer span {
	background-color: #6f6f6f;
}

#preview_command .msgerror {
	border: 1px solid #e18b7c;
	background: #fad5cf url(../images/icons/error.png) no-repeat 10px center;
}

#preview-layer.ui-draggable-dragging {
	/*border: 4px #777777 solid;*/
	height: 50px;
	width: 50px;
	display: block;
	background-image: url('../images/icons/box_close.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#preview-layer.ui-draggable-dragging.drop-up {
	background-image: url('../images/icons/box_open.png');
}

#preview-layer.ui-draggable-dragging {
	border-color: 4px #777777 solid;
}

/** top bar **/
body.edit-preview {
	margin-top: 27px;
}

#preview_command .pc_header {
	padding: 0;
	margin: 0;
	border: 0 none;
	height: 27px;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #171717;
	z-index: 1;
}

.preview-notlogged #preview_command .pc_header {
	display: none;
}

.preview-notlogged #preview_command,.preview-only #preview_command {
	width: 0;
}

#preview_command .pc_header .title {
	display: none;
}

#preview_command .pc_command {
	padding: 0;
	margin: 0;
	height: 27px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #171717;
	overflow: hidden;
}

.preview-only #preview_command .pc_command {
	left: auto;
	right: 0;
}

#preview_command .pc_command ul {
	margin: 0 30px 0 0;
}

.preview-only #preview_command .pc_command {
	width: auto;
	padding-left: 2px;
}

#preview_command .pc_line,#preview_command  .pc_command .pc_line {
	padding: 0 4px;
	margin: 0;
	background-color: #333333;
}

#preview_command .pc_command li.undo, #preview_command .pc_command li.slide, #preview_command .pc_command li.preview,#preview_command .pc_command li.refresh,#preview_command .pc_command li.publish, .edit-preview #preview_command .renderers, .edit-preview #preview_command .languages
	{
	float: right;
	margin-right: 4px;
}

.fix-preview #preview_command .renderers .pc_line, .fix-preview #preview_command .languages .pc_line, .fix-preview #preview_command .renderers, .fix-preview #preview_command .languages, .fix-preview #preview_command .renderers form, .fix-preview #preview_command .languages form {
	border: 0 none;
	padding: 0;
	margin: 0;
}

 .fix-preview #preview_command .languages {
 	padding-right: 15px; 	
 }
 
 .fix-preview #preview_command .renderers {
 	padding-right: 5px;
 }

#preview_command .pc_command select {
    box-shadow: 1px 1px 3px #333333 inset; 
    border: 1px solid #686868;
}

#preview_command .pc_command select option {
	margin-right: 6px;
}

#preview_command .pc_command select#renderers_button {
	width: auto;
}

#preview_command .pc_command legend {
	display: none;
}

#preview_command .pc_command form {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	height: auto;
}

#preview_command .pc_command li {
	padding: 0;
	height: 21px;
	margin: 2px 1px 3px 1px;
	vertical-align: middle;
	border: 1px #686868 solid;
	display: inline-block;
}

#preview_command #pc_command.pc_command input {
	background-color: transparent;
	height: 13px;
	width: 13px;
	margin-left: 2px;
	margin-right: 2px;
	float: left;
	margin-top: 5px;
}

#preview_command .pc_command label,#preview_command .pc_command input {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	color: #afafaf;
	line-height: 21px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: 1px -1px 0 #333333;
}

#preview_command .no-access label,#preview_command .no-access input {
	opacity: 0.3;
}

#preview_command .component-list .component {
	line-height: 13px;
	width: auto;
	float: none;
}


/** icones **/
#preview_command #pc_command.pc_command input {
	background-image: url("../images/preview/ico_little.png");
	background-position: 0 -3077px;
	background-repeat: no-repeat;
}

#preview_command #pc_command.pc_command .slide {
	display: block;
}

.preview-only #preview_command #pc_command.pc_command .slide {
	display: none;
}


#preview_command #pc_command.pc_command .slide a {
	background-image: url("../images/preview/ico_little.png");
	background-position: 0 -3397px;
	background-repeat: no-repeat;
	background-color: #333333;
	display: block;
	height: 21px;
	width: 12px;
	font-size: 0;
}


#preview_command #pc_command.pc_command .undo input {
	background-position: 0 -179px;
	 height: 16px;
}

#preview_command #pc_command.pc_command .redo input {
	background-position: 0 -216px;
	 height: 16px;
}

#preview_command #pc_command.pc_command.reduce .slide a {
	background-position: 0 -3451px;
}

#preview_command #pc_command.pc_command.reduce ul {
	margin: 0;
}


#preview_command #page_properties_composition {
	background-image: url("../images/preview/ico_little.png");
	background-position: 0 -751px;
	background-repeat: no-repeat;
	float: right;
	margin-top: -19px;
	width: 16px;
	height: 16px;
	font-size: 0;
	text-indent: 100px;
	overflow: hidden;
}

#preview_command #page_properties_composition:HOVER {
	cursor: pointer;
}

#preview_command #page_properties_composition .pc_line {
	display: none;
}

#preview_command .pc_command #pc_edit_button.pc_edit_true {
	background-image: url("../images/preview/ico_little.png");
	background-position: 0 -1511px;
	background-repeat: no-repeat;
}

#preview_command #pc_command.pc_command #pc_publish_button {
	background-position: 0 -2142px;
}

#preview_command #pc_command.pc_command #pc_mailing {
	background-position: 0 -71px;
}

#preview_command #pc_command.pc_command #pc_del_page_button {
	background-position: 0 -2897px;
}

#preview_command #pc_command.pc_command #export_pdf_button {
	background-position: 0 -3058px;
}

#preview_command #pc_command.pc_command #pc_user_info {
	background-position: 0 -233px;
}

#preview_command #pc_command.pc_command #pc_change_template {
	background-position: 0 -2735px;
}

#preview_command #pc_command.pc_command #pc_page_properties {
	background-position: 0 -755px;
}

#preview_command #pc_command.pc_command #home_button {
	background-position: 0 -611px;
	height: 16px;
}

#preview_command #pc_command.pc_command #refresh_button {
	background-position: 0 -2447px;
	height: 16px;
}

#preview_command .pc_command a#pc_edit_button.pc_edit_true {
	padding-top: 2px;
	padding-left: 20px;
	padding-right: 4px;
	background-position: 4px -1506px;
	background-color: #333333;
	text-decoration: none;
	display: block;
	height: 19px;
}

#preview_command .pc_command a#pc_edit_button.pc_edit_true:hover {
	background-color: #f5f5f5;
	text-decoration: none;
	color: #333333;
}

#preview_command #home_form label,#preview_command #refresh_form label {
	display: none;
}

#preview_command #pc_edit_mode_button {
	background-image: url("../images/preview/ico.png");
	background-position: 0 -3236px;
	background-repeat: no-repeat;
	width: 23px;
	height: 27px;
	margin: 0 0 0 7px;
	padding: 0;
	display: inline;
	color: #afafaf;
	line-height: 27px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: 1px -1px 0 #333333;
}

#preview_command #pc_edit_mode_button.logout {
	background-position: 0 -3127px;
}

.preview-notlogged #preview_command .login span {
	display: block;
	background-image: url("../images/preview/ico.png");
	background-position: 5px -1993px;
	background-repeat: no-repeat;
	height: 23px;
	width: 23px;
	padding: 4px 0 4px 4px;
	margin: 0;
	border: 0 none;
	font-size: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #333333;
	box-shadow: 0 0 7px #333333;
}

/** footer **/
.preview-only #preview_command .pc_footer {
	display: none;
}

#preview_command .pc_footer {
	margin: 0;	
	bottom: 0;
	color: #AFAFAF;
	background-color: #333333;
	border-top: 1px solid #1F1F1F;
	overflow: hidden;
	padding: 3px;
	display: block;
	width: 194px;
	overflow: hidden;
}

#preview_command .pc_footer a {
	float: left;
}

#preview_command .pc_footer .version {
	float: right;
	color: #AFAFAF;
	text-align: right;
}

#preview_command .shared-content.image .content-wrapper.without-description {
	width: 80px;
	float: left;
	overflow: hidden;
}

#preview_command .shared-content h3 {
	overflow: hidden;
  	text-overflow: ellipsis;
  	height: 14px;
}

.table-component-preview {
	background-image: url("../images/preview/ico.png");	
	background-position: 0 -3941px;		
	background-repeat: no-repeat;
}

.table-component-preview.table-break {
	background-position: 1px -3857px;	
}

.table-component-preview.open-row {
	background-position: 2px -3804px;	
}