:root {
	--main-sep: 1rem;
}

body {
	font-family: var(--systemfonts);
	font-size: 12px;
}

body #tools .btn-primary, .btn-primary  {
	background-color: var(--javlo-ui-btn-toggle-bg-active);
	color: var(--javlo-ui-text);
}

.header{
	border-bottom: 3px solid var(--javlo-ui-text);
	.logo{
		color: var(--javlo-ui-text);
	}
}

.ms-1 {
	margin-left: .25rem !important;
}

.me-1 {
	margin-right: .25rem !important;
}

.mt-1 {
	margin-top: .25rem !important;
}

.mb-1 {
	margin-bottom: .25rem !important;
}

.topheader{
	ul{
		li{
			a{
				cursor: pointer;
					&:hover{
						opacity:.7;
					}
				.wrap{
					i{
						color: var(--javlo-ui-text);
					}
					span.count{
						background: var(--red);
					}
				}
				}
		}
	}
}

select {
	border-radius: 0;
	padding: 4px;
	background-color: transparent;
	border: 1px rgba(0,0,0,.2) solid;
	color: var(--javlo-ui-text);
}

.btn, .action-button, #tools select, #tools input, .action input[type="submit"], #popup_panel input[type="button"], .form-control, #main-body .ui-button {
	--btn-height: 28px;
	--btn-vertical-padding: 3px;
	padding: var(--btn-vertical-padding) 1em;
	line-height: calc(var(--btn-height) - var(--btn-vertical-padding) * 2);
	height: auto;
	background-color: #ddd;
	background-image: none;
	text-shadow: none;
	border: 1px #ddd solid;
	color: #555;
	border-radius: 3px;
	font-weight: bold;
	&:hover {
		background-color: var(--javlo-ui-bg-secondary);
		color: var(--javlo-ui-text);
		border-color: #fff;
		text-decoration: none !important;
	}
	span {
		display: inline-block;
		line-height: calc(var(--btn-height) - var(--btn-vertical-padding) * 2);
	}
	&::first-letter, span::first-letter { 
		text-transform: uppercase;
		 
	}
	.ui-button-text {
		padding: 0;
		line-height: normal;
		font-weight: normal;
		font-size: 12px;
	}
}

#main-body .ui-button {
	margin: 1px;
}

select.form-control {
	&:hover, &:focus {
		border-color: var(--javlo-ui-text);
		color: var(--javlo-ui-text);
		background-color: var(--javlo-ui-bg-primary) !important;
	}
}

.form-control, input[type="text"], #tools input[type="text"] {
	color: #000;
	border: 1px #999 solid;
	background-color: #eee;
	box-shadow: none;
	&:hover, &:focus {
		color: #000;
		background-color: #eee;
		border: 1px #333 solid;
		background-color: #ddd !important;
	}
}

body #popup_container {
  font-family: inherit;
  font-size: inherit;
  min-width: 300px;
  max-width: 600px;
  background-image: none;
  padding: 5px !important;
  border-size: 1px;
  color: #666;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.insert-line {
	margin-bottom: 15px;
	.btn {
		--btn-height: 18px;
	}
}

.content {
	h3 {
		background-color: transparent !important;
	}
	.notification  {
		p {
			display: inline;
		}
	}
}

body.previewEdit {
	.insert-line {
		display: none;
	} 
	.insert-line.action {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		padding: 15px;
		background-color: var(--javlo-ui-bg-primary) !important;
		button {
			height: 22px;
		}
	}
}

.action input[type="submit"] {
	margin-left: .5rem;
}

#tools {
	select {
		height: var(--btn-height);
	}	
} 


.component-wrapper {
	color: #333;
}

#button-content-submit {
	min-width: 140px;
}

.col-sm-1, .col-sm-2, .col-sm-3 {
	.btn {
		display: block;
		width: 100%;
	}
}

.page-properties {
	.form-control {
		min-width: 220px;
	}
	.checkbox-inline {
		margin-right: 5px;
	}
	.form-group {
		label {
			display: block;
		}
	}
	.form-group {
		label {
			min-width: 120px;
		}
	}
}

a {
	color: #00B4CC;
}

h1 a {
	color: var(--javlo-ui-text);
}


body fieldset {
	border-radius: 0;
	background-color: var(--javlo-ui-bg-muted);
	border: 1px var(--javlo-ui-border) solid; 
	legend {
		border-radius: 0;
		border: 1px var(--javlo-ui-border) solid;
		padding: 2px 5px;
		background-color: var(--javlo-ui-border);
		color: var(--javlo-ui-text);
	}
}

.dyntable {
	a {
		color: #000;
	}
}

body .ui-tabs {
	box-shadow: none !important;
}