/** ANDRO **/
@import 'andro_grey';
/** /ANDRO **/

.bloc-info {
	padding: var(--main-sep);
	background-color: #eeeeee;
}

label, legend, .label, h1, h2, h3 {
	&:first-letter {
    	text-transform: uppercase;
    }
}

.btn, .btn-group, ._jv_btn-check {
	.label, label {
		&::first-letter {
			text-transform: none;
		}
	}
}

.placeholder {
	opacity: .4;
}

.panel-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.btn {
		margin: 0;
	}
}

.ajax-loader, .ajax-loader-inline, .ajax-loader-block, .ajax-loader-flex {
	display: none !important;
}
.btn .loader {
	display: none;
	._jv_spinner {
		width: 1rem;
		height: 1rem;
	}
}

body.ajax-loading {
	.btn .text {
		display: none;
	}
	
	.btn .loader {
		display: block;
		img {
			height: 18px;
		}	
	}
	
	.ajax-not-loading {
		display: none;
	}
	
	.ajax-loader-inline {
		display: inline-block !important;
	}
	
	.ajax-loader-block, .ajax-loader {
		display: block !important;
	}
	
	.ajax-loader-flex {
		display: flex !important;
	}
}

.active {
	.noajax-text {
		display: none !important;
	}
	.ajax-loader {
		display: inline-block !important;
	}
}

#tools {
	border-radius: 3px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 4px 4px 8px;
	font-size: .8rem;
	background: var(--javlo-ui-bg-secondary);
	color: #fff;
	form {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	input, select, button, a.btn, a {
		margin-left: calc(var(--javlo-main-separator) / 2);
	}
	.picto {
		margin: 0 var(--main-sep);
	}
	.content {
		flex-grow: 2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

input {
	border-radius: 3px;
	padding: 4px;
	border: 1px solid rgba(24, 28, 33, 0.3);
	box-shadow: none;
	&:focus, &:focus-visible {
		border: 1px solid rgba(24, 28, 33, 0.8);
	}
}

.action {
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

.component-wrapper.action {
	display: block;
}

.bloc-info, .bloc-default {
	margin: var(--main-sep) 0;
	.row {
		margin-bottom: 5px;
	}
}

.btn[disabled] {
	opacity: 0.2;
}

.screenshot {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	img {
		max-height: 100px;
		max-width: 140px;
		display: block;
	}
	.btn {
		padding: 0;
		margin: 0;
		width: 140px;
		height: 30px;
	}
}
.create-article-macro {
	--image-width: 180px;
	.params {
		display: flex;
		.form-group {
			input, select {
				width: calc(var(--image-width) + var(--main-sep) + 2px);
			}
			margin-right: var(--main-sep);
		}
	}
	.select-image {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: var(--main-sep) 0;
		font-size: 0.9em;
		.image {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: var(--image-width);
			height: var(--image-width);
			padding: calc( var(--main-sep) / 2);
			border: 1px #dddddd solid;
			border-radius: 3px;
			margin-bottom: var(--main-sep);
			margin-right: var(--main-sep);
			background-color: #ffffff;
			align-items: center;
			img, .no-image {
				max-height: var(--image-width);
				max-width: var(--image-width);
			}
			.no-image, .no-image:hover {
				width: var(--image-width);
				height: var(--image-width);
				border-radius: 3px;
				border: 1px #ddddd solid;
				background-color: #eeeeee;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;			
				color: #ffffff;
				font-size: 20px;
			}
			.name {
				text-align: center;
				padding: 5px;
			}
		}
		.image:hover {
			text-decoration: none;
			border-color: var(--action-color); 
		}
		.image.select {
			border-color: var(--action-color);
			box-shadow: 0 0 0px 3px var(--javlo-ui-btn-toggle-bg-active);
		}
	}
}

.dataTables_wrapper {
	.form-control {
		display: inline;
		width: auto;
	}
}

.btn-nodecor {
	border: 0 none;
	background-color: transparent;
}

