.aim-messages {
	height: 300px;
	overflow: auto;	
}
.aim-messages .user {
	font-weight: bold;
}
.aim-messages .message {
	padding-left: 10px;
}
.aim-messages .to {
	font-weight: bold;
}
.aim-messages .to:after {
	content: '> ';
}
.aim-messages [data-user] {
	cursor: pointer;
}
