.maincontent .left {
	padding: 0 15px;
}

#notifications .current {
	font-weight: bold;
}

span.label {
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

.pie, .week {
    height: 250px;
    width: auto;
}

.charge {
    height: 250px;
    width: auto;
}

td.forme, td.priority {
	text-align: center;
}

.circle {
	margin: 0 15%;
}

.invoice ul {
	margin-left: 15px;
}

.invoice h3 {
	text-align: left;
	width: 100%;
	margin-bottom: 15px;
}

.lang {
	display: inline-block;
	text-transform: uppercase;
	padding: 3px 8px;
	color: #ffffff;
	background-color: #000000;
}