.maincontent .left {
	padding: 0 15px;
}

#notifications .current {
	font-weight: bold;
}

span.label {
	display: inline-block;
	width: 150px;
	font-weight: bold;
}

.pie {
    height: 250px;
    width: auto;
}

.charge {
    height: 250px;
    width: auto;
}