.site-properties .thumbview .info {
	height: 130px;
}

.templates-list .template-action {
	text-align: right;
	clear: both;
}

#sitelist .complexity span {
	padding: 2px 12px;
	text-align: center;
	border-radius: 8px;
}

#sitelist .complexity span.complexity-3 {
	background-color: #E9320F;
}

#sitelist .complexity span.complexity-2 {
	background-color: #F79A0A;
}

#sitelist .complexity span.complexity-1 {
	background-color: #74AA27;
}

#sitelist table li {
	padding-left: 10px;
}

#sitelist td {
	vertical-align: middle;
}

#sitelist ul {
	margin-left: 5px;
}

#sitelist ul li {
	overflow: visible;
	width: 10px;
	height: 10px;
	border-bottom: 1px #dddddd solid;
	margin-bottom: 4px;	
}

#sitelist ul li a {
	display: inline-block;
	padding-left: 15px;
	overflow: hidden;	
	border-left: 1px #dddddd solid;
	width: 150px;	
	height: 18px; 
}

#sitelist ul li:last-child {
	border-left: 1px #dddddd solid;
}


#sitelist ul li:last-child a {
	border-left: 0 none;
}

#form-page-properties label:AFTER {
	margin: 0 3px;
}

#form-page-properties .checkbox label:AFTER {
	margin: 0;
	content: "";
}

#form-page-properties fieldset {
	clear: both;
	overflow: hidden;
}

.delete-link {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.data-line {
	margin-bottom: 5px;
}

h2 {
	margin-top: 15px;
	margin-bottom: 5px;
}

.check {
	padding-top: 6px;
	color: #4DA74D;
	text-align: right;
}

.fake-img {
	font-size: 150px;
	color: #cccccc;
}

.fonts {
	text-align: center;
	margin-bottom: 30px;
}

.fonts select {
	margin-bottom: 15px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	font-size: 11px;
	height: 20px;
	line-height: 1.42857;
	padding: 1px 3px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.fonts .exemple {
	font-size: 20px;
}

a.nav {
	display: inline-block;
	font-size: 1.4em;
	padding: 0 3px 0 3px;
}

.cookies-types {
	display: flex;
	flex-wrap: wrap;
	border: 1px #cccccc solid;
	border-radius: 3px;
	padding: 5px 15px;
}

.cookies-types .checkbox {
	display: block;
	width: 30%;
	margin-top: 10px;
	margin-right: 3%;
	margin-left: 0;
	margin-bottom: 0;
	white-space: nowrap; 
}

.data-line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ref-context {
	vertical-align: center;
}

.ref-context i {
	font-size: 14px;
}

.color-list {
	display: flex;
	justify-content: left;
	align-items: center;

	flex-wrap: wrap;
}

.color-list input {
	padding: 2px 1px;
	font-size: .6rem;
	font-weight: normal;
	text-align: center;
	min-width: 45px;
	margin-bottom: 3px;
}
