.standard-form input[type="text"], .standard-form select {
    width: auto;
}

.children {
	margin-left: 32px;
}

.navigation li a.editor {
	background-position: 7px center;
	background-repeat: no-repeat;
}

#navigation .add-page {
	display: none;
}