<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Buttons &amp; Icons | Mandy Lane - Premium Admin Template</title>
<link rel="stylesheet" media="screen" href="css/style.css" />

<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/ie9.css"/>
<![endif]-->

<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/ie8.css"/>
<![endif]-->

<!--[if IE 7]>
    <link rel="stylesheet" media="screen" href="css/ie7.css"/>
<![endif]-->

<script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/custom/general.js"></script>

</head>

<body class="bodygrey">

<div class="headerspace"></div>

<div class="header">
	
    <form id="search" action="" method="post">
    	<input type="text" name="keyword" /> <button class="searchbutton"></button>
    </form>
    
    <div class="topheader">
        <ul>
            <li class="note">
                <a href="pages/message.html" class="messagenotify">
                    <span class="wrap">
                        <span class="thicon msgicon"></span>
                        <span class="count">1</span>
                    </span>
                </a>
            </li>
            <li class="note">
            	<a href="pages/info.html" class="alertnotify">
                	<span class="wrap">
                    	<span class="thicon infoicon"></span>
                        <span class="count">5</span>
                    </span>
                </a>
            </li>
        </ul><!--horMenu-->
    </div><!--topheader-->


    <!--logo-->
	<a href=""><img src="images/logo2.png" alt="Logo" /></a>
    
    <div class="tabmenu">
    	<ul>
        	<li><a href="dashboard.html" class="dashboard"><span>Dashboard</span></a></li>
            <li><a href="elements.html" class="elements"><span>Elements</span></a>
            	<ul class="subnav">
                	<li><a href=""><span>Sub Menu One</span></a></li>
                    <li><a href=""><span>Sub Menu Two</span></a></li>
                    <li><a href=""><span>Sub Menu Three</span></a></li>
                </ul>
            </li>
            <li><a href="reports.html" class="reports"><span>Reports</span></a></li>
            <li><a href="users.html" class="users"><span>Users</span></a></li>
        </ul>
    </div><!--tabmenu-->
    
    <div class="accountinfo">
    	<img src="images/avatar.png" alt="Avatar" />
        <div class="info">
        	<h3>John Doe</h3>
            <small>youremail@domain.com</small>
            <p>
            	<a href="">Account Settings</a> <a href="index.html">Logout</a>
            </p>
        </div><!--info-->
    </div><!--accountinfo-->
</div><!--header-->


<div class="sidebar">
	<div id="accordion">
        <h3 class="open">Main Navigation</h3>
        <div class="content" style="display: block;">
        	<ul class="leftmenu">
            	<li><a href="dashboard.html" class="home">General</a></li>
                <li><a href="forms.html" class="form">Form Styling</a></li>
                <li><a href="tables.html" class="table">Table Styling</a></li>
                <li><a href="gallery.html" class="gallery">Image Gallery</a></li>
                <li><a href="grid.html" class="grid">Grid Styling</a></li>
                <li><a href="calendar.html" class="calendar">Calendar</a></li>
                <li class="current"><a href="buttons.html" class="buttons">Buttons &amp; Icons</a></li>
                <li><a href="editor.html" class="editor">WYSIWYG Editor</a></li>
                <li><a href="filemanager.html" class="file">File Manager</a></li>
                <li><a href="invoice.html" class="form">Invoice</a></li>
                <li><a href="404.html" class="error">404 Page</a></li>
            </ul>
        </div>
        <h3 class="open">Custom Text</h3>
        <div class="content" style="display: block;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
	</div>
    
    <br clear="all" />
	
</div><!--leftmenu-->


<div class="maincontent">

    <div class="breadcrumbs">
    	<a href="dashboard.html">Dashboard</a>
        <span>Buttons &amp; Icons</span>
    </div><!-- breadcrumbs -->
	
    <div class="left">
    	
        <h1 class="pageTitle">Buttons &amp; Icons</h1>
        
        <div class="two_third last">
            <div class="widgetbox2">
                <h3><span>Small Icons</span></h3>
                <div class="content">
        			<a href="" class="iconlink"><img src="images/icons/small/white/user.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/people.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/calendar.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/chat.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/mail.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/settings.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/save.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/search.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/edit.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/contact.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/minus.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/plus.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/close.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/star.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/check.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/tag.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/document.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/music.png" alt="" /></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/video.png" alt="" /></a>
                    
                    <br /> <br />
                    
        			<a href="" class="iconlink2"><img src="images/icons/small/black/user.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/people.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/calendar.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/chat.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/mail.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/settings.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/save.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/search.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/edit.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/contact.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/minus.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/plus.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/close.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/star.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/check.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/tag.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/document.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/music.png" alt="" /></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/video.png" alt="" /></a>

                </div><!--content-->
            </div><!--widgetbox2-->
        </div><!--tow_third last-->
        
        <br clear="all" />
        
        <div class="three_fourth last">
            <div class="widgetbox2">
                <h3><span>Small Icons with Text</span></h3>
                <div class="content">
					<a href="" class="iconlink"><img src="images/icons/small/white/user.png" class="mgright5" alt="" /> <span>User</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/people.png" class="mgright5" alt="" /> <span>People</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/calendar.png" class="mgright5" alt="" /> <span>Calendar</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/chat.png" class="mgright5" alt="" /> <span>Chat</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/mail.png" class="mgright5" alt="" /> <span>Mail</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/settings.png" class="mgright5" alt="" /> <span>Settings</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/save.png" class="mgright5" alt="" /> <span>Save</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/search.png" class="mgright5" alt="" /> <span>Search</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/edit.png" class="mgright5" alt="" /><span>Edit</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/contact.png" class="mgright5" alt="" /> <span>Contact</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/minus.png" class="mgright5" alt="" /> <span>Minus</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/plus.png" class="mgright5" alt="" /> <span>Plus</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/close.png" class="mgright5" alt="" /> <span>Close</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/star.png" class="mgright5" alt="" /> <span>Star</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/check.png" class="mgright5" alt="" /> <span>Check</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/tag.png" class="mgright5" alt="" /> <span>Tag</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/document.png" class="mgright5" alt="" /> <span>Document</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/music.png" class="mgright5" alt="" /> <span>Music</span></a>
                    <a href="" class="iconlink"><img src="images/icons/small/white/video.png" class="mgright5" alt="" /> <span>Video</span></a>
                    
                    <br /> <br />
                    
					<a href="" class="iconlink2"><img src="images/icons/small/black/user.png" class="mgright5" alt="" /> <span>User</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/people.png" class="mgright5" alt="" /> <span>People</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/calendar.png" class="mgright5" alt="" /> <span>Calendar</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/chat.png" class="mgright5" alt="" /> <span>Chat</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/mail.png" class="mgright5" alt="" /> <span>Mail</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/settings.png" class="mgright5" alt="" /> <span>Settings</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/save.png" class="mgright5" alt="" /> <span>Save</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/search.png" class="mgright5" alt="" /> <span>Search</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/edit.png" class="mgright5" alt="" /><span>Edit</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/contact.png" class="mgright5" alt="" /> <span>Contact</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/minus.png" class="mgright5" alt="" /> <span>Minus</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/plus.png" class="mgright5" alt="" /> <span>Plus</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/close.png" class="mgright5" alt="" /> <span>Close</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/star.png" class="mgright5" alt="" /> <span>Star</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/check.png" class="mgright5" alt="" /> <span>Check</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/tag.png" class="mgright5" alt="" /> <span>Tag</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/document.png" class="mgright5" alt="" /> <span>Document</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/music.png" class="mgright5" alt="" /> <span>Music</span></a>
                    <a href="" class="iconlink2"><img src="images/icons/small/black/video.png" class="mgright5" alt="" /> <span>Video</span></a>

                </div><!--content-->
            </div><!--widgetbox2-->
        </div><!--three_fourth last-->
        
        
        
    </div><!--left-->
    
    <br clear="all" />
    
</div><!--maincontent-->

<br />
<div class="footer footer_float">
	<div class="footerinner">
    	&copy; 2011. Mandy Lane Premium Template. All Rights Reserved.
    </div><!-- footerinner -->
</div><!-- footer -->

<script type="text/javascript">
	jQuery(document).ready(function(){
	
		jQuery('.iconlink, .iconlink2').click(function(){
			return false;
		});
	});
</script>
</body>
</html>
