<div class="messagelist">
    <h4>Notifications</h4>
    <ul>
        <li class="current">
        	<a href="">Sed ut perspiciatis uniste natus...</a>
        	<span>Nemo enim ipsam voluptatem quia...</span>
            <small>3 hours ago</small>
        </li>
        <li class="current">
        	<a href="">Sed ut perspiciatis...</a>
        	<span>Nemo enim ipsam voluptatem quia sdff...</span>
            <small>12 hours ago</small>
        </li>
        <li class="current">
        	<a href="">Sed ut perspiciatis uniste natus...</a>
        	<span>Nemo enim ipsam voluptatem quia...</span>
            <small>Yesterday</small>
        </li>
        <li class="current">
        	<a href="">Sed ut perspiciatis uniste natus...</a>
        	<span>Nemo enim ipsam voluptatem quia...</span>
            <small>3 hours ago</small>
        </li>
        <li class="current">
        	<a href="">Sed ut perspiciatis...</a>
        	<span>Nemo enim ipsam voluptatem quia sdff...</span>
            <small>12 hours ago</small>
        </li>
        <li>
        	<a href="">Sed ut perspiciatis uniste natus...</a>
        	<span>Nemo enim ipsam voluptatem quia...</span>
            <small>3 hours ago</small>
        </li>
        <li>
        	<a href="">Sed ut perspiciatis...</a>
        	<span>Nemo enim ipsam voluptatem quia sdff...</span>
            <small>12 hours ago</small>
        </li>
    </ul>
    <div class="link"><a href="">View All Notifications</a></div>
</div>