/* EDITABLE */



/* ----- Mail-Template ----- */
body {}
body #mail-template {
	margin:0;
	padding:0;
}
#mail-template {
	position:relative;
	z-index:1;
}


/* ----- Mail-Template (Page-Separator) ----- */
.page-separator {
	position:absolute;
	left:0;
	right:0;
	top:740px;
	height:0px;
	border-top:2px dotted #128bf3; 
	z-index:0;
}
.page-separator .page-separator-info {
	position:absolute;
	left:25px;
	bottom:8px;
	padding:5px 10px;
	font-size:.9em;
	background:#128bf3;
	color:#fff;
	border-radius:2px;
}
.page-separator .page-separator-info:after {
	display:block;
	position:absolute;
	left:50%;
	bottom:-4px;
	margin-left:-4px;
	width:8px;
	height:8px;
	content:"";
	background:#128bf3;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
.page-separator:hover .page-separator-info {
	opacity:.75;
	cursor:default;
}













#mail-template p {
	margin:0;
	padding:0;
}

/* ----- Table (Reset) ----- */
#mail-template table {
	margin:0;
	padding:0;
	font-family:inherit;
	font-size:1em;
	border:0;
}



/* ----- Components ----- */
.component {
	margin:0;
	padding:0;
}

.component.for-component-top {}
.component.for-component-bottom {}
.component.for-component-header {}

.component.for-component-h1 {}
.component.for-component-h2 {}
.component.for-component-h3 {}

.component.for-component-hr {}
.component.for-component-devider {}
.component.for-component-image {}

.component.for-component-text {}
.component.for-component-text-important {}
.component.for-component-text-image-left {}
.component.for-component-text-image-right {}

.component.for-component-table {}











/* ----- Components BgColor ----- */
#mail-template .table-bgcolor {
	width:100%;
	height:100%;
	padding:0;
}
#table-bgcolor {}








































/* ----- Area ----- */
.area {
	position:relative;
	border:1px solid transparent;
	margin-bottom:1px;
}
.area:hover {
	border:1px solid #128bf3;
}


.area.copy {
	background:rgba(18,139,243, .1) url(../../img/bg/zebra.png);
}
.area.copy img {
	opacity:.5;
}





/* ----- Area-Actions ----- */
.area .area-actions {
	position:absolute;
	right:-1px;
	top:-38px;
	height:34px;
	padding:5px 10px; 
	background:#128bf3;
	display:none;
	border-radius:2px;
}
.area .area-actions:after {
	position:absolute;
	left:50%;
	margin-left:-5px;
	bottom:-5px;
	width:10px;
	height:10px;
	content:"";
	background:#128bf3;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
.area .area-actions:before {
	position:absolute;
	left:0;
	right:0;
	bottom:-10px;
	height:10px;
	width:100%;
	content:"";
	background:rgba(255,255,255, .0);
}
.area:hover .area-actions,
.area:hover .area-title {
	display:block;
}

.area .area-actions .btn {
	background:none;
	border:none;
	height:24px;
	line-height:24px;
	padding:0;
	margin:0 5px;
}
.area .area-actions .btn-edit:before {
	display:inline-block;
	width:24px;
	height:24px;
	margin-right:0;
	background:url(../../img/bg/icon-edit.png) no-repeat 0 0;
}
.area .area-actions .btn-delete:before {
	display:inline-block;
	width:24px;
	height:24px;
	margin-right:0;
	background:url(../../img/bg/icon-edit.png) no-repeat 0 -24px;
}
.area .area-actions .btn-copy:before {
	display:inline-block;
	width:24px;
	height:24px;
	margin-right:0;
	background:url(../../img/bg/icon-edit.png) no-repeat 0 -48px;
}








/* ----- Area-Title ----- */
.area .area-title {
	display:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	padding:5px;
	font-size:.8em;
	background:#128bf3;
	background:rgba(18,139,243, .6);
	color:white;
}
.area .area-title:hover {
	background:rgba(18,139,243, .8);
}















/* ----- Component Sortable ----- */
.table-container .ui-state-highlight {
	background:rgba(18,139,243, .3);
	border-radius:2px;
	min-height:25px;
	margin:10px -100px;
	border:1px solid rgba(18,139,243, .3);
}

.table-container .ui-sortable-helper {
	background:rgba(255,255,255, .75);
	box-shadow:0 0 15px rgba(18,139,243, .3);
	border:2px dotted #128bf3;
	overflow:hidden;
	cursor:move;
}
.table-container .ui-sortable-helper .area {
	border:none;
}
.table-container .ui-sortable-helper .area-title,
.table-container .ui-sortable-helper .area-actions {
	display:none;
}







