$color_1: #fff;
$color_2: #708D91;
$color_3: #333;
$color_4: var(--javlo-ui-color-5);
$color_5: #555;
$font_family_1: javloFont, Verdana;
$background_color_1: var(--javlo-ui-bg-secondary);
$background_color_2: var(--javlo-ui-bg-primary);
$background_color_3: #fff;
$border_color_1: #ccc;

@import "bootstrap/bootstrap.min.css";

body {
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background_color_1 !important;
	color: $color_4;
	font-size: 14px;

	a,
	a:focus,
	a:hover {
		color: var(--javlo-ui-special-action-color);
	}
}

.main {
	--login-padding: 4rem;
	width: 400px;
	padding: var(--login-padding);
	background-color: $background_color_2 !important;
	position: relative;
	z-index: 2;
	// border: 1px solid var(--javlo-ui-border) !important;
	box-shadow: var(--javlo-shadow-elevation-medium);
	border-radius: 10px;

	.form-group {
		display: flex;
		align-items: center;

		.form-control {
			color: white !important;
			border: 0 !important;
			border-radius: 0;
			box-shadow: none;
			font-size: 1.1rem;
			padding: 6px 12px 6px 22px;
			background-color: var(--javlo-ui-color-6) !important;

			&::placeholder {
				color: var(--javlo-ui-color-3) !important;
			}

		}


		i {
			position: absolute;
			margin-left: 5px;
			color: white;
		}
	}

	h1 {
		text-align: center;
		color: $color_1;
		font-size: 40px;
		margin-top: 0;
		font-family: $font_family_1;

		.version {
			font-size: 0.4em;
			display: block;
			margin: 3px 0;
			font-size: 12px;
		}
	}
}

.wmsg {
	h1 {
		font-size: 32px;
	}
}

.alert {
	padding: 7px;
	text-align: center;
}

.login-reset-password {
	clear: both;
	display: flex;
	justify-content: flex-end;

	label {
		margin-top: 0.5em;
		font-weight: normal;
		font-size: 0.9em;
	}
}

.btn-google {
	margin-right: 5px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.g-signin2 {
	float: right;
	margin-right: 5px;

	.abcRioButton {
		height: 35px !important;
		display: inline-block;
		padding: 0;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		color: $color_3;
		background-color: $background_color_3;
		border-color: $border_color_1;
		box-shadow: 0 0 0 transparent;
	}
}

.btn,
.btn-default {
	min-width: 140px;
	border: 1px solid var(--javlo-ui-primary-accent-color-3) !important;
	background: var(--javlo-ui-primary-accent-color-3) !important;
	color: white;
	border-radius: 0;

	&:first-letter {
		text-transform: uppercase;
	}

	&:hover {
		background: var(--javlo-ui-color-9) !important;
		border: 1px var(--javlo-ui-color-9) solid !important;
		color: white !important;
	}
}



.check-remember label {
	font-size: 12px;
	display: flex;
	align-items: center;
	;

	input {
		border: 0 none;
		height: 12px;
		margin: 0;
	}
}