$color_1: #D31996;
$color_2: #708D91;
$color_3: #333;
$color_4: var(--javlo-ui-color-5);
$color_5: #555;
$font_family_1: javloFont, Verdana;
$background_color_1: var(--javlo-ui-bg-primary);
$background_color_2: #ffffff;
$background_color_3: #fff;
$border_color_1: #ccc;

@import "bootstrap/bootstrap.min.css";
body {
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background_color_1;
}
.main {
	width: 400px;
	border: 1px #cccccc solid;
	padding: 2rem;
	background-color: $background_color_2;
	h1 {
		text-align: center;
		color: $color_1;
		font-size: 80px;
		margin-top: 0;
		font-family: $font_family_1;
		.version {
			color: $color_2;
			font-size: 0.4em;
			display: block;
			margin: 3px 0;
			vertical-align: bottom;
			font-size: 12px;
		}
	}
}
.wmsg {
	h1 {
		font-size: 32px;
	}
}
.alert {
	padding: 7px;
	text-align: center;
}
.login-reset-password {
	clear: both;
	display: flex;
	justify-content: flex-end;
	label {
		margin-top: 0.5em;
		font-weight: normal;
		font-size: 0.9em;
	}
}
.btn-google {
	margin-right: 5px;
	padding-top: 8px;
	padding-bottom: 4px;
}
.g-signin2 {
	float: right;
	margin-right: 5px;
	.abcRioButton {
		height: 35px !important;
		display: inline-block;
		padding: 0;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		color: $color_3;
		background-color: $background_color_3;
		border-color: $border_color_1;
		box-shadow: 0 0 0 transparent;
	}
}
.btn {
	min-width: 140px;
	background: var(--javlo-ui-bg-secondary);
	border: 1px var(--javlo-ui-nav-btn-border) solid;
	color: $color_4;
	border-radius: 0;
}
.form-control {
	color: $color_5;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
}
