@import 'variables';

@import 'colors';

@import 'plugins/colorpicker';

@import 'plugins/jquery.ui.css';

@import 'plugins/jquery.jgrowl.css';

@import 'plugins/jquery.alerts.css';

@import 'plugins/fullcalendar.css';

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.small-col {	
	.form-group, .checkbox {
		margin: 0;
	}
}

input:focus, select:focus {
	border-color: $border-active;
}

/***GENERAL STYLES***/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: $text;
	background-color: $main-bg;
	font-size: 13px;
	line-height: 18px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}

.label {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

button {
	margin: 0;
	outline: 0;
}

small {
	font-size: 11px;
	line-height: 12px;
}

.bodywhite {
	background: #fff;
}

.bodygrey {
	background-color: $main-bg;
}

.page404 {
	background: #eee;
}

h1.prize {
	font-size: 28px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}

h2.prize {
	font-size: 20px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}

/***NOTIFICATION MESSAGES (login.html, dashboard.html)***/
.notification {
	padding: 10px 10px 10px 45px;
	margin: 0 0 20px 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
}

.notification .close {
	position: absolute;
	right: 5px;
	top: 5px;
	display: inline-block;
	width: 8px;
	height: 8px;
	cursor: pointer;
}

.notification .close {
	background: url(../images/icons/close.png) no-repeat 0 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.notifyError {
	border: 1px solid #ff0000;
	background: #FFECEC;
	color: #ff0000;
	font-size: 11px;
}

.msgalert, .msginfo, .msgsuccess, .msgerror {
	color: #333;
	&::before {
		color: #333 !important;
	}
}

.msgalert {
	border: 1px solid #eac572;
	background-color: #ffe9ad; 
}

.msginfo {
	border: 1px solid #99c4ea;
	background-color: #d1e4f3;
}

.msgsuccess {
	border: 1px solid #c1d779;
	background-color: #effeb9;
}

.msgerror {
	border: 1px solid #e18b7c;
	background-color: #fad5cf;
}

/***LOGIN PAGE (index.html)***/
.loginlogo {
	width: 320px;
	height: 178px;
	background: url(../images/gradcircle.png) no-repeat top left;
	margin: 80px auto 20px auto;
	padding: 25px 33px;
}

.loginbox {
	width: 580px;
	height: 62px;
	margin: 10px auto;
	background: url(../images/loginbox.png) no-repeat right -62px;
	padding-right: 11px;
}

.loginbox_inner {
	background: url(../images/loginbox.png) no-repeat 0 0;
	height: 62px;
	padding-left: 11px;
}

.loginbox_content {
	background: url(../images/loginbox.png) repeat-x 0 -124px;
	height: 62px;
	overflow: hidden;
	padding: 15px 2px;
}

.loginbox .username {
	border: 0;
	background: #eee url(../images/usernamefield.png) no-repeat;
	background-position: top left;
	width: 190px;
	margin-right: 10px;
}

.loginbox .username {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 5px 6px 40px;
	display: inline-block;
	font-size: 14px;
}

.loginbox .username:focus {
	background-color: #fff;
	background-position: 0 -32px;
}

.loginbox .password {
	border: 0;
	background: #eee url(../images/passwordfield.png) no-repeat;
	background-position: top left;
	width: 190px;
	margin-right: 10px;
}

.loginbox .password {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 5px 6px 40px;
	display: inline-block;
	font-size: 14px;
}

.loginbox .password:focus {
	background-color: #fff;
	background-position: 0 -32px;
}

.loginbox button {
	background: $main-bg url(../images/buttonbg.png) repeat-x top left;
	font-size: 13px;
	padding: 6px 14px;
	width: 67px;
	font-weight: bold;
}

.loginbox button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px #333;
	border: 0;
}

.loginbox button:active {
	-moz-box-shadow: inset 1px 1px 2px #000;
	-webkit-box-shadow: inset 1px 1px 2px #000;
	box-shadow: inset 1px 1px 2px #000;
}

.loginbox button:hover {
	background: #364f7e url(../images/buttonbg.png) repeat-x 0 -34px;
}

.loginoption {
	width: 570px;
	margin: 10px auto;
	background: url(../images/blacktrans.png);
	padding: 7px 10px;
	font-size: 11px;
	color: #ccc;
}

.loginoption {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.loginoption input {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.loginoption a {
	float: right;
	font-size: 11px;
	color: #ccc;
}

.loginNotify {
/*	display: none;  */
	padding: 7px;
	border: 0;
	width: 580px;
	margin: auto;
	background: url(../images/blacktrans.png);
}

.loginNotify {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

/***TOP HEADER (all page)***/
.header,.topheader {
	 min-width: 1240px;
}

.headerspace {
	height: 10px;
	background: #333;
	border-bottom: 1px solid #222;
}

.topheader .msgicon {
	position: absolute;
	top: 7px;
	left: 8px;
	width: 15px;
	height: 15px;
	background-image: url(../images/icons/chat.png);
}

.topheader .infoicon {
	position: absolute;
	top: 7px;
	left: 8px;
	width: 14px;
	height: 15px;
	background-image: url(../images/icons/notification.png);
}

.topheader .helpicon {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 16px;
	height: 16px;
	background-image: url(../images/jicons/icon_bulb.png);
}

.topheader .commenticon {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 20px;
	height: 16px;
	background-image: url(../images/jicons/icon_comment.png);
}


.topheader .msgicon,.topheader .infoicon {
	background-repeat: no-repeat;
	background-position: 0 0;
}

.topheader .thiconhover {
	background-position: 0 -15px !important;
}

.topheader>ul {
	list-style: none;
	position: absolute;
	top: 10px;
	left: 458px;
}

.topheader>ul>li {
	display: inline-block;
	float: left;
	margin-right: 8px;
	line-height: 14px;
	position: relative;
}

.topheader>ul>li>a {
	font-size: 11px;
	color: #fff;
	padding-right: 4px;
	position: relative;
}

.topheader>ul>li>a {
	display: inline-block;
}

.topheader>ul>li>a .wrap {
	display: block;
	padding: 7px 11px 7px 26px;
	height: 15px;
	i {
		display: inline-block;
		margin-left: -20px;
		font-size: 1.5em;
		color: var(--javlo-ui-btn-text-active);
	}
}

.topheader>ul>li>a .wrap span.count {
	padding: 1px 5px 0 5px;
	display: block;
	position: absolute;
	top: -3px;
	right: -3px;
	font-size: 10px;
}

.topheader>ul>li>a .wrap span.count {
	background: $important;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.topheader>ul>li>a:hover {
	background-position: right -88px;
	text-decoration: none;
}

.topheader>ul>li>a:hover .wrap {
	background-position: 0 -59px;
}

.topheader>ul>li.note a .wrap {
	padding-right: 0;
}

.dropbox {
	width: 400px;
	min-height: 100px;
	background: #fcfcfc;
	position: absolute;
	z-index: 5;
}

.dropbox {
	top: 29px;
	right: -1px;
	border: 1px solid $border-dark;
	box-shadow: $shadow;
	border-radius: 0.25rem;
	.alert {
		padding: 10px;
		margin-bottom: 0;
	}
}

.messagelist ul li {
    display: block;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
}

.messagelist {
	.level-danger {
    	background-color: #fad5cf;
    	color: #ccc;
	}
	
	.level-warning {
		background-color: #ffe9ad;
    	color: #ccc;
	}
}

.showmsg {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.showmsg .wrap {
	-moz-border-radius: 0 0 0;
	-webkit-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;
}

.showmsg,.showmsg .wrap {
	background: #fcfcfc !important;
}

/***TOP HEADER: SEARCH (all page)***/
#search {
	position: absolute;
	top: 10px;
	left: 219px;
	background-color: var(--javlo-ui-bg-secondary);
	border-radius: 0.25rem;
	color: #fff;
	.label {
		padding: 6px 12px 0 12px;
		font-size: 0.9em;
		float: left;
		color: #ffffff;
	}
	input {
		background-color: transparent;
	}
	.searchbutton {
		border-radius: 0 0.25rem 0.25rem 0;
	}
	button {
		color: #000;
	}
}

#search input {
	font-size: 11px;
	float: left;
	margin: 0;
	outline: 0;
}

#search input {
	border: 0;
	height: 25px;
	padding: 2px 6px;
}

#search button {
	float: left;
	border: 0;
	margin: 0;
	width: 27px;
	height: 30px;
	cursor: pointer;
}

/***HEADER (all page)***/
.header {
	padding: 20px 10px 11px 10px;
	position: relative;
}

.header {
	border-top: 1px solid #444;
	border-bottom: 3px solid $javlo;
}

.accountinfo {
	position: absolute;
	right: 10px;
	top: 6px;
	background-color: $content-bg;
	padding: 10px;
	overflow: hidden;
	line-height: 15px;
}

.accountinfo {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.accountinfo img {
	float: left;
}

.accountinfo .info {
	float: left;
	margin-left: 10px;
}

.accountinfo h3 {
	font-size: 12px;
	font-weight: normal;
}

.accountinfo small {
	font-size: 11px;
	color: #999;
}

.accountinfo p {
	margin-top: 5px;
}

.accountinfo p a {
	font-size: 11px;
	display: inline-block;
	color: inherit;
}

.accountinfo p a:hover {
	text-decoration: underline;
}

.accountinfo p a.account {
	margin-right: 5px;
	border-right: 1px solid #666;
	padding-right: 7px;
}

/***TAB MENU (all page)***/
.tabmenu {
	line-height: 21px;
	position: absolute;
	top: 49px;
	left: 220px;
}

.tabmenu ul {
	list-style: none;
}

.tabmenu ul li {
	display: inline-block;
	float: left;
	position: relative;
	background-color: $unactive;
}

.tabmenu ul li a {
	display: inline-block;
	color: #888;
	background: url(../images/separator.png) no-repeat right center;
	text-transform: lowercase;
}

.tabmenu ul li a:hover {
	text-decoration: none;
}

.tabmenu ul li:last-child a {
	background: none;
}

.tabmenu ul li:hover a {
	color: #000;
}
.tabmenu ul li a span.ico {
	padding: 9px;
}

.tabmenu ul li a span.title {
	display: inline-block;
	padding: 9px 9px 9px 0;
}

.tabmenu ul li.current {
	background: $content-bg;
	margin-left: -1px;
}

.tabmenu ul li.current a {
	color: #fff;
	background: none;
}

.tabmenu ul li a.dashboard span {
	background: url(../images/icons/dashboard.png) no-repeat 15px 12px;
}

.tabmenu ul li.current a.dashboard span {
	background: url(../images/icons/dashboard.png) no-repeat 15px -57px;
}

.tabmenu ul li a.elements span {
	background: url(../images/icons/elements.png) no-repeat 15px 12px;
}

.tabmenu ul li.current a.elements span {
	background: url(../images/icons/elements.png) no-repeat 15px -57px;
}

.tabmenu ul li a.reports span {
	background: url(../images/icons/reports.png) no-repeat 15px 12px;
}

.tabmenu ul li.current a.reports span {
	background: url(../images/icons/reports.png) no-repeat 15px -57px;
}

.tabmenu ul li a.users span {
	background: url(../images/icons/users.png) no-repeat 15px 14px;
}

.tabmenu ul li.current a.users span {
	background: url(../images/icons/users.png) no-repeat 15px -59px;
}

.tabmenu ul li .subnav {
	position: absolute;
	min-width: 200px;
	top: 39px;
	left: 0;
	display: none;
	z-index: 100;
}

.tabmenu ul li .subnav li {
	display: block;
	float: none;
	background: none;
	color: $text;
}

.tabmenu ul li .subnav li a {
	display: block;
	background: $unactive;
	border-bottom: 1px solid $border;
	color: #000;
}

.tabmenu ul li .subnav li a:hover {
	background: var(--javlo-ui-bg-secondary);
	color: #fff;
}

.tabmenu ul li .subnav a span {
	padding: 10px 15px;
	display: inline-block;
}

.tabmenu ul li.current .subnav {
	border-color: #ccc;
	border-top: 0;
}

.tabmenu ul li.current .subnav li a {
	background: #eee;
	border-bottom: 1px solid #ccc;
	color: #333;
}

.tabmenu ul li.current .subnav li a:hover {
	background: #D2DADA;
}

/***SIDEBAR (all page)***/
.sidebar {
	padding: 20px 0 20px 0;
	width: 220px;
	display: block;
	float: left;
	border-right: $border;
}

#accordion h3 {
	background: url(../images/arrow.png) no-repeat 10px 6px;
	padding-left: 30px;
}

#accordion h3 {
	cursor: pointer;
	font-size: 12px;
	color: #333;
}

#accordion h3.open {
	background: url(../images/arrow.png) no-repeat 10px -37px;
}

#accordion .content {
	display: none;
	margin: 10px 0 20px 0;
}

#accordion .content:last-child {
	padding: 0 15px;
	color: #333;
}

.leftmenu li a {
	display: block;
	padding: 5px 0 5px 30px;
	color: #fff;
}

.leftmenu li.current a {
	background-color: #eee;
	border-right: 0;
	color: #333;
	border-top: 1px solid $main-bg;
	border-bottom: 1px solid $main-bg;
}

.leftmenu li li.current a {
	border-left: 1px solid $main-bg;
}


.leftmenu li a.form {
	background-image: url(../images/icons/form.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.table {
	background-image: url(../images/icons/table.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.gallery {
	background-image: url(../images/icons/gallery.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.home {
	background-image: url(../images/icons/home.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.grid {
	background-image: url(../images/icons/grid.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.calendar {
	background-image: url(../images/icons/cal.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.buttons {
	background-image: url(../images/icons/buttons.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.editor {
	background-image: url(../images/icons/editor.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.file {
	background-image: url(../images/icons/file.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

.leftmenu li a.error {
	background-image: url(../images/icons/404.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}

/***COLUMNS***/
.one_half {
	width: 48%;
}

.one_third {
	width: 30.66%;
}

.two_third {
	width: 65.33%;
}

.one_fourth {
	width: 22%;
}

.three_fourth {
	width: 74%;
}

.one_fifth {
	width: 16.8%;
}

.two_fifth {
	width: 37.6%;
}

.three_fifth {
	width: 58.4%;
}

.four_fifth {
	width: 67.2%;
}

.one_sixth {
	width: 13.33%;
}

.five_sixth {
	width: 82.67%;
}

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth
	{
	position: relative;
	margin-right: 4%;
	float: left;
}

.last {
	margin-right: 0 !important;
	clear: right;
}

/***MAIN CONTENT (dashboard.html)***/
.maincontent {
	margin-left: 220px;
	min-width: 1040px;
	position: relative;
	color: var(--javlo-ui-text);
	background-color: $content-bg;
	overflow: hidden;
}

.previewEdit .maincontent {
	background-color: transparent;
}

.maincontent .left {
	padding: 20px 15px;
	overflow: hidden;
	min-height: 190px;
}

.maincontent .right {
	padding: 20px 0;
	padding-right: 15px;
	overflow: hidden;
}

.maincontent_inner {
	width: 68.33%;
	margin-right: 1%;
}

.breadcrumbs {
	padding: 0 15px 0 5px;
	margin: 15px 15px 0 15px;
}

.breadcrumbs {
	a {
		display: inline-block;
		color: var(--action-color);
		padding: 5px 20px 5px 0;
		background: url(../images/separator2.png) no-repeat right center;
		margin-right: 10px;
		.link {
			padding: 0;
			color: var(--action-color);
		}
		
	}
	.link {
		margin-right: 10px;
		padding: 5px 20px 5px 0;
		color: #ccc;
	}
}

.breadcrumbs a, .breadcrumbs .link-wrapper {
	background: url(../images/separator2.png) no-repeat right center;
	margin-right: 10px;
	display: inline-block;
}

.breadcrumbs a.selected {
	background: none;
}

.breadcrumbs .children {
	min-width: 20px;
	height: 28px;
	display: inline-block;
	position: absolute;
	margin-left: -22px;
	
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 1px 10px;
}

.breadcrumbs .children.open {
	background-image: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 1px -31px;
}

.breadcrumbs .children .container a, .breadcrumbs .children .container .link {
	margin: 0;
	background: none;
	display: block;
	white-space:nowrap;
	padding: 5px 10px;		 
}

.breadcrumbs .children .container a:hover {
	background-color: var(--javlo-ui-bg-secondary);
}

.breadcrumbs .children li {
	padding: 0;
}


.breadcrumbs .children .container {
	display: none;

	padding: 0;
	
	position: relative;	
	position: absolute;	
	z-index: 5;
	
	/*min-height: 100px;*/
	background-color: var(--javlo-ui-bg-secondary);
	position: absolute;
	
	top: 29px;
	left: -1px;
	border: 1px solid $border;	
	box-shadow: $shadow;
}

.breadcrumbs .children .selected {
	font-weight: bold;
}

.breadcrumbs a:hover {
	text-decoration: none;
}

.breadcrumbs span {
	color: var(--javlo-ui-text);
}

.widgetlist {
	list-style: none;
}

.widgetlist li {
	display: inline-block;
	float: left;
	width: 130px;
	margin: 0 10px 10px 0;
}

.widgetlist li a {
	display: block;
	padding: 15px;
	border: 1px solid #ccc;
	color: #333;
	text-align: center;
	background: #f7f7f7;
}

.widgetlist li a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 0 #fff;
	color: var(--action-color);
}

.widgetlist li a span {
	display: block;
	margin-top: 10px;
}

.widgetlist li a:hover {
	-moz-box-shadow: 0 0 4px #ddd;
	background: #fcfcfc;
	text-decoration: none;
}

/***MAIN CONTENT: BUTTONS(elements.html)***/
button.button {
	padding: 7px 15px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

button.button {
	-moz-box-shadow: 1px 1px 2px #eee;
	-webkit-box-shadow: 1px 1px 2px #eee;
	box-shadow: 1px 1px 2px #eee;
	cursor: pointer;
}

button.button:hover,.button:active {
	background-position: 0 -39px;
}

.anchorbutton {
	padding: 7px 15px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.anchorbutton {
	-moz-box-shadow: 1px 1px 2px #eee;
	-webkit-box-shadow: 1px 1px 2px #eee;
	box-shadow: 1px 1px 2px #eee;
	cursor: pointer;
}

.anchorbutton:hover,.anchorbutton:active {
	background-position: 0 -39px;
	text-decoration: none;
}

.button_white {
	border: 1px solid #ccc;
	background: #eee url(../images/buttons/button_white.png) repeat-x top
		left;
	text-shadow: 1px 1px #f7f7f7;
	color: #333;
}

.button_white:active {
	box-shadow: inset $shadow;
}

.button_blue {
	border: 1px solid #39537f;
	background: #eee url(../images/buttons/button_blue.png) repeat-x top
		left;
	text-shadow: 1px 1px #39537f;
	color: #fff;
}

.button_blue:active {
	-moz-box-shadow: inset 2px 2px 2px #12274c;
	-webkit-box-shadow: inset 2px 2px 2px #12274c;
	box-shadow: inset 2px 2px 2px #12274c;
}

.button_black {
	border: 1px solid #333;
	background: #333 url(../images/buttons/button_black.png) repeat-x top
		left;
	text-shadow: 1px 1px #333;
	color: #fff;
}

.button_black:active {
	-moz-box-shadow: inset 2px 2px 2px #12274c;
	-webkit-box-shadow: inset 2px 2px 2px #12274c;
	box-shadow: inset 2px 2px 2px #12274c;
}

.button_red {
	border: 1px solid #b22407;
	background: #333 url(../images/buttons/button_red.png) repeat-x top left;
	text-shadow: 1px 1px #b22407;
	color: #fff;
}

.button_red:active {
	-moz-box-shadow: inset 2px 2px 2px #b22407;
	-webkit-box-shadow: inset 2px 2px 2px #b22407;
	box-shadow: inset 2px 2px 2px #b22407;
}

.button_yellow {
	border: 1px solid #c67601;
	background: #333 url(../images/buttons/button_yellow.png) repeat-x top
		left;
	text-shadow: 1px 1px #c67601;
	color: #fff;
}

.button_yellow:active {
	-moz-box-shadow: inset 2px 2px 2px #c67601;
	-webkit-box-shadow: inset 2px 2px 2px #c67601;
	box-shadow: inset 2px 2px 2px #c67601;
}

.button_green {
	border: 1px solid #507e0c;
	background: #333 url(../images/buttons/button_green.png) repeat-x top
		left;
	text-shadow: 1px 1px #507e0c;
	color: #fff;
}

.button_green:active {
	-moz-box-shadow: inset 2px 2px 2px #507e0c;
	-webkit-box-shadow: inset 2px 2px 2px #507e0c;
	box-shadow: inset 2px 2px 2px #507e0c;
}

.button_brown {
	border: 1px solid #574128;
	background: #333 url(../images/buttons/button_brown.png) repeat-x top
		left;
	text-shadow: 1px 1px #574128;
	color: #fff;
}

.button_brown:active {
	-moz-box-shadow: inset 2px 2px 2px #574128;
	-webkit-box-shadow: inset 2px 2px 2px #574128;
	box-shadow: inset 2px 2px 2px #574128;
}

.button_lblue {
	border: 1px solid #7197bd;
	background: #333 url(../images/buttons/button_lblue.png) repeat-x top
		left;
	text-shadow: 1px 1px #fff;
	color: #2161a0;
}

.button_lblue:active {
	-moz-box-shadow: inset 2px 2px 2px #7197bd;
	-webkit-box-shadow: inset 2px 2px 2px #7197bd;
	box-shadow: inset 2px 2px 2px #7197bd;
}

/***MAIN CONTENT: WIDGET BOX (dashboard.html)***/
.widgetbox {
	margin-bottom: 20px;
	border: 1px solid rgba(24,28,33,0.06);
	border-radius: .25rem;
}

.widgetbox h3 {
	font-weight: normal;
	border-radius: .25rem;
	background: var(--javlo-ui-bg-secondary);
}

.widgetbox h3 span {
	padding: 10px 0;
	display: block;
}

.widgetbox h3.arrow span {
	background: url(../images/toggle.png) no-repeat right center;
}

.widgetbox .content {
	background: #fcfcfc;
	padding: 1rem;
	color: #666;
	overflow: hidden;
	border-top: 0;
}

.widgetbox .content {
	border-radius: 0 0 .25rem .25rem;
}

.widgetbox .content p {
	margin: 5px auto;
}

.widgetbox .content p:first-child {
	margin-top: 0;
}

.widgetbox2 {
	margin-bottom: 20px;
	border: 1px solid $border;
	border-radius: .25rem;
}

.widgetbox2 h3 {
	font-weight: normal;
}

.widgetbox2 h3 {
	color: #ccc;
	background: var(--javlo-ui-bg-secondary);
}

.widgetbox2 h3 span {
	padding: 10px 15px;
	display: block;
	color: var(--javlo-ui-text);
}

.widgetbox2 .content {
	background: var(--javlo-ui-bg-secondary);
	padding: 20px 15px;
	color: #ccc;
	overflow: hidden;
	border-top: 0;
	select, input {
		color: #000;
		border: 1px #999 solid;
		background-color: #eee;
		box-shadow: none;
	}
}

body .jqplot-target {
  color: #ccc;
}

.widgetbox2 .content {
	border-radius: 0 0 0.25em 0.25em;
}

.widgetbox2 .content p {
	margin: 5px 0;
}

.widgetbox2 .content p:first-child {
	margin-top: 0;
}

.widgetbox2 .content label {
	display: block;
	/*padding: 0;*/
	/*width: 120px;*/
	margin-right: 15px;
	float: left;
}

/***PROGRESS BAR (dashboard.html)***/
.progress {
	margin: 5px 0;
}

.progress .bar {
	background: #ddd;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 2px;
}

.progress .bar {
	-moz-box-shadow: inset 2px 2px 3px #999;
	-webkit-box-shadow: inset 2px 2px 3px #999;
	box-shadow: inset 2px 2px 3px #999;
}

.progress .bar .value {
	height: 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.progress .bar2 {
	background: #ddd;
	border-radius: 0.25rem;
	padding: 2px;
}

.progress .bar2 {
	-moz-box-shadow: inset 2px 2px 3px #999;
	-webkit-box-shadow: inset 2px 2px 3px #999;
	box-shadow: inset 2px 2px 3px #999;
}

.progress .bar2 .value {
	padding: 3px 0;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
}

.progress .bar2 .value {
	background-image: url(../images/barbg.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}

.progress .bluebar {
	background-color: var(--action-color);
}

.progress .orangebar {
	background-color: #F90;
}

.progress .redbar {
	background-color: #cc0000;
}

/***MAIN CONTENT:FULL PAGE***/
.fullpage {
	margin: 20px 15px;
}

.pageTitle {
	font-size: 2em;
	margin-bottom: 20px;
	text-shadow: 1px 1px #fff;
}

/***MAIN CONTENT: SUB MENU (users.html)***/
.submenu {
	list-style: none;
	overflow: hidden;
}

.submenu li {
	display: inline-block;
	float: left;
}

.submenu li a {
	display: block;
	padding: 5px 10px;
	border: 1px solid #bbb;
	background: url(../images/bgbutton4.png) repeat-x top left;
	border-left: 0;
}

.submenu li a {
	color: #333;
	text-shadow: 1px 1px #eee;
	-moz-box-shadow: 1px 1px 0 #fcfcfc;
	-webkit-box-shadow: 1px 1px 0 #fcfcfc;
	box-shadow: 1px 1px 0 #fcfcfc;
}

.submenu li a:hover {
	-moz-box-shadow: inset 1px 1px 2px #ccc;
	-webkit-box-shadow: inset 1px 1px 2px #ccc;
	box-shadow: inset 1px 1px 2px #ccc;
}

.submenu li a:hover {
	text-decoration: none;
}

.submenu li.current a {
	background: #f7f7f7;
	color: var(--action-color);
	text-shadow: none;
}

.submenu li.current a:hover {
	-moz-box-shadow: none;
	webkit-box-shadow: none;
	box-shadow: none;
}

.submenu li:last-child a {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.submenu li:first-child a {
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	border-left: 1px solid #bbb;
}

/***MAIN CONTENT: FORM STYLING (forms.html)***/
.sf {
	width: 250px;
}

.mf {
	width: 350px;
}

.lf {
	width: 450px;
}

textarea.mf {
	height: 100px;
}

input[type=radio],input[type=checkbox] {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.form_default fieldset {
	border: 1px solid #ccc;
	padding: 20px;
	background: #f7f7f7;
}

.form_default legend {
	text-transform: uppercase;
}

.form_default p {
	margin: 20px 0 !important;
}

.form_default label {
	width: 150px;
	float: left;
	text-align: right;
	padding-top: 5px;
	margin-right: 20px;
}

.form_default input[type=text] {
	font-size: 12px;
	padding: 8px 5px;
	border: 1px solid #ccc;
	background: #fcfcfc;
	outline: none;
}

.form_default input[type=text] {
	-moz-box-shadow: inset 1px 1px 3px #ccc;
	-webkit-box-shadow: inset 1px 1px 3px #ccc;
	box-shadow: inset 1px 1px 3px #ccc;
}

.form_default input[type=text] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
}

/***MAIN CONTENT: STANDARD TABLE (users.html)***/
.addNewButton {
	float: right;
	border: 1px solid #ccc;
	background: $main-bg url(../images/buttonbg3.png) repeat-x top left;
	color: #fff;
	padding: 5px 20px;
}

.addNewButton {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #395380;
	font-size: 12px;
}

.addNewButton {
	text-transform: uppercase;
	text-shadow: 1px 1px #395380;
	margin-left: 170px;
}

.addNewButton {
	-moz-box-shadow: 1px 1px 2px #999;
	-webkit-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
}

.addNewButton:hover {
	background: #005681 url(../images/buttonbg3.png) repeat-x 0 -36px;
	text-decoration: none;
}

.sTableOptions {
	padding: 12px 10px;
	border: 1px solid #bbb;
	border-bottom: 0;
	background: #eee url(../images/thead.png) repeat-x top left;
}

.sTableOptions {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	position: relative;
}

.sTableOptions .button {
	display: inline-block;
	border: 1px solid #999;
	background: url(../images/buttonbg5.png) repeat-x bottom left;
}

.sTableOptions .button {
	text-transform: uppercase;
	color: #333;
	text-shadow: 1px 1px #fcfcfc;
	-webkit-box-shadow: 0 1px 0 #ddd;
	box-shadow: 0 1px 0 #ddd;
}

.sTableOptions .button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 #ddd;
}

.sTableOptions .button:hover {
	cursor: pointer;
	text-decoration: none;
	background-position: top left;
}

.sTableOptions .button:active {
	-moz-box-shadow: inset 1px 1px 2px #999;
	-webkit-box-shadow: inset 1px 1px 2px #999;
	box-shadow: inset 1px 1px 2px #999;
}

.sTableOptions .button:active {
	background: #eee;
}

.sTableOptions .button span {
	padding: 5px 10px;
	display: block;
}

.sTableOptions h4 {
	font-size: 12px;
	font-weight: normal;
	color: #333;
}

.sTableOptions .delete span {
	background: url(../images/icons/trash.png) no-repeat 8px center;
	padding-left: 30px;
}

/***(tables.html)***/
.sTableOptions2 {
	padding: 12px 10px;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #ddd url(../images/bgbutton5.png) repeat-x top left;
}

.sTableOptions2 {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	position: relative;
}

.sTableOptions2 .button {
	display: inline-block;
	border: 1px solid #999;
	background: url(../images/buttonbg5.png) repeat-x bottom left;
}

.sTableOptions2 .button {
	text-transform: uppercase;
	color: #333;
	text-shadow: 1px 1px #fcfcfc;
	-webkit-box-shadow: 0 1px 0 #ddd;
	box-shadow: 0 1px 0 #ddd;
}

.sTableOptions2 .button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 #ddd;
}

.sTableOptions2 .button:hover {
	cursor: pointer;
	text-decoration: none;
	background-position: top left;
}

.sTableOptions2 .button:active {
	-moz-box-shadow: inset 1px 1px 2px #999;
	-webkit-box-shadow: inset 1px 1px 2px #999;
	box-shadow: inset 1px 1px 2px #999;
}

.sTableOptions2 .button:active {
	background: #eee;
}

.sTableOptions2 .button span {
	padding: 5px 10px;
	display: block;
}

.sTableOptions2 h4 {
	font-size: 12px;
	font-weight: normal;
	color: #333;
}

.sTableHead {
	border-collapse: collapse;
}

.sTableHead td {
	padding: 8px 10px;
	color: #ccc;
	text-shadow: 1px 1px #444;
	font-size: 12px;
	text-transform: uppercase;
	border-right: 1px solid #777;
}

.sTableHead .head0 {
	background: #666;
}

.sTableHead .head1 {
	background: #555;
}

.sTableWrapper {
	border: 1px solid #bbb;
	border-top: 0;
}

.sTable {
	border-collapse: collapse;
}

.sTable tr td {
	padding: 8px 10px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}

.sTable thead th {
	padding: 8px 10px;
	color: #ccc;
	text-shadow: 1px 1px #444;
	font-size: 12px;
	text-transform: uppercase;
	border-right: 1px solid #777;
}

.sTable thead th {
	font-weight: normal;
	text-align: left;
}

.sTable tr td:last-child {
	border-right: 0;
}

.sTable tr:last-child td {
	border-bottom: 0;
}

.sTable tr:hover {
	background: #ddd;
}

.sTable tr.selected {
	background: #fffccc;
}

.sTable .head0 {
	background: #666;
}

.sTable .head1 {
	background: #555;
}

.sTable .con1 {
	background: #eee;
}

.sTable .con0 {
	background: #f7f7f7;
}

/***(tables.html)***/
.sTable2 {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.sTable2 thead td {
	padding: 5px 10px;
	background: #eee url(../images/thead.png) repeat-x top left;
	border: 1px solid #ccc;
}

.sTable2 thead th {
	padding: 5px 10px;
	background: #eee url(../images/thead.png) repeat-x top left;
	border: 1px solid #ccc;
}

.sTable2 tbody tr td {
	padding: 10px;
	background: #fff;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

.sTable2 tbody tr td:first-child {
	border-left: 1px solid #ccc;
}

.sTable2 tbody tr.even td {
	background: #fcfcfc;
}

.sTable3 {
	border-collapse: collapse;
}

.sTable3 thead td {
	padding: 5px 10px;
	background: #eee url(../images/thead.png) repeat-x top left;
	border-bottom: 1px solid #ccc;
}

.sTable3 tbody tr td {
	padding: 10px;
	background: #fff;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

.sTable3 tbody tr.even td {
	background: #fcfcfc;
}

/**dynamic table***/
 
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}
table.dataTable tbody tr {
  background-color: #ffffff;
  color: #333;
}
table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px;
}
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  label {
  	color: var(--javlo-ui-text);
  }
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
  a {
	   color: white !important;
  }
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: var(--javlo-ui-text);
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}

.paging_full_numbers {
	position: absolute;
	bottom: 7px;
	right: 8px;
}

.paging_full_numbers .paginate_button {
	display: inline-block;
	padding: 2px 8px;
	border: 1px solid #ccc;
	margin-left: 5px;
	background: #eee url(../images/buttonbg5.png) repeat-x top left;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.paging_full_numbers .paginate_button:hover {
	background-color: var(--javlo-ui-bg-secondary);
}

.paging_full_numbers .paginate_active,.paging_full_numbers .paginate_button:active
	{
	display: inline-block;
	padding: 2px 8px;
	border: 1px solid $border;
	margin-left: 5px;
	background-color: var(--javlo-ui-bg-secondary);
	color: #fff;
	border-radius: 0.25rem;
	text-transform: lowercase;
}

.paging_full_numbers .paginate_button_disabled {
	color: #999;
}

// /***PAGINATION (users.html)***/
// .pagination a {
// 	display: inline-block;
// 	padding: 5px 10px;
// 	color: #333;
// 	border: 1px solid #bbb;
// 	background: url(../images/buttonbg5.png) repeat-x bottom left;
// }

// .pagination a {
// 	-moz-border-radius: 3px;
// 	-webkit-border-radius: 3px;
// 	border-radius: 3px;
// }

// .pagination a {
// 	-moz-box-shadow: 1px 1px 0 #f7f7f7;
// 	-webkit-box-shadow: 1px 1px 0 #f7f7f7;
// 	box-shadow: 1px 1px 0 #f7f7f7;
// }

// .pagination a:hover {
// 	-moz-box-shadow: inset 1px 1px 3px #eee;
// 	-webkit-box-shadow: inset 1px 1px 3px #eee;
// }

// .pagination a:hover {
// 	text-decoration: none;
// 	background: #eee;
// 	box-shadow: inset 1px 1px 3px #eee;
// }

// .pagination a.disabled {
// 	color: #999;
// 	border: 1px solid #ccc;
// }

// .pagination a.disabled:hover {
// 	background: url(../images/buttonbg5.png) repeat-x bottom left;
// 	-moz-box-shadow: none;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }

// .pagination a.current {
// 	background: #333 url(../images/buttonbg3.png) repeat-x top left;
// 	color: #fff;
// 	border: 1px solid #405a87;
// }

// .pagination a.current:hover {
// 	-moz-box-shadow: none;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }

// .pgright {
// 	position: absolute;
// 	right: 10px;
// 	top: 12px;
// }

.pgright a.disabled {
	border: 1px solid #ccc;
}

/***MAINCONTENT: GALLERY (galery.html)***/
.gallery .thumbview ul {
	list-style: none;
}

.gallery .thumbview ul li {
	float: left;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.gallery .thumbview .thumb {
	border: 1px solid #ccc;
	padding: 10px;
	background: #fcfcfc;
	-moz-box-shadow: 1px 1px 2px #ddd;
	box-shadow: 1px 1px 2px #ddd;
}

.gallery .thumbview .thumb {
	-moz-border-radius: 3px;
	-webit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px #ddd;
	position: relative;
}

.gallery .thumbview .thumb img {
	cursor: pointer;
}

.gallery .thumbview .info {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
	line-height: 18px;
}

.gallery .thumbview .info {
	padding: 10px;
	display: none;
	cursor: pointer;
}

.gallery .thumbview .info label {
	width: 70px;
	display: inline-block;
	color: #ccc;	
}

.gallery .thumbview .info span {
	color: #fff;
}

.gallery .thumbview .info .menu {
	margin-top: 10px;
}

.gallery .thumbview .info .menu a {
	display: inline-block;
	margin-right: 5px;
	width: 23px;
	height: 23px; 
}

 .gallery .thumbview .info .menu a {
	border-radius: 0.25rem;
}

.gallery .thumbview .info .menu a.view {
	background: var(--javlo-ui-bg-secondary) url("../images/icons/small/white/search.png") no-repeat 4px 4px;
}

.gallery .thumbview .info .menu a.delete {
	background: var(--javlo-ui-bg-secondary) url("../images/icons/small/white/close.png") no-repeat 4px 4px;
}

.gallery .thumbview .info .menu a.edit {
    background: var(--javlo-ui-bg-secondary) url("../images/icons/small/white/edit.png") no-repeat 4px 4px;
}

.gallery .thumbview .info .menu a.select {
    background: var(--javlo-ui-bg-secondary) url("../images/icons/small/white/check.png") no-repeat 4px 4px;
}

.gallery .thumbview .info .menu a.push {
    background: url("../images/icons/small/white/push.png") no-repeat scroll 4px 3px var(--javlo-ui-bg-secondary);
}


.gallery .thumbview .info .menu a:hover {
	text-decoration: none;
	background-color: #6385ae;
}

.gallery .listview {
	display: none;
}

/***PAGES: message.html, info.html***/
/***MAIN CONTENT: ELEMENTS (elements.html)***/
.imgleft {
	float: left;
	margin: 0 10px 0 0;
	padding: 5px;
	border: 1px solid #ccc;
}

.imgleft {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/**BUTTONS & ICONS**/
.iconlink {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	text-shadow: 1px 1px #304978;
	margin-bottom: 5px;
}

.iconlink {
	-moz-box-shadow: 1px 1px 0 #f7f7f7;
	-webkit-box-shadow: 1px 1px 0 #f7f7f7;
	box-shadow: 1px 1px 0 #f7f7f7;
}

.iconlink {
	display: inline-block;
	padding: 5px 7px;
	border: 1px solid #304978;
	background: url(../images/buttonbg3.png) repeat-x top left;
}

.iconlink:hover {
	background-position: 0 -36px;
	text-decoration: none;
}

.iconlink:active {
	-moz-box-shadow: inset 1px 1px 2px #304978;
	-webkit-box-shadow: inset 1px 1px 2px #304978;
	box-shadow: inset 1px 1px 2px #304978;
}

.iconlink img {
	vertical-align: middle;
	display: inline-block;
}

.iconlink2 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	margin-bottom: 5px;
}

.iconlink2 {
	-moz-box-shadow: 1px 1px 0 #f7f7f7;
	-webkit-box-shadow: 1px 1px 0 #f7f7f7;
	box-shadow: 1px 1px 0 #f7f7f7;
}

.iconlink2 {
	display: inline-block;
	padding: 5px 7px;
	border: 1px solid #ccc;
	background: url(../images/bgbutton4.png) repeat-x top left;
}

.iconlink2:active {
	-moz-box-shadow: inset 1px 1px 2px #ccc;
	-webkit-box-shadow: inset 1px 1px 2px #ccc;
	box-shadow: inset 1px 1px 2px #ccc;
}

.iconlink2:hover {
	background-position: 0 -37px;
	text-decoration: none;
}

.iconlink2 img {
	vertical-align: middle;
	display: inline-block;
}

/**INVOICE**/
.invoice {
	border: 1px solid #ccc;
	background: #f7f7f7;
	color: #333;
}

.invoice_inner {
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.invoice .title {
	font-size: 18px;
	float: right;
}

.invoicetable {
	border-collape: collapse;
}

.invoicetable thead td {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	font-weight: bold;
}

.invoicetable .subtotal td {
	font-weight: bold;
}

.invoicetable tr td.line {
	border-bottom: 1px solid #ccc;
}

/** FOOTER**/
.footer {
	background: #333;
	padding: 10px 0;
}

.footerinner {
	padding: 0 20px;
	text-align: right;
	font-size: 11px;
	color: #ccc;
}

.footer_float {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

/***MAIN CONTENT: CUSTOM STYLES***/
.errorpage {
	padding: 20px;
}

.widgetbox .content .bright {
	border-right: 1px solid #ddd;
	width: 47%;
}

.content.help {
	h2,h3 {
		margin: 15px 0 10px 0;
	}
}

.clear {
	clear: both;
	height: 15px;
}

.nopadding {
	padding: 0 !important;
}

.loaders img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}

.padding15 {
	padding: 15px;
	overflow: hidden;
}

.padding1020 {
	padding: 10px 20px;
}

.padding20 {
	padding: 20px;
	overflow: hidden;
}

.borderbottom {
	border-bottom: 1px solid #eee;
}

.floatleft {
	float: left;
}

.width50 {
	width: 50px;
}

.ohidden {
	overflow: hidden;
}

.overflownone {
	overflow: none !important;
}

.marginleft150 {
	margin-left: 150px;
}

.marginbottom20 {
	margin-bottom: 20px;
}

.color069 {
	color: var(--action-color);
}

.tooltipflot {
	background: url(../images/blacktrans1.png);
	padding: 2px 10px;
	color: #fff;
	font-size: 11px;
}

.tooltipflot {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#colorselector {
	width: 16px;
	height: 16px;
	border: 2px solid #ccc;
	display: inline-block;
}

#colorselector {
	background: url(../images/colorpicker.png) no-repeat top left;
	cursor: pointer;
}

.pie {
	height: 200px;
	width: 290px;
}

.external-event {
	border: 1px solid #a6bdd8;
	padding: 7px 10px;
	color: #333;
	margin-bottom: 5px;
	background: #D2DADA;
	cursor: move;
}

.mgright5 {
	margin-right: 5px;
}

.inlineblock {
	display: inline-block;
}

.alignright {
	text-align: right;
}

.bordertop {
	border-top: 1px solid #ccc;
}