/* colors */
$main-bg:       var(--javlo-ui-bg-primary);
$content-bg:	var(--javlo-ui-bg-secondary);

$border: rgba(24,28,33,0.06);
$border-dark: rgba(24,28,33,0.1);
$border-active: #00B4FF;
$unactive: #dddddd;
$javlo: #FF404B;
$important: $javlo;

$link: #333333;
$text: #404040;

$shadow: 1px 1px 16px #ccc;
