.mceEditor img {
	max-width: none; /* hack ie 9 */
}

.component .ui-widget-content * {
    box-sizing: border-box;
}

figure {
	text-align: center;
}

figcaption {
	padding: 3px;
	text-align: center;					
}

h1 {
	left: 460px;
}

i.mce-ico {
	padding-top: 2px;
	height: 18px;
}

#jv_escape_menu {
	display: none;
}

ul.menu {
	margin-left: 16px;
}

.component-list ul {
	margin-left: 32px;
	margin-bottom: 16px;
}

.component-list h4 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 8px;
}

.children {
	margin-left: 32px;
}

.col-group {
	overflow: hidden;
}

#page-404 {
	display: none;
}

body.right-admin #page-404 {
	display: block;
}

.navigation li a.editor {
	background-image: url("images/page.png");
	background-position: 7px center;
	background-repeat: no-repeat;
}

.navigation li.add-page,.navigation li.insert-page {
	margin-left: 20px;
}

.light .component {
	margin-bottom: 5px;
}

.component {
	h3 {
		font-weight: normal;
		border-bottom: 1px #ddd solid;
		color: #676767;
		margin-bottom: 15px;
	}
}

.component-title {
	overflow: hidden;
	width: 280px;
	margin-top: -22px;
}

.component-title a {
	display: block;
	float: left;
	padding: 0 12px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	background-color: #ffffff;
	margin-left: 12px;
	box-shadow: inset 0 -2px 2px #eeeeee;
	border-radius: 0.25em 0.25em 0 0;
	font-size: 0.9em;
}

.header-tabs {
	position: relative;
}

.component-error-message {
	position: absolute;
	width: 60%;
	left: 28%;	
	bottom: 0;
	max-height: 35px;
	overflow: auto;
}

.component-error-message .body {
	display: block;
	float: left;
	padding: 2px 12px;
	border-top: 1px solid #ebccd1;
	border-left: 1px solid #ebccd1;
	border-right: 1px solid #ebccd1;
	background-color: #f2dede;
	margin-left: 12px;
	box-shadow: inset 0 -2px 2px #dddddd;
	font-size: 0.9em;
	line-height: normal;
}


.component-title .authors {
	font-style: italic;
}

.readonly .component-title a {
	padding-right: 20px;
	background-image: url('../images/lock.png');
	background-repeat: no-repeat;
	background-position: right center;
}

.component.tabs ul {
	/* for place a not selectable title before jquery ui tabs */
	position: static;
}

.new .component {
	box-shadow: 3px 3px 3px #999999;
}

.push .component {
	border: 2px #dd0000 solid;
}

.ui-tabs-nav {
	position: inherit;	
}

.component input.color {
	width: auto;
}

.component table input,.component table textarea,.component table select
	{
	width: auto;
}

.action-add {
	margin: 15px 0;
}

.line-inline {
	padding: 0 15px 0 0;
	display: inline-block;
	line-height: 18px;
	overflow: hidden;
	margin: 5px 0;
}

.line-inline.first {
	padding: 0 15px 0 0;
}

.line-inline input {
	margin: 0 5px 0 0;
}

.line-inline label+input {
	margin: 0 0 0 5px;
	width: auto;
}

.line-inline label {
	display: inline-block;
	width: auto;
}
.line-inline label.main {
	width: 152px;
}

.line-full input {
	width: 100%;
}

.component input[type="radio"],.component input[type="checkbox"] {
	width: auto;
}

#content-edit input[type=submit],#content-edit input[type=button] {
	width: auto;
}

#content-edit table input,#content-edit table select,#content-edit table textarea,#content-edit table a {
	display: inline-block;
	margin-left: 6px;
}

/** components **/

/*** css for design component in edit mode ***/
#content-edit {
	padding-right: 2px;
	min-height: 600px;
}

#content-edit select {
	padding: 0;
}

.navigation .parent a {
	margin-left: 15px;
	padding-left: 10px;
	background-image: url("images/back.png");
	background-position: 0 center;
	background-repeat: no-repeat;
}

ul.inline {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 10%;
	}
}

li.line {
	width: 160px;
	display: inline-block;
}

.component li.line label {
	float: none;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}

.insert-page input[type='submit'] {
	background: url("images/icon_arrow_3.png") no-repeat scroll 5px -31px #FFFFFF;
	padding-left: 26px;
}

.roles .inline label {
	width: auto;
	float: none;
}

.roles {
	overflow: hidden;
}

.roles input {
	display: inline-block;
}

.roles .one_half {
	width: 46%;
}

#content-edit .box {
	border: 0 none;
	margin-bottom: 0;
	box-shadow: none;
}

.component-container {
	margin-left: 4px;
	border-left: 4px #dddddd solid;
	padding-left: 4px;
	border-radius: 2px 2px 2px 2px;
}

.area-label {
	padding: 8px 0 0 30px;
	color: #dddddd;
	position: absolute;
	white-space: nowrap;
	display: block;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: normal;
	right: 36px;
}

.confirm-replace fieldset {
	padding: 12px;
	text-align: center;
	vertical-align: middle;
	height: 390px;
}

.confirm-replace .file-list {
	overflow: hidden;
}

.page-list .array-filter, .page-list .direct-link {
	input {
		width: 91%;
	}
}

/* cols */
.cols {
	overflow: hidden;
}

.cols .col1,.cols .col2,.cols .col3,.cols .col4,.cols .col5,.cols .col6,.cols .col7,.cols .col8,.cols .col9,.cols .col10,.cols .col11,.cols .col12
	{
	float: left;
	margin: 0 3% 0 0;
}

.cols .lastcol {
	margin: 0;
}

.cols .col1 {
	width: 5.5%;
}

.cols .col2 {
	width: 14%;
}

.cols .col3 {
	width: 22.5%;
}

.cols .col4 {
	width: 31%;
}

.cols .col5 {
	width: 39.5%;
}

.cols .col6 {
	width: 48%;
}

.cols .col7 {
	width: 56.5%;
}

.cols .col8 {
	width: 65%;
}

.cols .col9 {
	width: 73.5%;
}

.cols .col10 {
	width: 82%;
}

.cols .col11 {
	width: 90.5%;
}

.cols .col12 {
	width: 99%;
	margin: 0;
}

@media all and (max-width: 1260px) {
	.cols .col1,.cols .col2,.cols .col3,.cols .col4,.cols .col5,.cols .col6,.cols .col7,.cols .col8,.cols .col9,.cols .col10,.cols .col11,.cols .col12
		{
		float: none;
		width: 99%;
	}
}

.component .text {
	overflow: hidden;
}

.component .text .group {
	overflow: hidden;
}

.component .text .first-text {
	float: left;
	overflow: hidden;
}

.component .first-text label, .component .second-text label, .component .label-text label {
	display: none;	
}

.component .text-image {
	float: left;
	width: 20%;
}

.component .first-text {
	width: 80%;
}

.component .text textarea[rows="3"] {
	width: 98%;
	height: 160px;
}

.component .text textarea[rows="9"] {
	width: 98%;
	height: 500px;
}

.text img {
	float: left;
}

.component img {
	max-width: 100%;
}

.reactions ul {
	padding-left: 25px;
}

.reactions ul ul {
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	margin-bottom: 15px;
}
.reactions ul li {
	border-top: 1px solid #000000;
}
.reactions ul li.first {
	border-top: 0;
}

.insert-line {
	margin-bottom: 6px;
}

.light-edit .ui-tabs-nav, .light-edit .insert-line, .light-edit .header-info, .light-edit #tools {
	display: none;
}

.light-edit .insert-line.action {
	display: block;
}

.light-edit .component-wrapper {
	margin-top: 35px;
}

#content-edit .smart-generic-form {
	table td {
		width: auto;
		padding: 2px;
		input {
			margin: 0;
		}
	}

	td.buttons {
		width: 170px;
	}

	td.required {
		width: 50px;
	}

	td.width {
		width: 50px;
	}
	td.label {
		width: 40%;
		input {			
			width: 97%;
		}
	}
}

.validation-email .col-sm-3 {
	padding-left: 0;
}

.validation-email .col-sm-9 {
	padding-right: 0;
}

.validation-email .row {
	width: 60%;
}

.validation-email input, .validation-email select {
	width: 100%;	
}

.raw textarea {
	width: 98%;
}

.components hr {
    height: 1px;
    border: 0 none;
    background-color: #dddddd;
    margin: 1em 0;
    padding: 0;	
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-left: 0;
    margin-right: 10px;
}

.other-roles {
	display: none;
}

.message.error {
	color: #cc0000;
}

.page-properties .flow {
	float: right;
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #DDDDDD;
    padding: 5px 10px 10px 10px;
    margin-left: 24px;
    z-index: 1; 
}

.dynamic-component .row {
	margin-bottom: 3px;
}

.color-chooser {
	.select-color, .color-choice {
		height: 18px;
		width: 36px;
	}
	.select-color {
		display: inline-block;
		margin-right: 50px;
	}
}

.embedlink {
	display: block;
	text-align: center;
	margin-top: 60px;
}

.json-link {	
	overflow: hidden;	
	margin-bottom: 15px;
}


.form-row {
	overflow: hidden;
}

.font-preview {
	font-size: 2.2em;
	text-align: center;
}	

.column-selection {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	
	.select-col {
		text-align: center;
	}
	.column {
		table {
			width: 100%;
			border-collapse: collapse;
			td {
				background-color: #cccccc;
				border: 2px #ffffff solid;
				height: 30px;
				width: auto;
			}
			td.main-col {
				background-color: #f0ad4e;
			}
		}
	}
	label:hover, label.active {
		.column {
			table {
				td.main-col {
					background-color: #4DA74D;
				}
			}
		}
	}
}

.preview {
	text-align: center;
	img {
		max-height: 200px;
	}
	label, .form-group, .checkbox {
		text-align: left;
	}
}

.multimedia, .multimedia-properties {	
	button:hover, a:hover {
		text-decoration: none;
	}
	.date {
		width: 80px;
	}
	.number {
		width: 80px;
	}
	.select-galleries, .title {
		width: 80%;
	}
	.btn-manual-order {
		padding: 2px 4px;
		background-color: #cccccc;
		color: #ffffff;
		font-size: 0.9em;
	}
	.btn-manual-order:hover {
		background-color: #4DA74D;
	}
	.manual-order.move-mode {
		.order-item {
			opacity: 0.4;
		}
		.order-drop {
			opacity: 0.9;
		}
		.current-item {
			opacity: 1;
		}
		button:hover, a:hover {
			background-color: #4DA74D;
			color: #ffffff;
		}
		img {
			background-image: none !important;
		}
	}
	.tags {
		margin-top: 0;
	}
	.manual-order-area {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 64px 64px;
		padding: 5px 0;
		display: flex;
		min-height: 40px;
		justify-content: center;
		align-items: center;
	}
	.manual-order {
		background-color: #ffffff;
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		min-height: 50px;
		.order-item, .order-drop {
			margin: 5px; 
			border: 1px #cccccc solid;
			border-radius: 3px;
		}
		img {
			background-repeat: no-repeat;
			background-position: center;
			background-size: 64px 64px;
		}
		.order-drop {
			background-color: #eeeeee;
			width: 40px;
			text-align: center;
			font-size: 1.2em;
			justify-content: center;
			align-items: center;
			opacity: 0.3;
			display: flex;
		}
		.order-item-wrapper {
			display: flex;
			align-items: stretch;
		}
		.order-item {
			width: 150px;
			button:hover, a:hover {
				background-color: #4DA74D;
				color: #ffffff;
				text-decoration: none;
			}
			.name {
				overflow: hidden;
				text-align: center;
				font-size: 0.8em;
				padding: 2px;
				background-color: #cccccc;
				height: 25px;
			}
			.btn {
				display: block;
				margin: 5px 2px;
				padding: 2px 4px;
				font-size: 0.9em;
				width: auto;
			}
			.ordre-row {
				.commands {
					display: flex;
					justify-content: space-around;
					background-color: #cccccc;
					padding: 3px;
				}
			}
		}
	}
}

.chosen-container .chosen-results {
	max-height: 122px;
}

.current-page {
	padding: 10px;
	background-color: #eee;
	margin-bottom: 15px;
}

.pages-result {
	margin-top: 15px;
	max-height: 350px;
	overflow: auto;
	.result {
		margin-bottom: 15px;
		display: flex;
		align-items: stretch;
		.select {
			font-size:  16px;
			margin-right: 5px;
		}
		.relevance {
			font-size: 11px;
			color: #777;
		}
		.relevance:before {
			content: "[";
		}
		.relevance:after {
			content: "]";
		}
	}
}

.page-link {
	.title {
		font-size: 16px;
	}
	.url {
		color: #408b7d
	}
	.description {
		max-height: 120px;
		overflow: hidden;
		color: #777
	}
}