.mceEditor img {
	max-width: none; /* hack ie 9 */
}

figure {
	text-align: center;
}

figcaption {
	padding: 3px;
	text-align: center;
}

h1 {
	left: 460px;
}

i.mce-ico {
	padding-top: 2px;
	height: 18px;
}

#jv_escape_menu {
	display: none;
}

ul.menu {
	margin-left: 16px;
}

.component-list ul {
	margin-left: 32px;
	margin-bottom: 16px;
}

.component-list h4 {
	padding: 0;
	margin-top: 0;
	margin-bottom: 8px;
}

.children {
	margin-left: 32px;
}

.col-group {
	overflow: hidden;
}

#page-404 {
	display: none;
}

body.right-admin #page-404 {
	display: block;
}

.navigation li a.editor {
	background-image: url("images/page.png");
	background-position: 7px center;
	background-repeat: no-repeat;
}

.navigation li.add-page,.navigation li.insert-page {
	margin-left: 20px;
}

.light .component {
	margin-bottom: 10px;
}

.component-title {
	overflow: hidden;
	width: 280px;
	margin-top: -22px;
}

.component-title a {
	display: block;
	float: left;
	padding: 0 12px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color: #ffffff;
	margin-left: 12px;
	box-shadow: inset 0 -2px 2px #dddddd;
}

.component-title .authors {
	font-style: italic;
}

.readonly .component-title a {
	padding-right: 20px;
	background-image: url('../images/lock.png');
	background-repeat: no-repeat;
	background-position: right center;
}

.component.tabs ul {
	/* for place a not selectable title before jquery ui tabs */
	position: static;
}

.new .component {
	box-shadow: 3px 3px 3px #999999;
}

.push .component {
	border: 2px #dd0000 solid;
}

.ui-tabs-nav {
	position: inherit;
}

.component {
	overflow: hidden;
}

/*.component input,.component textarea,.component select {
	width: 60%;
}*/

/*.row input, .row textarea, .row select {
	width: 100%;
}*/

.component input.color {
	width: auto;
}

.component table input,.component table textarea,.component table select
	{
	width: auto;
}

.action-add {
	margin: 15px 0;
}

.line-inline {
	padding: 0 15px 0 0;
	display: inline-block;
	line-height: 18px;
	overflow: hidden;
	margin: 5px 0;
}

.line-inline.first {
	padding: 0 15px 0 0;
}

.line-inline input {
	margin: 0 5px 0 0;
}

.line-inline label+input {
	margin: 0 0 0 5px;
	width: auto;
}

.line-inline label {
	display: inline-block;
	width: auto;
}
.line-inline label.main {
	width: 152px;
}

.line-full input {
	width: 100%;
}

.component input[type="radio"],.component input[type="checkbox"] {
	width: auto;
}

#content-edit input[type=submit],#content-edit input[type=button] {
	width: auto;
}

#content-edit table input,#content-edit table select,#content-edit table textarea,#content-edit table a
	{
	display: inline-block;
	margin-left: 6px;
}

/** components **/

/*** css for design component in edit mode ***/
#content-edit {
	padding-right: 2px;
	min-height: 600px;
}

#content-edit select {
	padding: 0;
}

.navigation .parent a {
	margin-left: 15px;
	padding-left: 10px;
	background-image: url("images/back.png");
	background-position: 0 center;
	background-repeat: no-repeat;
}

li.line {
	width: 160px;
	display: inline-block;
}

.component li.line label {
	float: none;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}

.insert-page input[type='submit'] {
	background: url("images/icon_arrow_3.png") no-repeat scroll 5px -31px
		#FFFFFF;
	padding-left: 26px;
}

.roles .inline label {
	width: auto;
	float: none;
}

.roles {
	overflow: hidden;
}

.roles input {
	display: inline-block;
}

.roles .one_half {
	width: 46%;
}

#content-edit .box {
	border: 0 none;
	margin-bottom: 0;
	box-shadow: none;
}

.component-container {
	margin-left: 4px;
	border-left: 4px #dddddd solid;
	padding-left: 4px;
	border-radius: 2px 2px 2px 2px;
}

.area-label {
	padding: 8px 0 0 30px;
	color: #dddddd;
	position: absolute;
	/*writing-mode:tb-rl;*/
	/*-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);*/
	white-space: nowrap;
	display: block;
	/*width:20px;*/
	/*height:20px;*/
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: normal;
	right: 36px;
}

.confirm-replace fieldset {
	padding: 12px;
	text-align: center;
	vertical-align: middle;
	height: 390px;
}

.confirm-replace .file-list {
	overflow: hidden;
}

.page-list .filter input {
	width: 91%;
}

/* cols */
.cols {
	overflow: hidden;
}

.cols .col1,.cols .col2,.cols .col3,.cols .col4,.cols .col5,.cols .col6,.cols .col7,.cols .col8,.cols .col9,.cols .col10,.cols .col11,.cols .col12
	{
	float: left;
	margin: 0 3% 0 0;
}

.cols .lastcol {
	margin: 0;
}

.cols .col1 {
	width: 5.5%;
}

.cols .col2 {
	width: 14%;
}

.cols .col3 {
	width: 22.5%;
}

.cols .col4 {
	width: 31%;
}

.cols .col5 {
	width: 39.5%;
}

.cols .col6 {
	width: 48%;
}

.cols .col7 {
	width: 56.5%;
}

.cols .col8 {
	width: 65%;
}

.cols .col9 {
	width: 73.5%;
}

.cols .col10 {
	width: 82%;
}

.cols .col11 {
	width: 90.5%;
}

.cols .col12 {
	width: 99%;
	margin: 0;
}

@media all and (max-width: 1260px) {
	.cols .col1,.cols .col2,.cols .col3,.cols .col4,.cols .col5,.cols .col6,.cols .col7,.cols .col8,.cols .col9,.cols .col10,.cols .col11,.cols .col12
		{
		float: none;
		width: 99%;
	}
}

.component .text {
	overflow: hidden;
}

.component .text .group {
	overflow: hidden;
}

.component .text .first-text {
	float: left;
	overflow: hidden;
}

.component .first-text label, .component .second-text label, .component .label-text label {
	display: none;	
}

.component .text-image {
	float: left;
	width: 20%;
}

.component .first-text {
	width: 80%;
}

.component .text textarea {
	width: 98%;
	height: 160px;
}

.text img {
	float: left;
}

.reactions ul {
	padding-left: 25px;
}

.reactions ul ul {
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	margin-bottom: 15px;
}
.reactions ul li {
	border-top: 1px solid #000000;
}
.reactions ul li.first {
	border-top: 0;
}

.light-edit .ui-tabs-nav, .light-edit .insert-line, .light-edit .header-info, .light-edit #tools {
	display: none;
}

.light-edit .insert-line.action {
	display: block;
}

.light-edit .component-wrapper {
	margin-top: 35px;
}

.smart-generic-form table td {
	width: auto;
}

.smart-generic-form td.buttons {
	width: 170px;
}

.smart-generic-form td.required {
	width: 50px;
}

.smart-generic-form td.width {
	width: 50px;
}

.validation-email .col-sm-3 {
	padding-left: 0;
}

.validation-email .col-sm-9 {
	padding-right: 0;
}

.validation-email .row {
	width: 60%;
}

.validation-email input, .validation-email select {
	width: 100%;	
}

.raw textarea {
	width: 98%;
}

.dynamic-component hr {
	display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 0 0 1em 0;
    padding: 0;	
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-left: 0;
    margin-right: 10px;
}

.other-roles {
	display: none;
}

.message.error {
	color: #cc0000;
}