.content ul {
	clear: both;
	overflow: hidden;
}

#loader {
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden, .file-block.empty {
	display: none !important;
}

.content h3 {
	text-align: center;
	padding: 3px;
}

.widgetbox2 {
	clear: both;
}

.main-template, .remote-template {
	margin-top: 20px;
}

#form-edit-template {
	margin-right: 290px;
}

.main-template .unvalid .thumb {
	border: 1px solid #CC0000;
	opacity : 0.8;
}

.main-template .unvalid .thumb img {
	opacity : 0.8;
}

.template-preview {
	text-align: center;
}

.template-preview .actions {
	margin-top: 10px;
}

.template .properties {
	overflow: hidden;
}

table {
	margin-top: 15px;
}

table th, table td {
	border: 0 none;
}

.sTable {
	input[type="text"], select {
	  width: auto;
	  max-width: 60px;
	}
}

.template table thead th {
	background: none repeat scroll 0 0 #555555;	
	border-right: 1px solid #777777;
    color: #CCCCCC;
    font-size: 12px;    
    text-shadow: none;
    text-transform: uppercase;
    text-align: center;
}

table th {
	background: none;
	padding: 8px 10px;
	vertical-align: middle;	
	border-right: 1px solid #DDDDDD;
}

table td {
	text-align: center;
	vertical-align: middle;
}

table td.input {
	vertical-align: middle;
}

#image-preview {	
	text-align: center;
	overflow: auto;
}

#image-preview figure {
	max-width: 1000px;
	display: inline-block;		
}

input[readonly] {
	opacity:0.4;
}

.css textarea {
	height: 500px;
}

#form-properties-template .default {
	margin-left: 12px;	
	border: 1px solid #CCCCCC;
	background-color: #eee;
    padding: 3px;
    display: inline-block;
    vertical-align: text-top;
    width: 36px;
    font-size: .9rem;
}

.static-tabs {
	overflow: hidden;
}

.pages-container {
	overflow: auto;
	max-height: 450px;
}

.pages-container td {
	text-align: left;
}

.file-list {

	.title {
		a {
			display: block;
			background-color: #999;
			padding: 3px 0.5rem;
			margin-top: 0.5rem;
			margin-bottom: 3px;
			color: #fff;
			padding-right: 24px;
			position: relative;
			&:after {
				position: absolute;
				right: 4px;
				top: 4px;
				content: "\F4FD";
				display: inline-block;
				font-family: bootstrap-icons !important;
				font-style: normal;
				font-weight: normal !important;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				vertical-align: -.125em;
				width: 16px;
				font-size: 16px;
			}
			&:hover {
				text-decoration: none;
				background-color: #777;
			}
			&.hidden {
				display: none;
			}
		}
	}

	.active, .low-active {
		.title {
			a:after {
				content: "\F2E9";
			}
		}
		.files {
			display: flex;
		}
		a.active {
			font-weight: bold;
		}
	}

	.low-active {
		.title {
			a:after {
				content: "\F124  \F2E9";
				width: 36px;
			}
		}
	}

	.files {
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: center;

		a {
			width: 50%;
			display: block;
		}
	}

	.file-list-scroll {
		height: calc(100vh - 325px);
		overflow: auto;
	}

}

/*.btn {
	margin-bottom: 5px;
	margin-left: 5px;
}*/

.form-group {
	margin-bottom: 0;
	
}

/** edit images **/

.standard-form table input[type="text"] {
    display: inline-block;
    vertical-align: text-top;
}

.valid-info {
	position: absolute;
	top: 10px;
	right: 10px;
}

.gallery .display-list {
    ul li {
        float: left;
   		width: 25%;
   		margin: 0 0 15px 0;   		
   		.thumb {
   			h2 {
		     	line-height: normal;
		     	font-size: 1em;
		     	text-align: left;
		     	padding: 3px 15px;		     	  		     	
		     	font-weight: normal;   	
		     	border-bottom: 1px #eeeeee solid;
		     	margin-bottom: 3px;	     	
	     	}
   			overflow: hidden;
   			margin: 5px 15px 5px 5px;
   			width: auto;
   			border: 0 none;
			background-color: rgba(0,0,0,0.02);
			opacity: 1;
   			img {
   				float: left;
   				margin: 5px;
   			}   		     
   			.info {
   			    position: relative;
   				float: left;
   				width: auto;
   				top: auto;
   				left: auto;
   				display: block !important;
   				background-color: transparent;
   				background-image: none;
   				opacity: 1 !important;
   				overflow: hidden;
				height: auto;
				padding: 0;
   				label {
   					font-weight: bold;
   				}
   				span {
   					color: #333333;
   				}
   			}
   		}  
   		.thumb:hover {
   			background-color: rgba(0,0,0,0.04);
   		}
   				
   	}
   	.active .thumb {
   			border: 0 none;
   			background-color: rgba(0,255,0,0.04);
   		} 
	.menu {
		display: block;
		float: left;
	}
	.select-template {
		display: block;
		width: 100%;
		overflow: hidden;
	}
}

.info span {
	max-width: 110px;
	max-height: 13px;
  	overflow: hidden;
    display: inline-block;
}

.CodeMirror {
    font-family: monospace;
    height: 65vh;
    color: black;
    direction: ltr;
}

.ui-accordion-content {
	height: auto !important;
}

.files .btn::first-letter {
	text-transform: none;
}

.css-variable-list {
	.form-control {
		width: 90%;
	}
	.css-variable {
		a:hover {
			text-decoration: none;
		}
		a:hover:before {
			content: "\F290";
			display: inline-block;
			font-family: bootstrap-icons !important;
			font-style: normal;
			font-weight: normal !important;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			vertical-align: -.125em;
			width: 16px;
			padding-left: 8px;
			margin-left: -24px;
		}
	}

	.list-var {
		height: calc(100vh - 400px);
		overflow: auto;
	}
}

@media screen and (max-width: 1710px) {
	.gallery .display-list ul li {
		width: 33%;
	}
}

@media screen and (max-width: 1280px) {
	.gallery .display-list ul li {
		width: 50%;
	}
}

